{if $status == 1}
<div class="alert alert-info">
    <strong><i class="icon-ok-sign"></i> {$name}</strong>
    <p>{$desc}</p>
    <a class="btn btn-warning" n:href="uninstallModule">{_'Deactivate Module'}</a>
    <hr>
</div>
{/if}