{if $user->isInRole('admin')}
<div id="addCategory" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel"><i class="icon-pencil"></i> {_'Add Category'}</h3>
            </div>
            <div class="modal-body">
                <p>{_'Please fill in these information'}</p>
                       {control addCategoryForm}
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{_'Close without adding'}</button>
            </div>
        </div> </div> </div>

<div id="addStaticText" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel"><i class="icon-pencil"></i> {_'Add Text'}</h3>
            </div>
            <div class="modal-body">
                <p>{_'Please fill in these information'}</p>
                      {control addStaticTextForm}
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{_'Close without adding'}</button>
            </div>
        </div> </div> </div>

<div id="editDesign" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editDesign" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-tint"></i> {_'Redesign your eshop'}</h4>
            </div>
            <div class="modal-body">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#editLayout" data-toggle="tab"><i class=""></i> {_'Layout'}</a></li>
                        <li><a href="#editMenu" data-toggle="tab"><i class=""></i> {_'Menu'}</a>
                        <li><a href="#editProducts" data-toggle="tab"><i class=""></i> {_'Products'}</a></li>
                        <li><a href="#editProduct" data-toggle="tab"><i class=""></i> {_'Product'}</a></li>
                           <li><a href="#editHomepage" data-toggle="tab"><i class=""></i> {_'Homepage'}</a>
                        <li><a href="#addStyle" data-toggle="tab"><i class=""></i> {_'Add your style.css'}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="editLayout">
                            <ul class="list-unstyled">
                                <li><a class="btn btn-default" n:href="setShopLayout! 'ShopLayout', 'default'" >{_'Default'}</a></li>
                                <li><a class="btn btn-default" n:href="setShopLayout! 'ShopLayout', 'sidemenu'" >{_'Side menu'}</a></li>
                                <li><a class="btn btn-default" n:href="setShopLayout! 'ShopLayout', 'topbar'" >{_'Top bar'}</a></li>
                                <li><a class="btn btn-default" n:href="setShopLayout! 'ShopLayout', 'nosidebar'" >{_'No sidebar'}</a></li>
                            </ul>
                        </div>


                        <div class="tab-pane" id="editMenu">
                            <p>{_'Add one of previously added Spec, or enter a new one bellow. Then click Add spec bellow.'}</p>

                            {control menuSwitcherForm}
                        </div>

                        <div class="tab-pane" id="editProducts">
                            <ul class="list-unstyled">
                                <li><a class="btn btn-default" n:href="setShopLayout! 'ProductMiniLayout', 'fourinline'" >{_'4 in line'}</a></li>
                                <li><a class="btn btn-default" n:href="setShopLayout! 'ProductMiniLayout', 'twoinline'" >{_'2 in line'}</a></li>
                                <li><a class="btn btn-default" n:href="setShopLayout! 'ProductMiniLayout', 'singleton'" >{_'Singleton'}</a></li>
                                <li><a class="btn btn-default" n:href="setShopLayout! 'ProductMiniLayout', 'bigphoto'" >{_'Big photo'}</a></li>
                            </ul>

                        </div>

                        <div class="tab-pane" id="editProduct">
                            <ul class="list-unstyled">
                                <li><a class="btn btn-default" n:href="setShopLayout! 'ProductLayout', 'default'" >{_'Default'}</a></li>
                                <li><a class="btn btn-default" n:href="setShopLayout! 'ProductLayout', 'phototime'" >{_'Photo time'}</a></li>
                                <li><a class="btn btn-default" n:href="setShopLayout! 'ProductLayout', 'contentfocus'" >{_'Content Focus'}</a></li>
                                <li><a class="btn btn-default" n:href="setShopLayout! 'ProductLayout', 'buymore'" >{_'Buy more'}</a></li>
                            </ul>

                        </div>
                        
                        <div class="tab-pane" id="editHomepage">
                            <ul class="list-unstyled">
                                <li><a class="btn btn-default" n:href="setShopLayout! 'HomepageLayout', 'noslider'" >{_'No slider'}</a></li>
                                <li><a class="btn btn-default" n:href="setShopLayout! 'HomepageLayout', 'slider'" >{_'Slider'}</a></li>
                                <li><a class="btn btn-default" n:href="setShopLayout! 'HomepageLayout', 'twopanels'" >{_'Two panels'}</a></li>
                                <li><a class="btn btn-default" n:href="setShopLayout! 'HomepageLayout', 'fullpanel'" >{_'Full Panel'}</a></li>
                            </ul>

                        </div>
                        
                        <div class="tab-pane" id="addStyle">
                        {control uploadStyleForm}
                            {if $style}
                            {_'Current style'}: {$style} <a href="{plink deleteStyle! $style}"><i class="icon-trash"></i></a>
                            {/if}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{_'Close without saving'}</button>
            </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
</div>  

{ifCurrent Product:product}
<div id="editSeo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editSeo" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><i class="icon-star"></i> {_'Product SEO'}</h4>
          </div>
          <div class="modal-body">
              <p class="muted">{_'Why is important to edit this field?'}
              <ul>
                  <li>{_'Your product will be easier to find on Google etc.'}</li>
                  <li>{_'It helps to increase your eshop ranking.'}</li>
                  <li>{_'All this lead to increase your selling power.'}</li>
              </ul>
              
              </p>
            {form productSeoForm}
              {label name /}
              {input name}
              
              {input set}
              
              
            {/form}
        </div>                                    
        <div class="modal-footer">
             <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{_'Close without saving'}</button>
        </div>

    </div>
            </div>
        </div>

<div id="editParam" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editParam" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"><i class="icon-list"></i> {_'Edit Specification'}</h4>
        </div>
        <div class="modal-body">
          <div class="tabbable">
                <ul class="nav nav-tabs">
                    {if $parameter} <li class="active"><a href="#editParams" data-toggle="tab"><i class="icon-pencil"></i> {_'Edit Specs'}</a></li> {/if}
                    <li {if !$parameter}class="active"{/if}><a href="#addParam" data-toggle="tab"><i class="icon-plus"></i> {_'Add Spec'}</a>
                    {if $parameter} <li><a href="#deleteParams" data-toggle="tab"><i class="icon-trash"></i> {_'Delete Spec'}</a></li> {/if}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane {if $parameter}active{/if}" id="editParams">
                            {if $parameter} 
                        <p>{_'Here you can edit all Spec assigned to this product. Edit values and then click Save Spec bellow.'}</p>
                            {control editParamForm} {/if}
                    </div>
                    <div class="tab-pane {if !$parameter}active{/if}" id="addParam">
                        <p>{_'Add one of previously added Spec, or enter a new one bellow. Then click Add spec bellow.'}</p>
                            {control addParamForm}
                    </div>
            {if $parameter}
                    <div class="tab-pane" id="deleteParams">
                        <p>{_'Check all specification you want to delete and then click Delete specs bellow.'}</p>
                      {control deleteParamForm}
                    </div>
                {/if}
                </div>
            </div>
        </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">{_'Close without saving'}</button>
    </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div>    
    
 


    <div id="addVariant" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addVariant" aria-hidden="true">
      <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"><i class="icon-list"></i> {_'Manage product variants'}</h4>
        </div>
        <div class="modal-body">
          <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#addVariants" data-toggle="tab"></i><i class="icon-plus"></i> {_'Add product variants'}</a></li>
                    <li><a href="#manageVariants" data-toggle="tab"> {_'Delete variants'}</a></li>
                   </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="addVariants">

                        <p>{_'Here you can add new product variant.'}</p>
                        {control addProductVariantForm}
                    </div>
                    <div class="tab-pane" id="manageVariants">
                        <div>
                     <p>{_'Manage and delete variants.'}</p>
                     <table>
                         <thead>
                             <tr>
                                 <td class="col-md-5">{_'Variant Name'}</td>
                                 <td>{_'Options'}</td>
                             </tr>
                         </thead>
                         <tbody>
                         {foreach $productVariants as  $id => $productVariant}
                             {if $productVariant->ProductVariantName !== NULL}
                             <tr>
                                 <td><strong>{$productVariant->ProductVariantName}</strong></td>
                                 <td><a class="btn btn-default ajax" href="{plink ArchiveVariantProduct! $productVariant->ProductID}"><i class="icon-trash"></i></a></td>
                             </tr>
                             {/if}
                            {/foreach}
                         </tbody>
                     </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{_'Close without saving'}</button>
        </div>
    </div>
</div>
        </div>

    <div id="stats" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="stats" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><i class="icon-list"></i> {_'Product stats'}</h4>
          </div>
          <div class="modal-body">
            {control gapiModule:product 141}
        </div>                                    
        <div class="modal-footer">
             <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{_'Close without saving'}</button>
        </div>

    </div>
            </div>
        </div>


<div id="addTextPicture" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addTextPicture" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"><i class="icon-list"></i> {_'Add description photo'}</h4>
        </div>
        <div class="modal-body" n:snippet="textPhoto">
           {foreach $adminAlbum as $id => $photo}
                    <div class="clearfix">
                        <div class="col-md-2">
                        <img src="{$basePath}/images/{$albumID}/50-{$photo->PhotoURL}" alt="{$product->ProductName}" class="">
                        </div>
                        <div class="btn-group">
      <a href="#wysiwyg" rel="{$basePath}/images/{$albumID}/50-{$photo->PhotoURL}" class="addTextPicture btn btn-default">{_'Small'}</a>
      <a href="#wysiwyg" rel="{$basePath}/images/{$albumID}/150-{$photo->PhotoURL}" class="addTextPicture btn btn-default">{_'Medium'}</a>
      <a href="#wysiwyg" rel="{$basePath}/images/{$albumID}/300-{$photo->PhotoURL}" class="addTextPicture btn btn-default">{_'Large'}</a>
  </div>
                        <hr>
                    </div>

             {/foreach}
        </div>
    <div class="modal-footer">
        <div class="col-md-12 pull-left">
        {form addPhotoForm class => 'form-inline col-md-12'}
        <div class="form-group col-md-12">
            <div class="input-group col-md-5">
        {input image}
             <p class="help-block"><i class="icon-info-sign"></i> {_'Max size is 2MB ~ 1 Megapixel photos'}</p>   
            </div>
        {input add}
        </div>
        {/form}
     </div>
      <button type="button" class="btn btn-default" data-dismiss="modal">{_'Close without adding'}</button>
    </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div>    



{/ifCurrent}

{ifCurrent Product:products}
<div id="addCategoryPhoto" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel"><i class="icon-plus"></i> {_'Add category photo'}</h3>
    </div>
    <div class="modal-body">
        <p>{_'Please fill in these information'}</p>
                        {control addCategoryPhotoForm}
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{_'Close without adding'}</button>
    </div>
</div>


<div id="deleteCategory" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel"><i class="icon-pencil"></i> {_'Delete'} {$category->CategoryName} {_'Category'}?</h3>
    </div>
    <div class="modal-body">
        <p>{_'Are you sure to delete this category?'}</p>
        <p>{_'If so, choose where to move products!'}</p>

    </div>
    <div class="modal-footer">
                 {control deleteCategoryForm}
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{_'Close without adding'}</button>
    </div>
</div>
</div>
</div>
    <div id="addCategory" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel"><i class="icon-pencil"></i> {_'Add Category'}</h3>
    </div>
    <div class="modal-body">
                <p>{_'Please fill in these information'}</p>
    {control addCategoryForm}
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{_'Close without adding'}</button>
    </div>
</div>



<div id="addProduct" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addProduct" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add Product</h4>
      </div>
 <div class="modal-body" n:snippet="newproduct">

     {form addProductForm role => 'form'}
<ul class="errors" n:if="$form->hasErrors()">
        <li n:foreach="$form->errors as $error">{$error}</li>
</ul> 
<div class="form-group">
    {label name /}
    {input name}
</div><div class="form-group">
    {label price /}
    <div class="input-group">
    <span class="input-group-addon">$</span>
    {input price}
    </div> 
    </div><div class="form-group">
    {label amount /}
    {input amount}
    </div><div class="form-group">
    {label image /}
    {input image}
        <p class="help-block"><i class="icon-info-sign"></i> Max size is 2MB ~ 1 Megapixel photos</p>
    </div><div class="form-group">
    {input add}
    </div>
    
{/form}
  <span class="help-block"><i class="icon-info-sign"></i> {_'Enter this basic info. All other can be added later.'}</span>  

</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close without adding</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="editSeo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editSeo" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><i class="icon-star"></i> {_'Category SEO'}</h4>
          </div>
          <div class="modal-body">
              <p class="muted">{_'Why is important to edit this field?'}
              <ul>
                  <li>{_'Your category will be easier to find on Google etc.'}</li>
                  <li>{_'It helps to increase your eshop ranking.'}</li>
                  <li>{_'All this lead to increase your selling power.'}</li>
              </ul>
              {_'Quick tip:'} {_'Change category name like this - Glasses => Sport Sunglasses from USA'}.
              </p>
            {form categorySeoForm}
              {label name /}
              {input name}
              {input set}
            {/form}
        </div>                                    
        <div class="modal-footer">
             <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{_'Close without saving'}</button>
        </div>

    </div>
            </div>
        </div>

{/ifCurrent}
{/if}

    {control modalControl:tracking}