{if $user->isInRole('admin')}

{control menu:modal}

{control redesignControl:modal}

{ifCurrent Product:product}
<div id="editSeo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editSeo" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><i class="icon-star"></i> {_modals.admin.product-seo}</h4>
          </div>
             
    {form productSeoForm}

          <div class="modal-body">
              <p class="muted">{_modals.admin.seo-why}
              <ul>
                  <li>{_modals.admin.seo-one}</li>
                  <li>{_modals.admin.seo-two}</li>
                  <li>{_modals.admin.seo-three}</li>
              </ul>
              
              </p>
              {label name /}
              {input name}
              
              
              
        </div>                                    
        <div class="modal-footer">
                          {input set}

             <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{_control.button.close-without}</button>
        </div>
            {/form}

    </div>
            </div>
        </div>

<div id="editParam" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editParam" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"><i class="icon-list"></i> {_modals.admin.param-name}</h4>
        </div>
        <div class="modal-body">
          <div class="tabbable">
                <ul class="nav nav-tabs">
                    {if $parameter} <li class="active"><a href="#editParams" data-toggle="tab"><i class="icon-pencil"></i> {_modals.admin.param-edit}</a></li> {/if}
                    <li {if !$parameter}class="active"{/if}><a href="#addParam" data-toggle="tab"><i class="icon-plus"></i> {_modals.admin.param-add}</a>
                    {if $parameter} <li><a href="#deleteParams" data-toggle="tab"><i class="icon-trash"></i> {_modals.admin.param-delete}</a></li> {/if}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane {if $parameter}active{/if}" id="editParams">
                            {if $parameter} 
                        <p>{_'Here you can edit all Spec assigned to this product. Edit values and then click Save Spec bellow.'}</p>
                            {control editParamForm} {/if}
                    </div>
                    <div class="tab-pane {if !$parameter}active{/if}" id="addParam">
                        <p>{_'Add one of previously added Spec, or enter a new one bellow. Then click Add spec bellow.'}</p>
                            {control addParamForm}
                    </div>
            {if $parameter}
                    <div class="tab-pane" id="deleteParams">
                        <p>{_'Check all specification you want to delete and then click Delete specs bellow.'}</p>
                      {control deleteParamForm}
                    </div>
                {/if}
                </div>
            </div>
        </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">{_'Close without saving'}</button>
    </div>
    </div> <!-- /.modal-content -->
</div> <!-- /.modal-dialog -->
</div>    
    

    <div id="stats" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="stats" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><i class="icon-list"></i> {_'Product stats'}</h4>
          </div>
          <div class="modal-body">
            {*control gapiModule:product 141*}
        </div>                                    
        <div class="modal-footer">
             <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{_'Close'}</button>
        </div>

    </div>
            </div>
        </div>


<div id="addTextPicture" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addTextPicture" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"><i class="icon-list"></i> {_'Add description photo'}</h4>
        </div>
        <div class="modal-body" n:snippet="textPhoto">
           {foreach $adminAlbum as $id => $photo}
                {dump $adminAlbum}
                    <div class="clearfix">
                        <div class="col-md-2">
                        <img src="{$basePath}/images/{$albumID}/50-{$photo->PhotoURL}" alt="{$product->ProductName}" class="">
                        </div>
                        <div class="btn-group">
      <a href="#wysiwyg" rel="{$basePath}/images/{$albumID}/50-{$photo->PhotoURL}" class="addTextPicture btn btn-default">{_'Small'}</a>
      <a href="#wysiwyg" rel="{$basePath}/images/{$albumID}/150-{$photo->PhotoURL}" class="addTextPicture btn btn-default">{_'Medium'}</a>
      <a href="#wysiwyg" rel="{$basePath}/images/{$albumID}/300-{$photo->PhotoURL}" class="addTextPicture btn btn-default">{_'Large'}</a>
  </div>
                        <hr>
                    </div>

             {/foreach}
        </div>
    <div class="modal-footer">
        <div class="col-md-12 pull-left">
        {form addPhotoForm class => 'form-inline col-md-12'}
        <div class="form-group col-md-12">
            <div class="input-group col-md-5">
        {input image}
             <p class="help-block"><i class="icon-info-sign"></i> {_'Max size is 2MB ~ 1 Megapixel photos'}</p>   
            </div>
        {input add}
        </div>
        {/form}
     </div>
      <button type="button" class="btn btn-default" data-dismiss="modal">{_'Close without adding'}</button>
    </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div>    



{/ifCurrent}

{ifCurrent Catalog:default}
<div id="addCategoryPhoto" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel"><i class="icon-plus"></i> {_'Add category photo'}</h3>
    </div> {form addCategoryPhotoForm}
    <div class="modal-body">
        <p>{_'Select image you would like to assigne to category'} {$category->CategoryName}</p>
        <div class="form-group">   
         {label image /}
            {input image}
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group">
        {input add}
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{_'Close without adding'}</button>
        </div>
    </div> {/form}
</div>
</div>
</div>


<div id="deleteCategory" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel"><i class="icon-pencil"></i> {_'Delete'} {$category->CategoryName} {_'Category'}?</h3>
    </div>
    <div class="modal-body">
        <p>{_'Are you sure to delete this category?'}</p>
        <p>{_'If so, choose where to move products!'}</p>

    </div>
    <div class="modal-footer">
                 {control deleteCategoryForm}
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{_'Close without delete'}</button>
    </div>
</div>
</div>
</div>


<div id="addProduct" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addProduct" aria-hidden="true">
  <div class="modal-dialog" n:snippet="newproduct">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add Product</h4>
      </div>
            {form addProductForm}
 <div class="modal-body" >

<div class="form-group">
    {label name /}
    {input name}
</div><div class="form-group">
    {label price /}
    <div class="input-group">
    <span class="input-group-addon">$</span>
    {input price}
    </div> 
    </div><div class="form-group">
    {label amount /}
    {input amount}
    </div><div class="form-group">
    {label image /}
    {input image}
        <p class="help-block"><i class="icon-info-sign"></i> Max size is 2MB ~ 1 Megapixel photos</p>
    </div>
    

  <span class="help-block"><i class="icon-info-sign"></i> {_'Enter this basic info. All other can be added later.'}</span>  

</div>
      <div class="modal-footer">
          <div class="form-group">
          {input add}
          <button type="button" class="btn btn-default" data-dismiss="modal">{_'Close without adding'}</button>
          </div>
      </div>
{/form}
          </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="editSeo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editSeo" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><i class="icon-star"></i> {_'Category SEO'}</h4>
          </div>
            {form categorySeoForm}
          <div class="modal-body">
              <p class="muted">{_'Why is important to edit this field?'}
              <ul>
                  <li>{_'Your category will be easier to find on Google etc.'}</li>
                  <li>{_'It helps to increase your eshop ranking.'}</li>
                  <li>{_'All this lead to increase your selling power.'}</li>
              </ul>
              {_'Quick tip:'} {_'Change category name like this - Glasses => Sport Sunglasses from USA'}.
              </p>
            
              {label name /}
              {input name}
              
           
        </div>                                    
        <div class="modal-footer">
            {input set}
             <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{_'Close without saving'}</button>
        </div>
             {/form}

    </div>
            </div>
        </div>

{/ifCurrent}

{ifCurrent Blog:staticText}
<div id="addTextPicture" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addTextPicture" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"><i class="icon-list"></i> {_'Add description photo'}</h4>
        </div>
        <div class="modal-body">
           {foreach $adminAlbum as $id => $photo}
            {dump $adminAlbum}
                    <div class="clearfix">
                        <div class="col-md-2">
                        <img src="{$basePath}/images/static/{$photo->PhotoAlbumID}/s-{$photo->PhotoURL}" alt="{$post->StaticTextName}" class="img-responsive">
                        </div>
                        <div class="btn-group">
      <a href="#wysiwyg" rel="{$basePath}/images/static/{$photo->PhotoAlbumID}/s-{$photo->PhotoURL}" class="addTextPicture btn btn-default">{_'Small'}</a>
      <a href="#wysiwyg" rel="{$basePath}/images/static/{$photo->PhotoAlbumID}/m-{$photo->PhotoURL}" class="addTextPicture btn btn-default">{_'Medium'}</a>
      <a href="#wysiwyg" rel="{$basePath}/images/static/{$photo->PhotoAlbumID}/l-{$photo->PhotoURL}" class="addTextPicture btn btn-default">{_'Large'}</a>
  </div>
                        <hr>
                    </div>

             {/foreach}
        </div>
    <div class="modal-footer">
        <div class="col-md-12 pull-left">
        {form addPhotoStaticForm}
        <div class="form-group col-md-12">
            <div class="input-group col-md-5">
        {input image}
             <p class="help-block"><i class="icon-info-sign"></i> {_'Max size is 2MB ~ 1 Megapixel photos'}</p>   
            </div>
        {input addPhoto}
        </div>
        {/form}
     </div>
      <button type="button" class="btn btn-default" data-dismiss="modal">{_'Close without adding'}</button>
    </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div>    
{/ifCurrent}

{ifCurrent Homepage:contact}
<div id="addTextPicture" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addTextPicture" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"><i class="icon-list"></i> {_'Add description photo'}</h4>
        </div>
        <div class="modal-body">
           {foreach $adminAlbum as $id => $photo}
                    <div class="clearfix">
                        <div class="col-md-2">
                        <img src="{$basePath}/images/static/{$photo->PhotoAlbumID}/s-{$photo->PhotoURL}" alt="{$post->StaticTextName}" class="img-responsive">
                        </div>
                        <div class="btn-group">
      <a href="#wysiwyg" rel="{$basePath}/images/static/{$photo->PhotoAlbumID}/s-{$photo->PhotoURL}" class="addTextPicture btn btn-default">{_'Small'}</a>
      <a href="#wysiwyg" rel="{$basePath}/images/static/{$photo->PhotoAlbumID}/m-{$photo->PhotoURL}" class="addTextPicture btn btn-default">{_'Medium'}</a>
      <a href="#wysiwyg" rel="{$basePath}/images/static/{$photo->PhotoAlbumID}/l-{$photo->PhotoURL}" class="addTextPicture btn btn-default">{_'Large'}</a>
  </div>
                        <hr>
                    </div>

             {/foreach}
        </div>
    <div class="modal-footer">
        <div class="col-md-12 pull-left">
        {form addPhotoStaticForm}
        <div class="form-group col-md-12">
            <div class="input-group col-md-5">
        {input image}
             <p class="help-block"><i class="icon-info-sign"></i> {_'Max size is 2MB ~ 1 Megapixel photos'}</p>   
            </div>
        {input addPhoto}
        </div>
        {/form}
     </div>
      <button type="button" class="btn btn-default" data-dismiss="modal">{_'Close without adding'}</button>
    </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div>    
{/ifCurrent}

{ifCurrent Blog:category}

<div id="addPost" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel"><i class="icon-plus"></i> Add new post</h3>
            </div> {form addPostForm}
            <div class="modal-body">
                <p>{_'Please fill in these information'}</p>
               {label name /}
                {input name}
                
                {label cat /}
                {input cat}
                
              
            </div>
            <div class="modal-footer">
               {input add}
              <button class="btn" data-dismiss="modal" aria-hidden="true">{_'Close without adding'}</button>
            </div> {/form}
        </div>
       </div>
    </div>

{/ifCurrent}

{/if}


<div id="lookAround" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="lookAround" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel"><i class="icon-smile"></i> {_'Check our main features'}</h3>
            </div>
            <div class="modal-body">
               
                <h3>{_'WYSIWYG - the simplest way to manage your shop.'}</h3>
                <img src="http://birnex.com/images/birneshop_mobile.png" alt="birneshop" class="col-md-2 pull-right">
                <p>{_'Forget to learn and search throw diffucult administration.'} 
                   {_'Everything in your shop is editable right on place.'} 
                   {_'Just click on Names, Descriptions, Photos... and edit them. You will love it.'}<br>
                   <a class="btn btn-default" href="{plink Sign:in}">{_'Are you ready to see how this all work?'}</a></p>
                
                <h3>{_'Mobile by default, including administration.'}</h3>
                        
                <p>
                <img src="http://birnex.com/images/birneshop_stat.png" alt="birneshop" class="col-md-2">
                {_'Yes, everyone has smartphone and browsing internet on tablet.'} 
                {_'Be ready for mobile customers and surprise them!'} <br>
                {_'And we know, you like smart devices too.'} <br>
                {_'So you can manage the whole store right from your iOS/Android device without having special app.'}
                </p>
                
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{_'Close and test'}</button>
            </div>
        </div> </div> </div>



    {control modalControl:tracking}