
<div class="alert alert-info text-center"><i class="icon-info-sign"></i> 
{_'You are logged in as admin. You can simply edit this category by clicking on Title, Description or panel bellow etc. More info?'}
 </div>
