
<ul class="breadcrumb">
  <li><a href="{$basePath}">{_menu.m.home}</a> <span class="divider"></span></li>
  {foreach $category as $catID => $cat}
    
  {ifCurrent Catalog:default $catID, $cat} 
  <li class="active">{$cat}</a></li>
  {else}
  <li><a href="{plink Catalog:default $catID, $cat}">{$cat}</a> <span class="divider"></span></li>
  {/ifCurrent}
  
  {/foreach}
  {if $product}
  <li class="active">{$product->ProductName}</a></li>
  {/if}
</ul>