<h3 class="menuHeader">{_menu.m.brand}</h3>
{foreach $producers as $prodID => $producer}
      <li class=""><a href="{plink Catalog:productsBrand $prodID, $producer->ProducerName}">{$producer->ProducerName}</a></li> 
  {/foreach}