{if $status == 1}
<h3>{_module.comment.latest-title} <small><a href="{plink SmartPanel:default}">{_module.comment.more} <i class="icon-comments"></i></a></small></h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{_module.comment.date}</th>
                            <th>{_module.comment.subject}</th>
                            <th>{_module.comment.name}</th>
                            <th>{_module.comment.status}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $comments as $id => $comment}

                        <tr class="">
                            <td>{$id}</td>
                            <td>{$comment->DateOfAdded|date:'%d.%m.%Y'}</td>
                            <td><a href="{plink Product:product $comment->ProductID}">{$comment->CommentTitle}</a></td>
                            <td>{$comment->Author},-</td>
                            <td><a href='{link deleteComment! $id}'><i class='icon-trash'></i></a></td>
                        </tr>

                        {/foreach}
                    </tbody>
                </table>
{/if}