    <div class="table-responsive" n:snippet="cartTable">
    <table class="table cart">
    <thead>
                <tr>
                    <th ></th>
                    <th>{_order.cart.product}</th>
                    <th >{_order.cart.amount}</th>
                    <th >{_order.cart.price}</th>
                    <th >{_order.cart.subtotal}</th>
                    <th></th>
                    
                </tr>
            </thead>
            
            <tbody >
{var $grandtotal = 0}
{foreach $cart as $id => $products}
    {foreach $products as $amnt => $product}
        {var $subtotal = $amnt * $product->FinalPrice}
                <tr>
                    <td><a n:href="removeItem! $id" class="ajax"><i class="icon-trash"></i></a></td>
                    
                    {if $product->ProductVariantName}
                    <td><a href="{plink Product:product $product->ProductVariants, $product->ProductName}">{$product->ProductName}</a> - {$product->ProductVariantName}</td>
                    {else}
                    <td><a href="{plink Product:product $product->ProductID, $product->ProductName}">{$product->ProductName}   </a></td>
                    {/if}
                    
                    <td><a href="{link addAmount! $id}" class="ajax"><i class="icon-plus-sign"></i></a> {$amnt} {_order.cart.pcs}
                        
                        <a href="{link removeAmount! $id}" class="ajax"><i class="icon-minus-sign"></i></a></td>
                    <td><span>{$product->FinalPrice},-</span></td>
                    <td><span>{$subtotal},-</span></td>
                    <td></td>
                    
                </tr>
           {var $grandtotal = $grandtotal + $subtotal}
    {/foreach}
{/foreach}
               
                <tr>
                    <td></td>
                    <td><a href="{plink Order:order}" class="btn btn-danger btn-sm">{_order.cart.checkout} <i class="icon-arrow-right"></i></a></td>
                    <td colspan="3" class="text-left"> <strong>{_order.checkout.total}:</strong><br>
                        <span class="ordertotal">{$grandtotal},-</span></td>

                </tr>
                
            </tbody>
            
        </table>
    </div>