{if $status == 1}
<div class="span12 product-info-box">
    <strong><i class="icon-check"></i> {_'Review'}</strong>
<div class="modal-body span12">

            {if $comments}
                <ul class="nav">
                {foreach $comments as $id => $comment}
                    <li><strong>{$comment->CommentTitle}</strong>{$comment->CommentContent}
                                   {if $user->isInRole('admin')}
                            <a href="{link deleteComment! $id}"><i class="icon-trash" ></i> {_'Delete comment'}</a></li>
                                      {/if}
                              {/foreach}
                </ul>
                {/if}
            </div>
            <div class="span12">
             
                     {control addCommentForm}


</div>
    {if $user->isInRole('admin')}
            <p class="muted"><i class="icon-info-sign"></i> {_'To remove this module visit'} <a href='{plink smartPanel:modules}' >{_'SmartPanel'}</a>
                </p>
    {/if}
</div>
{elseif $user->isInRole('admin')}
<a n:href='installModule' class="btn btn-primary">{_'Add Comments module'}</a>
{/if}