                {foreach $category as $catID => $cat}
                {if !$cat->HigherCategoryID}
                {if $cat->CategoryStatus != 4}
<li class="{ifCurrent Product:products $catID, $cat->CategoryName}active{/ifCurrent}{if $catID == $ct} active{/if}"><a href="{plink product:products $catID, $cat->CategoryName}">
                    {if $cat->CategoryStatus == 0} <i class="icon-eye-close"></i> {/if}
                    {$cat->CategoryName}</a></li> 
                {/if}{/if}
                {/foreach}

    {foreach $menu as $postID => $post}
    <li class="{ifCurrent Blog:staticText $postID}active{/ifCurrent}"><a href="{plink Blog:staticText $postID}">{$post->StaticTextName}</a></li> 
    {/foreach}

    <li class="{ifCurrent Blog:category}active{/ifCurrent}"><a href="{plink Blog:category}">{_"Blog"}</a></li>
    {if $user->isInRole('admin')}

<li><a href="#addStaticText" data-toggel="modal" data-target="#addStaticText" id="addStaticTextButton"><i class="icon-large icon-plus-sign-alt"></i> {_"ADD Text"}</a></li>
<li><a href="#addCategory" data-toggel="modal" data-target="#addCategory" id="addCategoryButton"><i class="icon-large icon-plus-sign-alt"></i> {_"ADD Category"}</a></li>

                {/if}
