
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li class="active"><a href="{plink Homepage:default}">{_"Home"}</a></li>
                <li class=""><a href="{plink Product:products "2"}">{_"Category"} 2</a></li>
                <li class=""><a href="{plink Order:cart}">{_"Cart"} {if $cart > 0}<span class="badge badge-info">{$cart}</span>{else}<span class="badge">{$cart}</span>{/if}</a></li>
                <li class=""><a href="{plink Order:orders}">{_"Orders"}</a></li>
            </ul>
        </div>
    </div>
</div>