<ul class="thumbnails">
            {while $product = $products->fetch()}
            <li class="span3">
                <div class="thumbnail">
                    <img src="http://www.google.com/nexus/images/n4-product-hero.png" class="img-circle" style="height: 200px; width: auto;"/>
                    <h2>{$product->ProductName}</h2>
                    <div class="caption">
                        <p>
                            {$product->ProductDescription}
                        </p>
                       
                        <a href="{plink Product:product $product->ProductID}" class="btn btn-primary"><i class="icon-info-sign"></i> View</a>
                        <hr>
                        <p class="text-success lead"><a href="{plink Order:cart $product->ProductID}" class="btn btn-success"><i class="icon-shopping-cart"></i> Buy</a> {$product->FinalPrice},- </p>
                    </div>
                </div>
            </li>
            {/while}
</ul>