<ul class="thumbnails">
            {while $product = $products->fetch()}
    <li class="span3">
        <div class="thumbnail">
           {if $user->isLoggedIn()}
            <div class="row">
            {ifCurrent Homepage:}
            <div class="span3">
                {_"You cannot edit product here!"}
            </div>
            {else}
            <div class="span3">
                {_"Admin"}: <a href="{plink deleteProduct! $product->ProductID, $product->CategoryID}" ><i id="deleteProduct" class="icon-large icon-trash"></i></a>
            
            </div>
            {/ifCurrent}
            </div>
            <hr>
            {/if}
                    {if $product->PiecesAvailable > 5}
            <span class="badge badge-info">{$product->PiecesAvailable}</span>
                    {else}
            <span class="badge badge-warning">{$product->PiecesAvailable}</span>
                    {/if}
            {var $ph = 0}
            {foreach $photos as $id => $photo}
               
                {if $id==$product->PhotoAlbumID}
                   <img src="{$basePath}/images/{$product->PhotoAlbumID}/{$photo->PhotoURL}" class="img-circle" class="span2" style="height: 200px; width: auto;"/>
                   {var $ph = 1}
                {/if}
                   
               {if $iterator->last && $ph == 0}
                   <img src="{$basePath}/images/no_image.jpg" class="img-circle" class="span2" style="height: 200px; width: auto;"/>
                   {/if}
           {/foreach}
            
            <h4>{$product->ProductName}</h4>
            <div class="caption">{var $desc = $product->ProductDescription}
                <p>{$desc|truncate:30}</p>
            </div>
            <hr>
            <div class="row">
                    <div class="span3 center">
                            
                    
                        <a href="{plink Order:cart $product->ProductID, "1"}" class="btn btn-success"><i class="icon-shopping-cart"></i> {_"Buy"}</a>
                        
                         <a href="{plink Product:product $product->ProductID}" class="btn btn-primary"><i class="icon-info-sign"></i> {_"View"}</a>         
                    </div>
              </div> 
            <hr>
            <div class="row">
                    <div class="span3">
                         
                        <p class="text-success text-left lead"> {$product->FinalPrice},- </p>
                    </div>
               
            </div> 

        </div>
    </li>
            {/while}
</ul>