{if $status == 1}
<div class="alert alert-info">
    <strong><i class="icon-ok-sign"></i> {$name}</strong>
    <p>{$desc}</p>
    <a n:href="updateXML!" class="btn btn-primary">{_'Update'} Zásilkovna</a>
    <a class="btn btn-warning" n:href="uninstallModule">{_'Deactivate Module'}</a>
     <hr>
    <p><strong>{_'Settings'}</strong></p>
    {control priceForm}
</div>
{/if}