    <div class="span12 pricetag margin5 " n:snippet="variant">
        
        
        
        {if $user->isInRole('admin')}
            <div class="btn-group span12 margin5">
              <button class="btn" id="editPriceOff{$productVariant->ProductID}" class="hide" style="display: none;">{_'Finish Editing Price'}</button>
              <button class="btn" id="editPrice{$productVariant->ProductID}">{_'Edit Price'}</button> 
            </div>
              {/if}
        
        
         {if $productVariant->ProductVariantName}
        
        <h4>{_'Variant'}: <span class="prodVarTitle{$productVariant->ProductID}" n:snippet=editProdVarTitle{$productVariant->ProductID}">{$productVariant->ProductVariantName}</span></h4>

                    {/if}
                    
              
            
            
            
        
            <div n:snippet="prodPrice{$productVariant->ProductID}" class="span4 text-center">
              {if $user->isInRole('admin')}
                
               <div id="editProdPrice{$productVariant->ProductID}" class="hide span12">
                <p>{_'Discount'}:</p>
                     <div class="btn-group">

                     <a href="{link setSale! $productVariant->ProductID, 5, 'percent'}" class="ajax btn discountbtn">5%</a>
                     <a href="{link setSale! $productVariant->ProductID, 10, 'percent'}" class="ajax btn discountbtn">10%</a>
                     <a href="{link setSale! $productVariant->ProductID, 15, 'percent'}" class="ajax btn discountbtn">15%</a>
                     <hr>   
                     </div>
                 {control editPriceForm }
                </div>
              {/if}
             <div id="prodPrice{$productVariant->ProductID}" class="span12 text-center">
                 <span class="badge badge-info span12">
                

                                 <span class="span12 text-center">{_"Price"}</span> 
                                 {if $productVariant->SALE > 1}
                                 <span n:snippet="prodSale{$productVariant->ProductID}" class="span12">
                    <span class="badge badge-important">- {$productVariant->SALE},- / {var $procent = 100 * ($productVariant->SALE / $productVariant->SellingPrice)} {$procent|number}%</span>
                        <span class="span12" style="text-decoration: line-through;">{$productVariant->SellingPrice},-</span>
                                 </span>
                {/if}
                                 <h2 class="span12 text-center prodPrice">{$productVariant->FinalPrice},-</h2>

                                 </span>
              </div>
            </div>
                
                
            <div class="span3 text-center">
                    {if $productVariant->PiecesAvailable >= 5}
                    <span class="badge badge-success span12">
                    {elseif $productVariant->PiecesAvailable < 5 && $productVariant->PiecesAvailable > 0}
                        <span class="badge badge-warning span12">
                    {elseif $productVariant->PiecesAvailable < 1 }
                            <span class="badge badge-inverse span12">
                        {/if}
<span class="span12 text-center">{_"In stock"}</span> <span class="prodAmount{$productVariant->ProductID} span12 text-center" n:snippet="prodAmount{$productVariant->ProductID}">{if $productVariant->PiecesAvailable > 0}{$productVariant->PiecesAvailable}{else}0{/if}</span></span>
                                                      

                            </div>
        
               <div class="span3 text-center">
                    <span class="badge badge-inverse span12">
                             <span class="span12 text-center">{_"Shipping"} {_'from'}</span> 
                             <h3 class="span12 text-center">{$shippingPrice|number},-</h3></span>                            
                            </div>
        
        <a href="{plink addToCart! $productVariant->ProductID, "1"}" class="span9 btn btn-primary margin5">
                <i class="icon-shopping-cart"></i> {_'Buy'}</a>
        </div>