{if $status == 1}
<div class="alert alert-info">
    <strong><i class="icon-ok-sign"></i> {$name}</strong>
    <p>{$desc}</p>
    <a n:href="updateXML!" class="btn btn-primary">{_module.default.update} XML feed</a>
    <a class="btn btn-warning" n:href="uninstallModule">{_module.default.deactivate}</a>
</div>
{/if}
