#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	parameters:
		vat: 1.2
		currency: CZK

	php:
		date.timezone: Europe/Prague
		# zlib.output_compression: yes

	nette:
		application:
			errorPresenter: Error

		database:
			dsn: 'mysql:host=localhost;dbname=shop'
			user: 'root'
			password: ''

		session:
			expiration: 50 days

	dibi:
		host: localhost
		username: root
		password: 
		database: shop
		lazy: TRUE

	services:
		authenticator: Authenticator
		repository: Repository
		routerFactory: RouterFactory
		router: @routerFactory::createRouter
		productModel: ProductModel
		shopModel: ShopModel
		catalogModel: CatalogModel
		categoryModel: CategoryModel
		orderModel: OrderModel
		userModel: UserModel
		blogModel: BlogModel
	extensions:
		console: Kdyby\Console\DI\ConsoleExtension
		translation: Kdyby\Translation\DI\TranslationExtension
	translation:
		default: cs
		fallback: [cs_CZ, cs]


	factories:
production < common:

development < common:
