#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	parameters:
		vat: 1.2
		currency: CZK

	php:
		date.timezone: Europe/Prague
		# zlib.output_compression: yes

	nette:
		application:
			errorPresenter: Error

		database:
			dsn: 'mysql:host=localhost;dbname=shop'
			user: 'root'
			password: ''

		session:
			expiration: 50 days

	dibi:
		host: localhost
		username: root
		password: 
		database: shop
		lazy: TRUE

	services:
		authenticator: Authenticator
		repository: Repository
		routerFactory: RouterFactory
		router: @routerFactory::createRouter
		productModel: ProductModel
		shopModel: ShopModel
		catalogModel: CatalogModel
		categoryModel: CategoryModel
		orderModel: OrderModel
		userModel: UserModel
		blogModel: BlogModel
	extensions:
		exchangeExtension: h4kuna\Exchange\DI\ExchangeExtension
	exchangeExtension:
		currencies: {
			czk: [decimal: 5, symbol: 'Kč', point: ',', thousand: ' ', mask: 'S 1', zeroClear: true]
			usd: [symbol: '$']
			gbp: [mask: 'S1', thousand: '.', symbol: '£', decimal: 0] }
		vat: 20.5
		vatIn: false
		vatOut: false	
	gettextTranslator:
		lang: cs
		files:
			front: %appDir%/lang # for module Front and other non-specified modules
			admin: %appDir%/lang-admin # for module Admin
        # optional with defaults
	#		layout: horizontal # or: vertical
	#		height: 450


	factories:
production < common:

development < common:
