/* 
    Document   : theme.css
    Created on : 1.6.2013, 12:28:17
    Author     : Lukas
    Description:
        Custom style not included in Bootstrap
*/

.jumbotron {
        margin: 20px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 100px;
        line-height: 1;
      }
      .jumbotron .lead {
        font-size: 24px;
        line-height: 1.25;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }
      
 a:hover i {
        text-decoration: none;
        }

.pr-btn {
        margin: 0 auto;
        float: none;
    }
    
    .masterhead a:hover {
        text-decoration: none;
    }
 
    li .setview {
        min-width: 270px;
    }
    
    .productCaption {
        height: 85px!important
    }
    
    .supercontainer {
        background: white;
        padding: 18px;
    }
    
    .miniproduct {
        background-color: white;
        overflow: hidden;
        -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
padding: 5px;
border: 1px solid #ccc;
    }
    
    .miniproduct > .alert {
        margin-bottom: 0px;
    }
    .imgLiquid img{
    visibility:hidden;
}

.mceEditor {overflow:scroll; max-height:300px} 

.lightbox {
	background-color: transparent;
	text-align: center;
	line-height: 0;
	z-index: 1050;
	position: relative;
	top: 70px;
	outline: none;
}
.lightbox .hide {
		display: none;
	}

.lightbox .in {
		display: block;
	}

.lightbox-content {
	display: inline-block;
	padding: 10px;
	background-color: #ffffff;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.3);
	*border: 1px solid #999;
	/* IE6-7 */
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
}
	.lightbox-caption {
		padding: 2%;
		position: absolute;
		left: 11px;
		right: 12px;
		bottom: 11px;
		background: #000;
		background: rgba(0, 0, 0, 0.6);
		color: white;
		text-align: center;
		text-shadow: 0 -1px 0 #000;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
		font-size: 14px;
		line-height: 18px;
	}

.lightbox-header .close {
		color: white;
		margin-right: -16px;
		margin-top: -16px;
		font-size: 2em;
		opacity: .8;
		filter: alpha(opacity=80);
}
.lightbox-header .close:hover {
			opacity: .4;
			filter: alpha(opacity=40);
		}

                .grey {
                    background-color: #f9f9f9;
                }
                
                
                .margin5 {
                    margin: 5px;
                }
                
                #categoryinfo {
                    display: none;
                }
                
.carousel-caption {

    background: transparent;
        

}

body {
    background: url(bg.png) repeat top left grey;
}

.container {
    background: transparent;
}

.carousel-inner>.item {
    height: 170px;
}

.carousel-indicators li {
    background: #ccc!important;
}

.carousel-indicators .active {
    background: #fff!important;
}

.post {
    background: white;
    padding: 0px 8px 0px 8px;
text-align: justify;
}