{block pageheader}
{if $user->isInRole('admin')}
<div class="page-header">
        <h1 n:block="title"><i class="icon-lightbulb"></i> Smart Panel<small> Here is all you need!</small></h1>
     
<div class="row">
            <div class="span10">
                <a href="{plink SmartPanel:orders }"><i class="icon-spinner"></i> {_"Orders"}</a> |
                <a href="{plink SmartPanel:warehouse }"><i class="icon-retweet"></i> {_"Warehouse"}</a> |
                <a href="{plink SmartPanel:shipping }"><i class="icon-truck"></i> {_"Shipping"}</a> |
                <a href="{plink SmartPanel:payment }"><i class="icon-money"></i> {_"Payment"}</a> |
                <a href="#"><i class="icon-large icon-bar-chart"></i> {_"Stats"}</a>
            </div>
        </div>
</div>

</div>
{/if}
{/block}

{block content}
<div class="span10"> 
    {if $user->isInRole('admin')}

   <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#overal"  data-toggle="tab">Overal</a></li>
          <li><a href="#account"  data-toggle="tab">Account</a></li>
          <li><a href="#other"  data-toggle="tab">Other</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="overal">
              <div class="span5"> 
              <h3>Latest Orders <small><a n:href="SmartPanel:orders">All orders <i class="icon-spinner"></i></a></small></h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th>Customer</th>
                            <th>Total</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $orders as $id => $order}

                        <tr class="{if $order->StatusID == 3}success {elseif $order->StatusID == 2} info {else} warning {/if}">
                            <td>{$id}</td>
                            <td>{$order->DateCreated|date:'%d.%m.%Y'}</td>
                            <td><a href="{plink SmartPanel:orderDetail $id}">{$order->Name}</a></td>
                            <td>{$order->TotalPrice},-</td>
                            <td>{$order->StatusName}</td>
                        </tr>

                        {/foreach}
                    </tbody>
                </table>
              </div>
              
              <div class="span4">
                  <h3>Stats <small><a n:href="SmartPanel:default">More stats <i class="icon-bar-chart"></i></a></small></h3>
                  <div class="alert alert-info span4">
                  <h4>This month</h4>
                  <p class="span4"><strong>Successfull orders:</strong> {$ord}
                        </p>
                        <p class="span4"><strong>Total revenue:</strong> $50 000</p>
                        <p class="span4"><strong>Best seller:</strong> Nexus 4</p>
                  </div>
                  <div class="alert alert-info span4">
                   <h4>Overal</h4>  
                   <p class="span4"><strong>Successfull orders:</strong> {$ord}
                        </p>
                        <p class="span4"><strong>Total revenue:</strong> $50 000</p>
                        <p class="span4"><strong>Best seller:</strong> Nexus 4</p>
                  </div>
              </div>
              
              <div class="span5">
                <h3>Latest Comments <small><a n:href="SmartPanel:default">More comments <i class="icon-comments"></i></a></small></h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th>Subject</th>
                            <th>Name</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $orders as $id => $order}

                        <tr class="{if $order->StatusID == 3}success {elseif $order->StatusID == 2} info {else} warning {/if}">
                            <td>{$id}</td>
                            <td>{$order->DateCreated|date:'%d.%m.%Y'}</td>
                            <td><a href="{plink SmartPanel:orderDetail $id}">{$order->Name}</a></td>
                            <td>{$order->TotalPrice},-</td>
                            <td>{$order->StatusName}</td>
                        </tr>

                        {/foreach}
                    </tbody>
                </table>
              </div>
          </div>
          <div class="tab-pane" id="account">
            <h3>Account Info</h3>
            Name: {$usr->FirstName}
            
            <h3>Change password</h3>
                 {*control newUserForm*}
                 {control passwordForm}   
            
          </div>
            
            <div class="tab-pane" id="other">
                <h3>Regenerate Thumbnails</h3>
                <a href="{plink regenerateThumb!}" id="regen" class="btn btn-primary"><i id="gen" class="icon-spinner"></i> <span class="gen">Click to regenerate!</span></a>
            </div>
        </div>
   </div>

    
    {/if}
</div>
{/block}

{block sidebar}
 <div class="span2">   
    {if $user->isInRole('admin')}
        {control menu:admin}
    {/if}
 </div>
{/block}

{block script}
<script>
   $(document).ready(function() {
       
    $('#regen').click(function() { 
                
                $('#gen').attr('class', 'icon-spin icon-spinner');
                $('.gen').text('Regenerating...');
                $('#regen').attr('class', 'btn btn-primary disabled');
            });
     
      });
    </script>

{/block}