{block pageheader}
{if $user->isInRole('admin')}

       <div class="col-md-12 smartPanelBar">
                <a class="btn btn-default" href="{plink SmartPanel:default }"><i class="icon-lightbulb"></i> {_smart.menu.back}</a> |
                <a class="btn btn-default" href="#"><i class="icon-large icon-bar-chart"></i> {_"Stats"}</a>
            </div>

<div class="page-header col-md-12">
<h1 n:block="title"><i class="icon-upload-alt"></i> {_smart.menu.modules} <small>{_smart.modules.modules-info}</small></h1>
</div>
{/if}
{/block}

{block content}
<div class="col-md-10"> 
{if $user->isInRole('admin')}

    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#overal"  data-toggle="tab">{_smart.panel.overal}</a></li>
            
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="overal">
                <div class="col-md-9">
                    
                     {control moduleControl 'modules'}
                </div>
        </div>
    </div>
</div>            
{/if}

    </div>

{/block}

{block sidebar}
<div class="col-md-2"> 

</div>
{/block}
    
    {block script}
                            
                             
{/block}