{block pageheader}
{if $user->isInRole('admin')}
<div class="page-header">
    <h1 n:block="title">{$order->OrderID} <i class="icon-angle-right"></i> {_'Order summary'} <small> {_'Complete summary order'}.</small></h1>

<div class="row">
    <div class="span10">
        <a class="btn" href="{plink SmartPanel:orders }"><i class="icon-spinner"></i> {_"Back to Orders"}</a> 
        <div class="btn-group">
        {if $order->OrderID != 1}
        <a class="btn" href="{plink SmartPanel:orderDetail $order->OrderID - 1 }"><i class="icon-arrow-left"></i> {_"Prev Order"}</a> 
        {/if}
        {if $nextOrder}
        <a class="btn" href="{plink SmartPanel:orderDetail $order->OrderID + 1}"><i class="icon-arrow-right"></i> {_"Next Order"}</a> 
        {/if}
        </div>
        <div class="btn-group">
        {if $order->StatusProgress !== 10}
        <a class="btn" href="#editOrderInfo" data-toggel="modal" data-target="#editOrderInfo" id="editOrderInfoButton"><i class="icon-large icon-list"></i> {_"Edit Order Info"}</a> 
        <a class="btn" href="#editProducts" data-toggel="modal" data-target="#editProducts" id="editProductsButton"><i class="icon-large icon-download"></i> {_"Edit Products"}</a> 
        </div>
         {if $order->StatusProgress !== 0}
        <a class="btn" href="#cancelOrder" data-toggel="modal" data-target="#cancelOrder" id="cancelOrderButton"><i class="icon-large icon-ban-circle"></i> {_"Cancel order"}</a> 
        {/if}
        {/if}
        <a class="btn" href="#"><i class="icon-large icon-bar-chart"></i> {_"Stats"}</a>
    </div>
</div>
</div>

    <div id="editOrderInfo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel"><i class="icon-list"></i> {_'Edit Order Info'}</h3>
            </div>
            <div class="modal-body">
                <p>{_'Edit order info and click save'}</p>
              <p>{control editOrderInfoForm}</p>
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
    </div>

    <div id="editProducts" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel"><i class="icon-list"></i> {_'Edit Products'}</h3>
            </div>
            <div class="modal-body">
                <p>{_'Edit order info and click save'}</p>
            </div>
            <div class="modal-footer">
                {control addProductsForm}
                
              <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
    </div>

    <div id="cancelOrder" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel"><i class="icon-ban-circle"></i> {_'Cancel order'} {$order->OrderID}?</h3>
            </div>
            <div class="modal-body">
                <p>{_'Do you really want to CANCEL this order?'}</p>
            </div>
            <div class="modal-footer">
                
              <a class="btn btn-warning" href="{plink setStatus! $order->OrderID, 0, 'Cancelled'}"><i class="icon-large icon-ban-circle"></i> {_"Cancel order"}</a>
              <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
    </div>

    <div id="addNote" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel"><i class="icon-ban-circle"></i> {_'Add Note'}</h3>
            </div>
            <div class="modal-body">
                <p>{_'Add any note to this order'}</p>
            </div>
            <div class="modal-footer">
                
              {control addNoteForm}
              <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
    </div>

    
{/if}
{/block}

{block content}
<div class="span10"> 
{if $user->isInRole('admin')}

    <div class="row" n:snippet="status">
        <div class="span4 {if $order->StatusProgress == 0} grey {/if} alert alert-block">
            <div class="span5">
                <p>
                    <i class="{if $order->StatusProgress == 10}icon-ok {elseif $order->StatusProgress == 0} icon-ban-circle {else} icon-spinner icon-spin{/if} left icon-large"></i><strong> {_'Status'}:</strong>&nbsp;
            {$order->StatusName}
                </p>
            </div>
            <br>
            <div class="progress progress-info progress-striped active span4">
                <div class="bar" style="width: {foreach $statuses as $sid => $status}{if $sid === $order->StatusID}{$status->StatusProgress}0%{/if}{/foreach}"></div>
            </div>
            <div class="span4">
                <ul class="inline">
                    {foreach $statuses as $sid => $status}
                    {dump $sid, $status, $order->StatusID}
                    {if !($iterator->isFirst())}
                    <li>{if $sid != $order->StatusID}<a href="{plink setStatus! $order->OrderID, $sid, $status->StatusName}" class="ajax">{/if}{$status->StatusName}
                        {if !($iterator->isLast())}<i class="icon-arrow-right"></i>{/if}{if $iterator->isLast()}<i class="icon-ok"></i>{/if}{if $sid != $order->StatusID}</a>{/if}</li>
                    {/if}
                    {/foreach}
                </ul>
            </div>
        </div>

        


        <table class="table table-hover span9">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{_'Product Name'}</th>
                    <th>{_'Amount'}</th>
                    <th>{_'Item price'}</th>
                    <th>{_'Total price'}</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                    {var $grandtotal = 0}
                    {foreach $products as $id => $product}


                <tr class="{if $product->PiecesAvailable <= 0 } error {elseif $product->PiecesAvailable < 5} warning {else}  {/if}">
                    <td>{if $product->PhotoAlbumID}
                        <img src="{$basePath}/images/{$product->PhotoAlbumID}/{$product->PhotoURL}" class="img-circle" style="width: 38px;"/>
                                           {else}
                        <img src="{$basePath}/images/no_image.jpg" class="img-circle" class="span2" style="width: 38px;"/>
                                           {/if}
                                             {$product->ProductNumber}</td>
                    <td><a href="{plink Product:product $product->ProductID}">{$product->ProductName}</a></td>
                    
                    <td>{$product->Quantity}
                        {if $order->StatusProgress !== 10 && $productsInOrder !== 1 }
                        <span class="delProduct">
                        <a href="#delproduct" class="del btn"><i class="icon-trash"></i></a>
                        <span class="ask" style="display: none;">
                        <a class="btn" href="{plink removeProduct! $order->OrderID, $product->ProductID, $product->Quantity + $product->PiecesAvailable}">Are you sure? <i class="icon-trash"></i></a> 
                        <a href="#cancel" class="btn cancel">Cancel</a>
                        </span> 
                        </span>{/if}</td>
                    
                    <td>{$product->UnitPrice},-</td>
                    <td>{$subtotal = $product->Quantity * $product->UnitPrice},-</td>
                    <td><i class="{if $product->PiecesAvailable <= 0 } icon-ban-circle {elseif $product->PiecesAvailable < 5} icon-warning-sign {else} icon-ok-sign {/if}" title="{_'In stock'}: {$product->PiecesAvailable}"></i></td>

                </tr>
                       {var $grandtotal += $subtotal}

                    {/foreach}

            </tbody>
            <div class="span4 alert alert-info">   
            <div class="span5">                    
                <i class="icon-shopping-cart icon-large left"></i> <strong>{_'Order n.'} {$order->OrderID}</strong></div>
            <div class="span4">
                <dl>
                    <dd><strong >{_'Products'}:</strong> {$grandtotal},-</dd>
                    <dd><strong >{_'Shipping'}:</strong> {$shipping = $order->DeliveryPrice},-</dd>
                    <dd><strong >{_'Total'}:</strong> {$grandtotal += $shipping},-</dd>
                
                
                </dl>
                
            </div>
        </div>
        </table>

    </div>
    <div class="row">
        <div class="span4 alert alert-info" n:snippet="orderInfo">

            <div class="span4">
                <p>
                    <i class="icon-calendar icon-large left"></i> {_'Date created'}:&nbsp;
                    <strong>{$order->DateCreated|date:'%d.%m.%Y'}</strong>
                </p>
            </div>

            <div class="span4">
                <p>
                    <i class="icon-truck icon-large left"></i> {_'Shipping'}:&nbsp;
                    <strong class="orderShipping" n:snippet="orderShipping">{$order->DeliveryName}</strong
                </p>
            </div>

            <div class="span4">
                <p>
                    <i class="icon-money icon-large left"></i> {_'Payment'}:&nbsp;
                    <strong class="orderPayment" n:snippet="orderPayment">{$order->PaymentName}</strong>
                </p>
            </div>
              <span class="muted span4"><i class="icon-info-sign"></i> {_'EDIT shipping and payment by Double-clicking.'}</span>
        </div>
        <div class="row">


            <div class="span4 alert {$order->Note ? 'alert-block' : 'alert-info'}">
            <div class="span4">
                <i class="icon-paper-clip left icon-large"></i><strong> {_'Note'}:</strong>
                    {foreach $notes as $note}
                <p>{$note->NotesName} - {$note->NotesDescription} - {$note->NotesDate}</p>
                {/foreach}
                 <a class="btn" href="#addNote" data-toggel="modal" data-target="#addNote" id="addNoteButton"><i class="icon-large icon-plus-sign"></i> {_"Add note"}</a> 
            </div>
        </div>

              
        </div>
        <div class="span4 alert alert-info">
            <div class="span4">
                <i class="icon-user left icon-large"></i><strong> {_'Contact'}:</strong>
                <p>
                <dl>
                    <dd class="span4"><span class="span1">{_'Name'}:</span><strong class="orderName span2" n:snippet="orderName">{$order->Name}</strong></dd>
                    <dd class="span4"><span class="span1">{_'Email'}:</span><strong class="span2">{$order->UsersID}</strong></dd>
                    <dd class="span4"><span class="span1">{_'Phone'}:</span><strong class="orderPhone span2" n:snippet="orderPhone">{if $order->PhoneNumber}{$order->PhoneNumber}{else}not available{/if}</strong></dd>
                </dl>
                </p>
        {if $order->CompanyName != ""}
                <dl>
                    <dt>{_'Company'}:</dt>
                    <dd>{$order->CompanyName}</dd>
                </dl>
        {/if}
            </div>
          <span class="muted span4"><i class="icon-info-sign"></i> {_'EDIT name and phone by Double-clicking.'}</span>
        </div>


        <div class="span4 alert alert-info">
            <div class="span4">
                <i class="icon-home left icon-large"></i><strong> {_'Address'}:</strong>

                <dl>

                    <dd class="span4"><span class="span1">{_'Street'}:</span><strong class="orderStreet span2" n:snippet="orderStreet">{$address->Street}</strong></dd>
                    <dd class="span4"><span class="span1">{_'City'}:</span><strong class="orderCity span2" n:snippet="orderCity">{$address->City}</strong></dd>
                    <dd class="span4"><span class="span1">{_'ZIP'}:</span><strong class="orderZIP span2" n:snippet="orderZIP">{$address->ZIPCode}</strong></dd>
                </dl> 

            </div>
        <span class="muted span4"><i class="icon-info-sign"></i> {_'EDIT address by Double-clicking.'}</span>
        </div>

        

    </div>

{/if}
</div>
{/block}

{block sidebar}
<div class="span2"> 
  {if $user->isInRole('admin')}
        {control menu:admin}
        {/if}
</div>
{/block}

{block script}
<script>
$(document).ready(function() {         

 $('#editCustomerButton').toggle(function(){
              $('#editCustomer').modal('show');
            },
            function() {
                $('#editCustomer').modal('hide');
            });
            
  $('#editOrderInfoButton').toggle(function(){
              $('#editOrderInfo').modal('show');
            },
            function() {
                $('#editOrderInfo').modal('hide');
            });          
    $('#editProductsButton').toggle(function(){
              $('#editProducts').modal('show');
            },
            function() {
                $('#editProducts').modal('hide');
            });            
    $('#cancelOrderButton').toggle(function(){
              $('#cancelOrder').modal('show');
            },
            function() {
                $('#cancelOrder').modal('hide');
            });      
            
     $('#addNoteButton').toggle(function(){
              $('#addNote').modal('show');
            },
            function() {
                $('#addNote').modal('hide');
            });  
            
     $('#editAddressButton').toggle(function(){
              $('#editAddress').modal('show');
            },
            function() {
                $('#editAddress').modal('hide');
            });  
            
     $('.delProduct .del').click(function(){
              $(this).parent().children('.ask').show();
              $(this).hide();
            });
            
    $('.delProduct .cancel').click(function(){
                $(this).parent().hide();
                $(this).parent().parent().children('.del').show();
            }); 
          
  {if $order->StatusProgress !== 10}
    $('.orderShipping').editable( {link editOrderShipping! $order->OrderID }, { 
                data      :'{$delivery}',
                type      : 'select',
                submit    : 'OK',
                indicator : '<i class="icon-spinner icon-spin"></i>',
                tooltip   : 'Click to edit ...',
                callback : function(value, settings) {
                   var json = $.parseJSON(value);
                   $('.orderShipping').text(json.edit);
               }
           });
    
     $('.orderPayment').editable( {link editOrderPayment! $order->OrderID }, { 
                data      :'{$payment}',
                type      : 'select',
                submit    : 'OK',
                indicator : '<i class="icon-spinner icon-spin"></i>',
                tooltip   : 'Click to edit ...',
                callback : function(value, settings) {
                   var json = $.parseJSON(value);
                   $('.orderShipping').text(json.edit);
               }
           });
           
     $('.orderStreet').editable( {link editOrderStreet! $order->OrderID }, { 
                type      : 'text',
                submit    : 'OK',
                cancel    : {_'Cancel'},
                event     : 'dblclick',
                indicator : '<i class="icon-spinner icon-spin"></i>',
                tooltip   : 'Click to edit ...',
                callback : function(value, settings) {
                   var json = $.parseJSON(value);
                   $('.orderStreet').text(json.edit);
               }
           });
           
    $('.orderCity').editable( {link editOrderCity! $order->OrderID }, { 
                type      : 'text',
                cancel    : {_'Cancel'},
                submit    : 'OK',
                event     : 'dblclick',
                indicator : '<i class="icon-spinner icon-spin"></i>',
                tooltip   : 'Click to edit ...',
                callback : function(value, settings) {
                   var json = $.parseJSON(value);
                   $('.orderCity').text(json.edit);
               }
           });      
      
      $('.orderZIP').editable( {link editOrderZIP! $order->OrderID }, { 
                type      : 'text',
                cancel    : {_'Cancel'},
                submit    : 'OK',
                event     : 'dblclick',
                indicator : '<i class="icon-spinner icon-spin"></i>',
                tooltip   : 'Click to edit ...',
                callback : function(value, settings) {
                   var json = $.parseJSON(value);
                   $('.orderZIP').text(json.edit);
               }
           });
           
      $('.orderPhone').editable( {link editOrderPhone! $order->UsersID, $order->Name }, { 
                type      : 'text',
                cancel    : {_'Cancel'},
                submit    : 'OK',
                event     : 'dblclick',
                indicator : '<i class="icon-spinner icon-spin"></i>',
                tooltip   : 'Click to edit ...',
                callback : function(value, settings) {
                   var json = $.parseJSON(value);
                   $('.orderPhone').text(json.edit);
               }
           });
      $('.orderName').editable( {link editOrderName! $order->UsersID, $order->PhoneNumber }, { 
                type      : 'text',
                cancel    : {_'Cancel'},
                submit    : 'OK',
                event     : 'dblclick',
                indicator : '<i class="icon-spinner icon-spin"></i>',
                tooltip   : 'Click to edit ...',
                callback : function(value, settings) {
                   var json = $.parseJSON(value);
                   $('.orderName').text(json.edit);
               }
           });
    {/if}
});
</script>
{/block}