{block pageheader}
{if $user->isInRole('admin')}
<div class="page-header">
<h1 n:block="title"><i class="icon-spinner"></i> Orders <small>Here you see all orders placed in your shop.</small></h1>


<div class="row">
            <div class="span10">
                <a class="btn" href="{plink SmartPanel:default }"><i class="icon-lightbulb"></i> {_"Back to SmartPanel"}</a> |
                <a class="btn" href="#"><i class="icon-large icon-bar-chart"></i> {_"Stats"}</a>
            </div>
        </div>
</div>
{/if}
{/block}
{block content}
<div class="span10"> 
{if $user->isInRole('admin')}

        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Customer</th>
                    <th>Total Payment</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {foreach $orders as $id => $order}
                
                <tr class="{if $order->StatusID == 10} success {elseif $order->StatusID == 2} info {elseif $order->StatusID == 0} grey {else} warning {/if}">
                    <td>{$id}</td>
                    <td>{$order->DateCreated|date:'%d.%m.%Y'}</td>
                    <td><a href="{plink SmartPanel:orderDetail $id}">{$order->Name}</a></td>
                    <td>{$order->TotalPrice},-</td>
                    <td><i class="{if $order->StatusProgress == 10}icon-ok {elseif $order->StatusProgress == 0} icon-ban-circle {else} icon-spinner icon-spin{/if} left"></i> {$order->StatusName}</td>
                </tr>
                
                {/foreach}
            </tbody>
        </table>

{/if}
</div>
{/block}

{block sidebar}
<div class="span2"> 
  {if $user->isInRole('admin')}
        {control menu:admin}
        {/if}
</div>
{/block}