{block pageheader}
{if $user->isInRole('admin')}
<div class="page-header">
<h1 n:block="title"><i class="icon-money"></i> {_'Payment'} <small>{_'Here you see all payment methods.'}</small></h1>

<div class="row">
            <div class="span10">
                <a class="btn" href="{plink SmartPanel:default }"><i class="icon-lightbulb"></i> {_"Back to SmartPanel"}</a> |
                <a class="btn" href="#"><i class="icon-large icon-bar-chart"></i> {_"Stats"}</a>
            </div>
        </div>
</div>

{/if}
{/block}

{block content}
<div class="span10"> 
{if $user->isInRole('admin')}

    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#overal"  data-toggle="tab">{_'Overal'}</a></li>
            <li><a href="#addPay"  data-toggle="tab">{_'Add Payment'}</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="overal">
                <div class="span7">
                    <table class="table" n:snippet="payment">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>{_'Name'}</th>
                                <th>{_'Price'}</th>
                                <th>{_'Status'}</th>
                                <th class="span2"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {foreach $payments as $payment}

                            <tr class="info">
                                <td>{$iterator->counter}</td>
                                <td n:snippet="paymentName-{$payment->PaymentID}" class="paymentName-{$payment->PaymentID} edit">{$payment->PaymentName}</td>
                                <td n:snippet="paymentPrice-{$payment->PaymentID}" class="paymentPrice-{$payment->PaymentID} edit">{$payment->PaymentPrice},-</td>
                                <td n:snippet="paymentStatus-{$payment->PaymentID}" class="paymentStatus-{$payment->PaymentID} edit">{$payment->StatusName}</td>
                                <td>
                                                                 
                                    <a n:href="removePay! $payment->PaymentID" class="ajax"><i class="icon-trash icon-large"></i></a>
                                
                                </td>
                                
                                
                            </tr>                     
                        {/foreach}
                            <tr><td colspan="4"><span class="muted"><i class="icon-large icon-info-sign"></i> {_"Edit by clicking on any value"}</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="addPay">
                
                    {control addPaymentForm}

            </div>    
        </div>
    </div>
            
{/if}
</div>
{/block}

{block sidebar}
<div class="span2"> 
  {if $user->isInRole('admin')}
        {control menu:admin}
        {/if}
</div>
{/block}
    
    {block script}

<script> 
   
    $(document).ready(function() {
        {foreach $payments as $payment} 
                          
     $('.paymentName-{$payment->PaymentID}').editable( {plink editPaymentName! $payment->PaymentID, $payment->PaymentPrice }, { 
         type      : 'text',
         cancel    : {_'Cancel'},
         submit    : 'OK',
         indicator : '<i class="icon-spinner icon-spin"></i>',
         tooltip   : 'Click to edit ...',
         callback : function(value, settings) {
            var json = $.parseJSON(value);
            $('.paymentName-{$payment->PaymentID}').text(json.edit);
        }
        });                              
                                   
     $('.paymentPrice-{$payment->PaymentID}').editable( {plink editPaymentPrice! $payment->PaymentID, $payment->PaymentName }, { 
         type      : 'text',
         cancel    : {_'Cancel'},
         submit    : 'OK',
         indicator : '<i class="icon-spinner icon-spin"></i>',
         tooltip   : 'Click to edit ...',
         callback : function(value, settings) {
            var json = $.parseJSON(value);
            $('.paymentPrice-{$payment->PaymentID}').text(json.edit);
        }
        });    
        
    $('.paymentStatus-{$payment->PaymentID}').editable( {link editPaymentStatus! $payment->PaymentID }, { 
            data      :'{$status}',
            type      : 'select',
            cancel    : {_'Cancel'},
            submit    : 'OK',
            indicator : '<i class="icon-spinner icon-spin"></i>',
            tooltip   : 'Click to edit ...',
            callback : function(value, settings) {
               var json = $.parseJSON(value);
               $('.paymentStatus-{$payment->PaymentID}').text(json.edit);
           }
       }); 
                                   
                                   {/foreach}
      $('.upl').click(function() { 
                $('.upl').button('toggle');
                $('.upl').button('loading') });
        });
        
     $('td.edit').css('font-style', 'italic');
      
</script>
                             
                             
{/block}