{block pageheader}
{if $user->isInRole('admin')}

       <div class="col-md-12 smartPanelBar">
                <a class="btn btn-default" href="{plink SmartPanel:default }"><i class="icon-lightbulb"></i> {_"Back to SmartPanel"}</a> |
                <a class="btn btn-default" href="#"><i class="icon-large icon-bar-chart"></i> {_"Stats"}</a>
            </div>

<div class="page-header col-md-12">
<h1 n:block="title"><i class="icon-money"></i> {_'Brands'} <small>{_'Here you can add and edit brands and producers.'}</small></h1>
</div>
{/if}
{/block}

{block content}
<div class="col-md-10"> 
{if $user->isInRole('admin')}

            <div class="col-md-7 col-sm-12 col-xs-12">
                    <table class="table" n:snippet="prod">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>{_'Name'}</th>
                                <th>{_'Description'}</th>
                                <th class="col-md-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {foreach $prods as $prod}

                            <tr class="info">
                                <td>{$iterator->counter}</td>
                                <td n:snippet="prodName-{$prod->ProducerID}" class="prodName-{$prod->ProducerID} edit">{$prod->ProducerName}</td>
                                <td n:snippet="prodDesc-{$prod->ProducerID}" class="prodStatus-{$prod->ProducerID} edit">{$prod->ProducerDescription}</td>
                                <td>   
                                    {if $prod->ProducerID != 1}
                                    <a n:href="removeProd! $prod->ProducerID" class="ajax"><i class="icon-trash icon-large"></i></a>
                                    {/if}
                                </td>
                            </tr>                     
                        {/foreach}
                            <tr><td colspan="4"><span class="muted"><i class="icon-large icon-info-sign"></i> {_"Edit by clicking on any value"}</td></tr>
                        </tbody>
                    </table>
                </div>
            
            <div class="col-md-5 col-sm-12 col-sx-12">
                    {control addProducerForm}
            </div>
    </div>
            
{/if}
</div>
{/block}

{block sidebar}
<div class="col-md-2"> 

</div>
{/block}
    
    {block script}

<script> 
   
    $(document).ready(function() {
        {foreach $prods as $prod} 
                          
     $('.prodName-{$prod->ProducerID}').editable( {plink editProducerName! $prod->ProducerID}, { 
         type      : 'text',
         cancel    : {_'Cancel'},
         submit    : 'OK',
         indicator : '<i class="icon-spinner icon-spin"></i>',
         tooltip   : 'Click to edit ...',
         callback : function(value, settings) {
            var json = $.parseJSON(value);
            $('.prodName-{$prod->ProducerID}').text(json.edit);
        }
        });                              
                                   
        
    $('.prodDesc-{$prod->ProducerID}').editable( {link editProducerDescription! $prod->ProducerID }, { 
            type      : 'textarea',
            cancel    : {_'Cancel'},
            submit    : 'OK',
            indicator : '<i class="icon-spinner icon-spin"></i>',
            tooltip   : 'Click to edit ...',
            callback : function(value, settings) {
               var json = $.parseJSON(value);
               $('.prodStatus-{$prod->ProducerID}').text(json.edit);
           }
       }); 
                                   
                                   {/foreach}
      $('.upl').click(function() { 
                $('.upl').button('toggle');
                $('.upl').button('loading') });
        });
        
     $('td.edit').css('font-style', 'italic');
      
</script>
                             
                             
{/block}