{block pageheader}
{if $user->isInRole('admin')}

       <div class="col-md-12 smartPanelBar">
                <a class="btn btn-default" href="{plink SmartPanel:default }"><i class="icon-lightbulb"></i> {_smart.menu.back}</a> |
                <a class="btn btn-default" href="#"><i class="icon-large icon-bar-chart"></i> {_"Stats"}</a>
            </div>

<div class="page-header col-md-12">
<h1 n:block="title"><i class="icon-money"></i> {_smart.menu.brand} <small>{_smart.brand.brand-info}</small></h1>
</div>
{/if}
{/block}

{block content}
<div class="col-md-10"> 
{if $user->isInRole('admin')}

            <div class="col-md-7 col-sm-12 col-xs-12">
                    {control producerControl}
                </div>
            
            <div class="col-md-5 col-sm-12 col-sx-12">
                    {control producerControl:form}
            </div>
    </div>
            
{/if}
</div>
{/block}

{block sidebar}
<div class="col-md-2"> 

</div>
{/block}
    
    {block script}

{foreach $prods as $prod}
    
    {control producerControl:js $prod}
 
{/foreach}

<script>
$('.upl').click(function() { 
                $('.upl').button('toggle');
                $('.upl').button('loading') });
        });
        
     $('td.edit').css('font-style', 'italic');
      
</script>
                             
                             
{/block}