{block pageheader}
{if $user->isInRole('admin')}

            <div class="span12 smartPanelBar">
                <a class="btn" href="{plink SmartPanel:default }"><i class="icon-lightbulb"></i> {_"Back to SmartPanel"}</a> |
                <a class="btn" href="#"><i class="icon-large icon-bar-chart"></i> {_"Stats"}</a>
            </div>


<div class="page-header span12">
    <h1 n:block="title"><i class="icon-truck"></i> {_'Shipping'} <small>{_'Here you see all shipping methods.'}</small></h1>

   </div>
{/if}
{/block}

{block content}
<div class="span10"> 
{if $user->isInRole('admin')}

    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#overal"  data-toggle="tab">{_'Overal'}</a></li>
            <li><a href="#addShip"  data-toggle="tab">{_'Add Shipping'}</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="overal">
                <div class="span7">
                    <table class="table" n:snippet="shipping">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>{_'Name'}</th>
                                <th>{_'Description'}</th>
                                <th>{_'Price'}</th>
                                <th>{_'Free from'}</th>
                                <th>{_'Status'}</th>
                                <th>{_'Higher Shipping'}</th>
                                <th class="span2"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {foreach $delivery as $deliver}

                            <tr class="info">
                                <td>{$iterator->counter}</td>
                                <td class="DelName-{$deliver->DeliveryID}" n:snippet="DelName-{$deliver->DeliveryID}">{$deliver->DeliveryName}</td>
                                <td class="DelDescription-{$deliver->DeliveryID}" n:snippet="DelDescription-{$deliver->DeliveryID}">{$deliver->DeliveryDescription}</td>
                                <td class="DelPrice-{$deliver->DeliveryID}" n:snippet="DelPrice-{$deliver->DeliveryID}">{$deliver->DeliveryPrice},-</td>
                                <td class="DelFF-{$deliver->DeliveryID}" n:snippet="DelFF-{$deliver->DeliveryID}">{$deliver->FreeFromPrice ? $deliver->FreeFromPrice : '-'},-</td>
                                <td class="DelStatus-{$deliver->DeliveryID}" n:snippet="DelStatus-{$deliver->DeliveryID}">{$deliver->StatusName}</td>
                                <td class="DelHigher-{$deliver->HigherDelivery}" n:snippet="DelHigher-{$deliver->HigherDelivery}">{$deliver->HigherDelivery}</td>
                                <td>
                                                                
                                    <a href="{link removeShipping! $deliver->DeliveryID}" class="ajax"><i class="icon-trash icon-large"></i></a>
                                
                                </td>
                                
                                
                            </tr>                     
                        {/foreach}
                        </tbody>
                    </table>
                </div>
            </div> 
            <div class="tab-pane" id="addShip">
                
                    {control addShippingForm}

            </div>
        </div>
    </div>
    
{/if}
</div>
{/block}

{block sidebar}
<div class="span2"> 
  {if $user->isInRole('admin')}
        {control menu:admin}
        {/if}
</div>
{/block}

 {block script}

<script> 
   
    $(document).ready(function() {
        {foreach $delivery as $deliver} 
        
        
            $('.DelName-{$deliver->DeliveryID}').editable( {link DelName! $deliver->DeliveryID }, { 
                type      : 'text',
                cancel    : {_'Cancel'},
                submit    : 'OK',
                indicator : '<i class="icon-spinner icon-spin"></i>',
                tooltip   : 'Click to edit ...',
                callback : function(value, settings) {
                   var json = $.parseJSON(value);
                   $('.DelName-{$deliver->DeliveryID}').text(json.edit);
               }
           });

           $('.DelDescription-{$deliver->DeliveryID}').editable( {link DelDescription! $deliver->DeliveryID }, { 
                type      : 'text',
                cancel    : {_'Cancel'},
                submit    : 'OK',
                indicator : '<i class="icon-spinner icon-spin"></i>',
                tooltip   : 'Click to edit ...',
                callback : function(value, settings) {
                   var json = $.parseJSON(value);
                   $('.DelDescription-{$deliver->DeliveryID}').text(json.edit);
               }
           });

           $('.DelPrice-{$deliver->DeliveryID}').editable( {link DelPrice! $deliver->DeliveryID }, { 
                type      : 'text',
                cancel    : {_'Cancel'},
                submit    : 'OK',
                indicator : '<i class="icon-spinner icon-spin"></i>',
                tooltip   : 'Click to edit ...',
                callback : function(value, settings) {
                   var json = $.parseJSON(value);
                   $('.DelPrice-{$deliver->DeliveryID}').text(json.edit);
               }
           });

           $('.DelFF-{$deliver->DeliveryID}').editable( {link DelFF! $deliver->DeliveryID }, { 
                type      : 'text',
                cancel    : {_'Cancel'},
                submit    : 'OK',
                indicator : '<i class="icon-spinner icon-spin"></i>',
                tooltip   : 'Click to edit ...',
                callback : function(value, settings) {
                   var json = $.parseJSON(value);
                   $('.DelFF-{$deliver->DeliveryID}').text(json.edit);
               }
           });    
           
           $('.DelStatus-{$deliver->DeliveryID}').editable( {link DelStatus! $deliver->DeliveryID }, { 
                data      :'{$status}',
                type      : 'select',
                cancel    : {_'Cancel'},
                submit    : 'OK',
                indicator : '<i class="icon-spinner icon-spin"></i>',
                tooltip   : 'Click to edit ...',
                callback : function(value, settings) {
                   var json = $.parseJSON(value);
                   $('.DelStatus-{$deliver->DeliveryID}').text(json.edit);
               }
           });    
           
            $('.DelHigher-{$deliver->HigherDelivery}').editable( {link DelHigher! $deliver->DeliveryID }, { 
                data      :'{$deliveryList}',
                type      : 'select',
                submit    : 'OK',
                indicator : '<i class="icon-spinner icon-spin"></i>',
                tooltip   : 'Click to edit ...',
                callback : function(value, settings) {
                   var json = $.parseJSON(value);
                   $('.DelHigher-{$deliver->DeliveryID}').text(json.edit);
               }
           });  
        {/foreach}
                               
      $('.upl').click(function() { 
                $('.upl').button('toggle');
                $('.upl').button('loading') });
        });
    
</script>
                             
                             
{/block}