{block pageheader}
{if $user->isInRole('admin')}
<div class="page-header">
    <h1 n:block="title"><i class="icon-truck"></i> {_'Shipping'} <small>{_'Here you see all shipping methods.'}</small></h1>

<div class="row">
            <div class="span10">
                <a class="btn" href="{plink SmartPanel:default }"><i class="icon-lightbulb"></i> {_"Back to SmartPanel"}</a> |
                <a class="btn" href="#"><i class="icon-large icon-bar-chart"></i> {_"Stats"}</a>
            </div>
        </div>
    </div>
{/if}
{/block}

{block content}
<div class="span10"> 
{if $user->isInRole('admin')}

    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#overal"  data-toggle="tab">{_'Overal'}</a></li>
            <li><a href="#addShip"  data-toggle="tab">{_'Add Shipping'}</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="overal">
                <div class="span7">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>{_'Name'}</th>
                                <th>{_'Description'}</th>
                                <th>{_'Price'}</th>
                                <th>{_'Free from'}</th>
                                <th class="span2"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {foreach $delivery as $deliver}

                            <tr class="info">
                                <td>{$iterator->counter}</td>
                                <td class="DelName" n:snippet="DelName">{$deliver->DeliveryName}</td>
                                <td class="DelDescription" n:snippet="DelDescription">{$deliver->DeliveryDescription}</td>
                                <td class="DelPrice" n:snippet="DelPrice">{$deliver->DeliveryPrice},-</td>
                                <td class="DelFF" n:snippet="DelFF">{$deliver->FreeFromPrice ? $deliver->FreeFromPrice : '-'},-</td>
                                <td>
                                
                                <a href="#edit{$deliver->DeliveryID}" data-toggel="modal" data-target="#edit{$deliver->DeliveryID}" id="edit{$deliver->DeliveryID}Button">
                                    <i class="icon-large icon-pencil"></i> {_"Edit"}</a> |
                                    
                                    <a n:href="removeShip! $deliver->DeliveryID"><i class="icon-trash icon-large"></i></a>
                                
                                </td>
                                
                                
                            </tr>                     
                        {/foreach}
                        </tbody>
                    </table>
                </div>
            </div> 
            <div class="tab-pane" id="addShip">
                
                    {control addShippingForm}

            </div>
        </div>
    </div>
    
    {foreach $delivery as $deliver} 
    <div id="edit{$deliver->DeliveryID}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                      <h3 id="myModalLabel"><i class="icon-truck"></i> {_'Edit'} {$deliver->DeliveryName}</h3>
                                    </div>
                                    <div class="modal-body">
                                        <p>{_'Edit your description and click Save desccription.'}</p>
                                     {var $edit = 'editShipping'.$deliver->DeliveryID}
                                        <p>{control $edit}</p>
                                    </div>
                                    <div class="modal-footer">
                                      <button class="btn" data-dismiss="modal" aria-hidden="true">{_'Close without saving'}</button>
                                    </div>
                            </div>
    
{/foreach}


{/if}
</div>
{/block}

{block sidebar}
<div class="span2"> 
  {if $user->isInRole('admin')}
        {control menu:admin}
        {/if}
</div>
{/block}

 {block script}

<script> 
   
    $(document).ready(function() {
        {foreach $delivery as $deliver} 
                               $('#edit{$deliver->DeliveryID}Button').toggle(function(){
                                     $('#edit{$deliver->DeliveryID}').modal('show');
                                   },
                                   function() {
                                       $('#edit{$deliver->DeliveryID}').modal('hide');
                                   });
                                   {/foreach}
      $('.upl').click(function() { 
                $('.upl').button('toggle');
                $('.upl').button('loading') });
        });
   
   {if $user->isInRole('admin')}
        {foreach $delivery as $deliver}       
            $('.DelName').editable( {link DelName! $deliver->DeliveryID }, { 
                type      : 'text',
                cancel    : {_'Cancel'},
                submit    : 'OK',
                indicator : '<i class="icon-spinner icon-spin"></i>',
                tooltip   : 'Click to edit ...',
                callback : function(value, settings) {
                   var json = $.parseJSON(value);
                   $('.DelName').text(json.edit);
               }
           });

           $('.DelDescription').editable( {link DelDescription! $deliver->DeliveryID }, { 
                type      : 'text',
                cancel    : {_'Cancel'},
                submit    : 'OK',
                indicator : '<i class="icon-spinner icon-spin"></i>',
                tooltip   : 'Click to edit ...',
                callback : function(value, settings) {
                   var json = $.parseJSON(value);
                   $('.DelDescription').text(json.edit);
               }
           });

           $('.DelPrice').editable( {link DelPrice! $deliver->DeliveryID }, { 
                type      : 'text',
                cancel    : {_'Cancel'},
                submit    : 'OK',
                indicator : '<i class="icon-spinner icon-spin"></i>',
                tooltip   : 'Click to edit ...',
                callback : function(value, settings) {
                   var json = $.parseJSON(value);
                   $('.DelPrice').text(json.edit);
               }
           });

           $('.DelFF').editable( {link DelFF! $deliver->DeliveryID }, { 
                type      : 'text',
                cancel    : {_'Cancel'},
                submit    : 'OK',
                indicator : '<i class="icon-spinner icon-spin"></i>',
                tooltip   : 'Click to edit ...',
                callback : function(value, settings) {
                   var json = $.parseJSON(value);
                   $('.DelFF').text(json.edit);
               }
           });      
        {/foreach}
    {/if}
</script>
                             
                             
{/block}