{block pageheader}
{if $user->isInRole('admin')}
<div class="page-header">
<h1 n:block="title"><i class="icon-truck"></i> Shipping <small>Here you see all shipping methods.</small></h1>
{/if}
{/block}

{block content}
<div class="span10"> 
{if $user->isInRole('admin')}



{/if}
</div>
{/block}

{block sidebar}
<div class="span2"> 
  {if $user->isInRole('admin')}
        {control menu:admin}
        {/if}
</div>
{/block}