{block pageheader}
{if $user->isInRole('admin')}
<div class="page-header">
    <h1 n:block="title"><i class="icon-bar-chart"></i> {_'Stats'} <small>{_'Magical numbers that improve your sales.'}</small></h1>

<div class="row">
            <div class="span10">
                <a class="btn" href="{plink SmartPanel:default }"><i class="icon-lightbulb"></i> {_"Back to SmartPanel"}</a>
            </div>
        </div>
    </div>
{/if}
{/block}

{block content}
<div class="span10"> 
{if $user->isInRole('admin')}

    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#overal"  data-toggle="tab">{_'Overal'}</a></li>
            <li><a href="#addShip"  data-toggle="tab">{_'Category'}</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="overal">
                <div class="span6">
                    {control moduleControl:smartPanelModule 'gapi'}
                </div>
            </div> <div class="tab-pane" id="cat">
                


            </div>
        </div>
    </div>



{/if}
</div>
{/block}

{block sidebar}
<div class="span2"> 
  {if $user->isInRole('admin')}
        {control menu:admin}
        {/if}
</div>
{/block}