{block pageheader}
{if $user->isInRole('admin')}
<div class="page-header">
    <h1 n:block="title"><i class="icon-bar-chart"></i> {_smart.menu.stats} <small>{_smart.stats.stats-info}</small></h1>

<div class="row">
            <div class="col-md-10 smartPanelBar">
                <a class="btn btn-default" href="{plink SmartPanel:default }"><i class="icon-lightbulb"></i> {_smart.menu.back}</a>
            </div>
        </div>
    </div>
{/if}
{/block}

{block content}
<div class="col-md-10"> 
{if $user->isInRole('admin')}

    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#overal"  data-toggle="tab">{_smart.stats.overal}</a></li>
            <li><a href="#addShip"  data-toggle="tab">{_smart.stats.ctaegory}</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="overal">
                <div class="col-md-6">
                    {control moduleControl:smartPanelModule 'gapi'}
                </div>
            </div> <div class="tab-pane" id="cat">
                


            </div>
        </div>
    </div>



{/if}
</div>
{/block}

{block sidebar}
<div class="col-md-2"> 

</div>
{/block}