{block pageheader}
{if $user->isInRole('admin')}
<div class="page-header">
    <h1 n:block="title"><i class="icon-retweet"></i> {_'Warehouse'} <small>{_'Change stock in one place.'}</small></h1>

<div class="row">
            <div class="span10">
                <a class="btn" href="{plink SmartPanel:default }"><i class="icon-lightbulb"></i> {_"Back to SmartPanel"}</a> |
                <a class="btn" href="#"><i class="icon-large icon-bar-chart"></i> {_"Stats"}</a>
            </div>
        </div>
    </div>
{/if}
{/block}

{block content}
<div class="span10"> 
{if $user->isInRole('admin')}

    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#overal"  data-toggle="tab">{_'Overal'}</a></li>
            <li><a href="#addShip"  data-toggle="tab">{_'Category'}</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="overal">
                
                
               
                
                <div class="span6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th></th>
                                <th>{_'Name'}</th>
                                <th>{_'Price'}</th>
                                <th>{_'Stock'}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {foreach $products as $id => $product}

                            <tr class="info">
                                <td>{$iterator->counter}</td>
                                <td>
                                {if $product->PhotoAlbumID}
                     <img src="{$basePath}/images/{$product->PhotoAlbumID}/{$product->PhotoURL}" class="img-circle" style="height: 30px; width: auto;"/>

                {else}
                   <img src="{$basePath}/images/no_image.jpg" class="img-circle" class="span2" style="height: 30px; width: auto;"/>
                {/if} 
                                </td>
                                <td><a href="{plink Product:product $product->ProductID}">{$product->ProductName}</a></td>
                                <td>{$product->FinalPrice},-</td>
                                <td>{$product->PiecesAvailable}</td>
                                
                            </tr>

                        {/foreach}
                        </tbody>
                    </table>
                </div>
            </div> <div class="tab-pane" id="cat">
                


            </div>
        </div>
    </div>



{/if}
</div>
{/block}

{block sidebar}
<div class="span2"> 
  {if $user->isInRole('admin')}
        {control menu:admin}
        {/if}
</div>
{/block}