{if $status == 1}
<div class="alert alert-info">
    <strong><i class="icon-ok-sign"></i> {$name}</strong>
    <p>{$desc}</p>
    <a n:href="updateXML!" class="btn btn-primary">{_module.default.update} HEUREKA XML</a>
    <a class="btn btn-warning" n:href="uninstallModule">{_module.default.deactivate}</a>
    <hr>
    <p><strong>{_module.heureka.settings} - {_module.heureka.key}: {$key}</strong></p>
    {control updateForm}
    
</div>
{/if}