{block bread}
{snippet bread}
{control menu:bread $product->CategoryID, $product->ProductID}
{/snippet}
{/block}
{block pageheader}

{define title}{$product->ProductSeoName}{/define}

<div class="page-header" n:snippet="pageheader">
    
    {if $user->isInRole('admin')}
{control adminPanelControl:Product $product->ProductID, $product->ProductStatusID, $product->CategoryID, $product->ProducerID}
{/if}
    <h1><span class="prodTitle" n:snippet="prodTitle">{$product->ProductName}</span>
            <small>
                    {if $pieces > 5}
            <span class="label label-success">{$pieces}</span>
                    {elseif $pieces > 0}
            <span class="label label-warning">{$pieces} {_'LAST'}</span>
                    {else}
            <span class="label label-default">{_'OUT OF STOCK'}</span>
                    
                    {/if}
            {if $product->ProductStatusID == 3}
                <span class="label label-danger"><i class="icon-thumbs-up "></i> {_'HOT'}</span>
            {/if}
            {if $product->SALE > 1}
                <span class="label label-warning"><i class="icon-money"></i> {_'SALE'}</span>
            {/if}
           
            </small></h1>
</div>
{/block}

{block content}
<div class="col-md-12 product">
    <div class="col-md-5 text-center">
        {if $photo}
                     <img src="{$basePath}/images/{$albumID}/l-{$photo->PhotoURL}" class="img-responsible" />

                {else}
                   <img src="{$basePath}/images/no_image.jpg" class="img-circle" class="col-md-2" style="height: 150px; width: auto;"/>
                {/if} 
    </div>
    
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="tabbable col-md-12 ">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#info" data-toggle="tab"><i class="icon-info-sign"></i> {_'Info'}</a></li>
                <li><a href="#spec" data-toggle="tab"><i class="icon-list"></i> {_'Spec'}</a></li>
                <li><a href="#ask" data-toggle="tab"><i class="icon-comment"></i> {_'Ask'}</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="info">

                    <p n:block="metadesc" class="prodShort" n:snippet="prodShort">{!$product->ProductShort|striptags|truncate:180}</p>
                    
                </div>
                <div class="tab-pane" id="spec">
                    <dl class="dl-horizontal">
                        {foreach $parameter as $parameter}
                        <dt>{$parameter->AttribName}:</dt>
                        <dd>{$parameter->Val}{$parameter->UnitShort}</dd>
                        {/foreach}   
                        <dt>Brand:</dt>
                        <dd><a href="{plink product:productsBrand $product->ProducerID}">{$product->ProducerName}</a></dd>
                    </dl>
                </div>
               
                <div class="tab-pane" id="ask">

                  {snippet contact}       
                                {form askForm class => ajax, role => form}
                       <ul class="errors" n:if="$form->hasErrors()">
                               <li n:foreach="$form->errors as $error">{$error}</li>
                       </ul>
                    
                   <div class="form-group">
                           {label note /}
                       <div class="input-group col-md-12 col-xs-12">
                           {input note}
                       </div>
                   </div>
                    <div class="form-group">
                           {label email /}
                           <div class="input-group">
                               <span class="input-group-addon">@</span>
                           {input email}
                           </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group col-md-12 col-xs-12">
                        {input ask}
                        </div>
                        </div>   
                       {/form}
                  {/snippet}
                    <span class="help-block"><i class="icon-info-sign"></i> {_'We will reply as soon as possible.'}</span>
                </div>
            </div>
        </div>

    </div>

    <div class="row shopProductVariant" n:snippet="variants">
        <ul class="list-group">
            <li class="list-group-item col-md-11">{_'Variants'}:</li>
            <li class="list-group-item col-md-11">{form addProductVariantForm class => form-inline}
                <div class="form-group">
                
                    <div class="form-group col-md-3">
                        {label name /}
                    {input name}
                </div>
                    <div class="form-group col-md-2">
                        {label price /}
                    {input price}
                    </div>
                    
                    <div class="form-group col-md-2">
                        {label amount /}
                    {input amount}
                    </div>
                    <div class="form-group col-md-4">
                        
                        {label image /}
                    {input image}
                        </div>
                    <div class="form-group col-md-4">
                    {input add}
                    </div>
                
                
                
                </div>
            
            
            {/form}
            </li>
    {foreach $productVariants as  $id => $productVariant}
        
        {control variantControl:variant $productVariant, $shippingPrice}

   {/foreach}   
        </ul>
    </div>


    
    <div class="col-md-12">
        <h3 class="col-md-12"><i class="icon-info-sign"></i> {_'Information about product'}</h3>
        <div class="col-md-8">
         <div class="prodDescription col-md-12 text-justified" n:snippet="prodDescription">{!$product->ProductDescription}</div>
         <hr>
         
         <div class="col-md-11 product-gallery">
           
   
            {if $user->isInRole('admin')}
 <div class="col-md-12">{_'Photo:'}
        {form addPhotoForm class => 'form-inline col-md-12'}
        <div class="form-group col-md-12">
            <div class="input-group col-md-5">
        {input image}
             <p class="help-block"><i class="icon-info-sign"></i> {_'Max size is 2MB ~ 1 Megapixel photos'}</p>   
            </div>
        {input add}
        </div>
        {/form}
     </div>
 {/if}
         
    <div class="thumbnails col-md-12">
     {foreach $album as $id => $photo}
                    <div class="col-md-12">
                        <img src="{$basePath}/images/{$albumID}/l-{$photo->PhotoURL}" alt="{$product->ProductName}" class="img-rounded img-responsive">
                        {if $user->isInRole('admin')}
                           {if !$photo->CoverPhoto} <a href="{link coverPhoto! $product->ProductID, $photo->PhotoID}"><i class="icon-star" ></i> {_'Set as COVER image'}</a> {/if}
                        <a href="{link deletePhoto! $product->ProductID, $photo->PhotoID}"><i class="icon-trash" ></i> {_'Delete image'}</a>
                          {/if}
                    </div>

             {/foreach}
              
                   </ul>
                        <div class="col-md-12">
                           {if $user->isInRole('admin')}
                                {control productVideoForm}
                           {/if}
                            
                           {foreach $videos as $video}
                            <div>
                            {!$video->VideoLink}
                            {if $user->isInRole('admin')}
                            <a href="{plink deleteVideo! $video->VideoID}"><i class="icon-trash">{_'Delete Video'}</i></a>
                            {/if}
                            </div>
                            {/foreach}
                        </div>
                        </div>

        </div>
           </div>

        <div class="col-md-3">
   
            {control moduleControl:productModule 'document', $product->ProductID}
            
            {control moduleControl:productModule 'comment', $product->ProductID}
           
        </div>
     </div>
    

    </div> <!-- class="span10" -->
{/block}

{block sidebar}
      
<div class="col-md-2">
{if $user->isInRole('admin')}
    {control menu:admin}
{/if}
    <ul class="nav nav-list">
        <li class="nav-header">Menu</li>

          {control menu:side}
        
    </ul>
</div>
{/block}

{block script}

{if $user->isInRole('admin')}           
                         
<script>
    $(document).ready(function() {

            $('.nav-tabs').button();


            $('#editParamButton').toggle(function(){
                $('#editParam').modal('show');
              },
              function() {
                  $('#editParam').modal('hide');
              });
              


            $('#statsButton').toggle(function(){
                $('#stats').modal('show');
              },
              function() {
                  $('#stats').modal('hide');
              });
              
              {if $attr == 1}
                  $('#editParam').modal('show');
                  {/if}
                      
          {foreach $productVariants as  $id => $productVariant}


              $('#editPrice{$productVariant->ProductID}').toggle(function(){
                    $('#editProdPrice{$productVariant->ProductID}').show();
              },
              function() {
                  $('#editProdPrice{$productVariant->ProductID}').hide();
              });
              
              $('.prodAmount{$productVariant->ProductID}').editable( {link editProdAmount! $productVariant->ProductID }, {
                  type      : 'text',
                  onblur    : 'ignore',
                  cancel    : {_'Cancel'},
                  submit    : 'OK', 
                  cssclass  : 'editForm col-md-12',
                  indicator : '<i class="icon-spinner icon-spin icon-large"></i>',
                  tooltip   : {_'Click to edit ...'},
                  callback : function(value, settings) {
                     var json = $.parseJSON(value);
                     $('.prodAmount{$productVariant->ProductID}').text(json.edit);
                 }
          });
          
          $('.prodVarTitle{$productVariant->ProductID}').editable( {link editProdVarTitle! $productVariant->ProductID }, { 
                  type      : 'text',
                  cancel    : {_'Cancel'},
                  submit    : 'OK',
                  cssclass  : 'editForm col-md-5',
                  indicator : '<i class="icon-spinner icon-spin"></i>',
                  tooltip   : {_'Click to edit ...'},
                  callback : function(value, settings) {
                     var json = $.parseJSON(value);
                     $('.prodVarTitle{$productVariant->ProductID}').text(json.edit);
                 }
             });
               {/foreach}

              $('.prodTitle').editable( {link editProdTitle! $product->ProductID }, { 
                  type      : 'text',
                  cancel    : {_'Cancel'},
                  submit    : 'OK',
                  indicator : '<i class="icon-spinner icon-spin"></i>',
                  tooltip   : {_'Click to edit ...'},
                  callback : function(value, settings) {
                     var json = $.parseJSON(value);
                     $('.prodTitle').text(json.edit);
                 }
             });    
             

             $('.prodDescription').editable( {link editProdDescription! $product->ProductID }, {
                  type      : 'wysiwyg',
                  onblur    : 'ignore',
                  cancel    : {_'Cancel'},
                  submit    : 'OK',
                  colls     : '15',
                  rows      : '15',
                  indicator : '<i class="icon-spinner icon-spin icon-large"></i>',
                  tooltip   : {_'Click to edit ...'},
                  wysiwyg   : { controls : { separator04         : { visible : true },
                                        insertOrderedList   : { visible : true },
                                        insertUnorderedList : { visible : true }
                         }
                  }, 
                 callback : function(value, settings) {
                     var json = $.parseJSON(value);
                     $('.prodDescription').html(json.edit);
                 }
          });

          $('.prodShort').editable( {link editProdShort! $product->ProductID }, {
                  type      : 'textarea',
                  onblur    : 'ignore',
                  cancel    : {_'Cancel'},
                  submit    : 'OK',
                  colls     : '6',
                  rows      : '7', 
                  indicator : '<i class="icon-spinner icon-spin icon-large"></i>',
                  tooltip   : {_'Click to edit ...'},
                  callback : function(value, settings) {
                     var json = $.parseJSON(value);
                     $('.prodShort').text(json.edit);
                 }
          });
          
});
</script>
    {/if}
{/block}

{block modal}
{/block}
