{block bread}
{snippet bread}
{control menu:bread $category->CategoryID}
{/snippet}
{/block}

{block pageheader}



<div class="page-header">
    <h1 n:block="title" class="CatTitle" n:snippet="CatTitle">{$category->CategoryName}</h1>
    <small class="shortDesc"> {$category->CategoryDescription|striptags|truncate:50} </small>
<a href="#showcategoryinfo" id="morecategory">more about category...</a>
<div class="row">
    <div class="span10">
        {if $user->isInRole('admin')}
                <a href="#addProduct" class="btn" id="addProductButton"><i class="icon-large icon-plus"></i> {_"Add Product"}</a>
                <div class="btn-group">
                    <a href="#" class="btn"><i class="icon-large icon-bar-chart"></i> {_"Stats"}</a>
                        {if $category->CategoryPhoto == NULL}
                    <a href="#addCategoryPhoto" class="btn" data-toggel="modal" data-target="#addCategoryPhoto" id="addCategoryPhotoButton"><i class="icon-large icon-camera-retro"></i> {_"Add Photo"}</a>
                        {/if}

                </div>

                <div class="btn-group" n:snippet="categoryStatus">
                            {if $category->CategoryStatus == 0}
                    <a class="btn" href="{plink setCategoryStatus! $category->CategoryID, 1}" class="ajax"><i class="icon-large icon-eye-open"></i> {_'Publish category'}</a>
                           {elseif $category->CategoryStatus >= 1}
                    <a class="btn" href="{plink setCategoryStatus! $category->CategoryID, 0}" class="ajax"><i class="icon-large icon-eye-close"></i> {_'Unpublish category'}</a>
                   {/if}
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        {if $category->CategoryStatus == 2}
                        <li><a href="{plink setCategoryStatus! $category->CategoryID, 1}" class="ajax">
                        <i class="icon-ok-sign"></i>{_'Feature category!'}</a></li>
                        {else}
                        <li><a href="{plink setCategoryStatus! $category->CategoryID, 2}" class="ajax">
                        {_'Feature category!'}</a></li>
                        {/if}
                        <li><a href="#deleteCategory" data-toggel="modal" data-target="#deleteCategory" id="deleteCategoryButton"><i class="icon-large icon-trash"></i> {_"Delete Category"}</a>
                        </li>
                    </ul>
                </div>
                
                <div class="btn-group">
                    <a class="btn">{_'Parent Category'}</a>
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" n:snippet="parentCategory">
                        <li class="parentcat"><a href="{plink setParentCategory!  $category->CategoryID, NULL }" class="ajax">
                        {if $category->HigherCategoryID == NULL}<i class="icon-ok-sign"></i>{/if}
                        {_'--No parent--'}</a></li> 
                        
                        {foreach $categories as $catID => $cat}
                        {if $category->CategoryID != $catID & $cat->CategoryStatus != 3}
                        <li class="parentcat"><a href="{plink setParentCategory!  $category->CategoryID, $catID }" class="ajax">
                        {if $category->HigherCategoryID == $catID}<i class="icon-ok-sign"></i>{/if}
                        {$cat->CategoryName}</a></li> 
                        {/if}
                        {/foreach}
                   
                    </ul>
                </div>
                
                <div class="btn-group">
                        
                   <button class="btn dropdown-toggle" data-toggle="dropdown">
                       <i class="icon-large icon-th-large"></i> {_'Set Catalog Layout'}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="{plink setCatalogLayout! $category->CategoryID, ''}"><i class="icon-large icon-chevron-left"></i> {_'Left!'}</a></li>
                        <li><a href="{plink setCatalogLayout! $category->CategoryID, 2}"><i class="icon-large icon-chevron-right"></i> {_"Right"}</a>
                        </li>
                    </ul>
                </div>
           {/if}

    </div>
</div>

</div>   

<div class="alert alert-info span10 row" id="categoryinfo">
    {if $category->CategoryPhoto != NULL }
    <span class="span3">

        <img src="{$basePath}/images/category/150-{$category->CategoryPhoto}" class="img-circle" />
     {if $user->isInRole('admin')}<a href="{plink deletePhotoCategory! $category->CategoryID, $category->CategoryPhoto }">{_'Delete photo'}</a> {/if}

    </span>
    {/if}
    <span class="{$category->CategoryPhoto ? span6 : span9}" n:block="metadesc">
        <span class="CatDescription" n:snippet="CatDescription">{!$category->CategoryDescription}</span> <small><br/>
        <a href="{plink Blog:category $category->CategoryID}">{_'Check news on blog'} <i class="icon-arrow-right"></i></a></small>
    </span>
</div>

{/block}

{block sidebar}
<div class="span2">   
    {if $user->isInRole('admin')}
        {control menu:admin}
    {/if}
    <ul class="nav nav-list">
        <li class="nav-header">Menu</li>

                        {control menu:side}
        <li class="divider"></li>
    </ul>

   
</div>
{/block}

{block content}
<div class="span10" n:snippet="products">    
<ul class="thumbnails">
    
    {if $user->isInRole('admin')}
             
    <li class="span3 setview miniproduct hide" n:snippet="newproduct" >
        <div class="thumbnail info">
            <div style="height: 527px">
            <div class="">            
{form addProductForm}
  <fieldset>
    <legend>Add new product</legend>
    {label name /}
    {input name}
    {label price /}
    <div class="input-prepend">
  <span class="add-on">$</span>
    {input price}
    </div>
    {label amount /}
    <div class="input-prepend input-append">
                <button class="btn" type="button" id="plusAmount">+</button>
    {input amount}
        <button class="btn" type="button" id="minusAmount">-</button>
    </div>
    {label image /}
    {input image}
    <div class="form-actions">
    {input add}
    <button class="btn" id="addProductButtonHide"><i class="icon-large icon-minus-sign"></i> {_'Hide'}</button>
    </div>
    <span class="help-block">Example block-level help text here.</span>
  </fieldset>
{/form}

            </div>
            </div>
        </div> <!--primary row -->
    </li>
    
    
    {/if}
            {foreach $products as $id => $product}
                  {control product:productMini $product->ProductID}
            {/foreach}
</ul>




</div>    
{/block}

{block script}
    {if $user->isInRole('admin')}
<script>
    $(document).ready(function() {
        var amount = 1;

    $('#plusAmount').click(function() {
            var i = $('input[name=amount]').val();
            amount = parseInt(i) + 1;
        $('#frm-addProductForm-amount').val(amount);

        });

     $('#minusAmount').click(function() {
            var i = $('input[name=amount]').val();

            amount = parseInt(i);

            if(amount <= 0) {
                $('#frm-addProductForm-amount').val(0);
            }
            else {
                amount = amount -1;
                $('#frm-addProductForm-amount').val(amount);
            }
        });   

      
            
                  
        $('#addProductButton').toggle(function(){
          $('#snippet--newproduct').fadeIn();
          $('#addProductButton').text('Hide Product');
        },
        function() {
             $('#snippet--newproduct').fadeOut();
             $('#addProductButton').text('Add Product');
        });
        
        $('#addProductButtonHide').click(function(){
          $('#snippet--newproduct').fadeOut();
        });
            
         $('#addCategoryPhotoButton').toggle(function(){
          $('#addCategoryPhoto').modal('show');
        },
        function() {
            $('#addCategoryPhoto').modal('hide');
        });
            
            
        $('#deleteCategoryButton').toggle(function(){
          $('#deleteCategory').modal('show');
        },
        function() {
            $('#deleteCategory').modal('hide');
        });
        
        $('.CatTitle').editable( {link editCatTitle! $category->CategoryID }, { 
         type      : 'text',
         cancel    : {_'Cancel'},
         submit    : 'OK',
         indicator : '<i class="icon-spinner icon-spin"></i>',
         tooltip   : 'Click to edit ...',
         callback : function(value, settings) {
            var json = $.parseJSON(value);
            $('.CatTitle').text(json.edit);
        }
        });
        
        $('.CatDescription').editable( {link editCatDescription! $category->CategoryID }, {
         type      : 'wysiwyg',
         onblur    : 'ignore',
         cancel    : {_'Cancel'},
         submit    : 'OK',
         cssclass  : 'span6',
         colls     : '15',
         rows      : '15',
         indicator : '<i class="icon-spinner icon-spin"></i>',
         tooltip   : 'Click to edit ...',
         wysiwyg   : { controls : { separator04         : { visible : true },
                               insertOrderedList   : { visible : true },
                               insertUnorderedList : { visible : true }
                }
         }, 
        callback : function(value, settings) {
            var json = $.parseJSON(value);
            $('.CatDescription').html(json.edit);
            $('.shortDesc').html(json.edit);
        }
        });
             
         $('li.parentcat').click(function() { 
            $(this).hide(); });
   });  
</script>
    {/if}


<div n:snippet="script">
<script>
        $(document).ready(function() {
                $(".imgLiquid").imgLiquid({
                    fill: true,
                    fadeInTime: 0,
                    delay: 0,
                    horizontalAlign: "center",
                    verticalAlign: "top"});
            });
        </script>
<script>
    $('#morecategory').toggle(function(){
    $('#categoryinfo').fadeIn();
       
    },
    function(){
            
     $('#categoryinfo').fadeOut();
    });
    
    $('a.ajax').click(function(){
        $(this).html('<i class="icon-spinner icon-spin"></i>');
    });
    
    
</script>
</div>


{/block}

    {block modal}

    {if $user->isInRole('admin')}

<div id="addCategoryPhoto" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel"><i class="icon-plus"></i> Add category photo</h3>
    </div>
    <div class="modal-body">
        <p>{_'Please fill in these information'}</p>


    </div>
    <div class="modal-footer">
                {control addCategoryPhotoForm}
        <button class="btn" data-dismiss="modal" aria-hidden="true">{_'Close without adding'}</button>
    </div>
</div>

<div id="editCategory" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel"><i class="icon-pencil"></i> Edit Category</h3>
    </div>
    <div class="modal-body">
        <p>{_'Please fill in these information'}</p>

    </div>
    <div class="modal-footer" n:snippet="categoryInfoForm">
                {control editCategoryForm}
        <button class="btn" data-dismiss="modal" aria-hidden="true">{_'Close without adding'}</button>
    </div>
</div>



<div id="deleteCategory" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel"><i class="icon-pencil"></i> Delete {$category->CategoryName} Category?</h3>
    </div>
    <div class="modal-body">
        <p>{_'Are you sure to delete this category?'}</p>
        <p>{_'If so, choose where to move products!'}</p>

    </div>
    <div class="modal-footer">
                 {control deleteCategoryForm}
        <button class="btn" data-dismiss="modal" aria-hidden="true">{_'Close without adding'}</button>
    </div>
</div>

<div id="addCategory" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel"><i class="icon-pencil"></i> Add Category</h3>
    </div>
    <div class="modal-body"></div>
    <div class="modal-footer">
        <p>{_'Please fill in these information'}</p>
              {control addCategoryForm}

        <button class="btn" data-dismiss="modal" aria-hidden="true">{_'Close without adding'}</button>
    </div>
</div>
{/if}
{/block}
