{block pageheader}
<div class="page-header">
    <h1 n:block="title">{$product->ProductName} <small><i class="icon-trophy"></i> <i class="icon-thumbs-up"></i></small></h1>
            {if $user->isInRole('admin')}
<div class="row">
    <div class="span10">
        <a href="#addPhoto" data-toggel="modal" data-target="#addPhoto" id="addPhotoButton" ><i id="addIco" class="icon-large icon-camera-retro"></i> {_"Add Photo"}</a> |
        <a href="#"><i class="icon-large icon-bar-chart"></i> {_"Stats"}</a> |
        <a href="#"><i class="icon-large icon-pencil"></i> {_"Edit Product"}</a>
    </div>
</div>
            {/if}
    {if $user->isInRole('admin')}

    
    <div id="addPhoto" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel"><i class="icon-camera-retro"></i> Add new photo</h3>
            </div>
            <div class="modal-body">
                <p>{_'Select photo and click Add photo'}</p>
              <p>{control addPhotoForm}</p>
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
    </div>
    
    
    {/if}
    

</div>
{/block}

{block content}
<div class="span10">
    <div class="span5">
        <img src="{$basePath}/images/{$product->PhotoAlbumID}/{$product->PhotoURL}" class="img-circle" style="width: 400px;"/>
    </div>
    <div class="span4">
        <div class="tabbable span4">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#info" data-toggle="tab"><i class="icon-info-sign"></i> Info</a></li>
                <li><a href="#spec" data-toggle="tab"><i class="icon-list"></i> Spec</a></li>
                <li><a href="#other" data-toggle="tab">Other</a></li>
                <li><a href="#ask" data-toggle="tab"><i class="icon-comment"></i> Ask &AMP; share</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="info">
                    <p>{$product->ProductDescription}</p>

                </div>
                <div class="tab-pane" id="spec">
                    <ul class="icons">
                        <li><i class="icon-ok"></i>Width:</li>
                        <li><i class="icon-ok"></i>Height:</li>
                        <li><i class="icon-ok"></i>Weight:</li>
                    </ul>
                </div>
                <div class="tab-pane" id="other">
                    <p>Other infos</p>
                </div>
                <div class="tab-pane" id="ask">
                    <p>ASK ABOUT!</p>
                </div>
            </div>
        </div>

        <div class=".span4 alert alert-info">
            <h2 class="text-info span2">{$product->FinalPrice},-</h2>
            <a href="{plink Order:cart $product->ProductID, "1"}" class="span2 btn btn-primary">
                <i class="icon-shopping-cart"></i> Buy</a>


            <div class="span2 clearfix">
                <p class="">{_"In stock"}:
                    {if $product->PiecesAvailable >= 5}
                    <span class="badge badge-info">
                    {elseif $product->PiecesAvailable < 5 && $product->PiecesAvailable > 0}
                        <span class="badge badge-warning">
                    {elseif $product->PiecesAvailable = 0 }
                            <span class="badge">
                        {/if}
                    {$product->PiecesAvailable}</span></p>
                            </div>
                            </div>
                            </div>

                            <div class="tabbable span10">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#gal" data-toggle="tab"><i class="icon-camera-retro"></i> Gallery</a></li>
                                    <li><a href="#vid" data-toggle="tab"><i class="icon-facetime-video"></i> Video</a></li>
                                    <li><a href="#rew" data-toggle="tab"><i class="icon-check"></i> Review</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="gal">


                                        <ul class="thumbnails">
                                {foreach $album as $id => $photo}
                                            <li class="{if $photo->CoverPhoto}span4 {else} span3{/if}">
                                                <a href="#myLightbox" class="thumbnail">
                                                    <img style="height:{if $photo->CoverPhoto}430px{else}200px{/if}; width: auto;" src="{$basePath}/images/{$product->PhotoAlbumID}/{$photo->PhotoURL}" alt="{$product->ProductName}">
                                                </a>
                                                {if $user->isInRole('admin')}
                                                <a href="{link deletePhoto! $product->ProductID, $photo->PhotoID}"><i class="icon-trash" ></i> Delete image</a>
                                                  {/if}
                                            </li>

                            {/foreach}
                                        </ul>
                                    </div>
                                    <div class="tab-pane active" id="vid">
                                        <iframe width="853" height="480" src="http://www.youtube.com/embed/qN3EXAFRxKQ?rel=0" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>

    </div> <!-- class="span10" -->
{/block}

{block sidebar}
                            <div class="span2">
    {if $user->isInRole('admin')}
        {control menu:admin}
    {/if}


                                <ul class="nav nav-list">
                                    <li class="nav-header">Menu</li>
                                    <li class="active"><a href="#"><i class="icon-home"></i>Domů</a></li>
                                    <li><a href="#"><i class="icon-book"></i>Jak nakupovat</a></li>
                                    <li><a href="#"><i class="icon-heart"></i>Jak prodávat</a></li>
                                    <li><a href="#"><i class="icon-comment"></i>Jak cokoliv</a></li>
                                    <li class="divider"></li>
                                </ul>

                                <i class="icon-camera-retro icon-2x"></i><strong>Google Nexus</strong>
                                <p>See source code of <a href="#template">this page template</a>, <a href="#layout">layout template</a> and
                                    <a href="#presenter">corresponding presenter</a>. And feel free to modify them!</p>
                            </div>
{/block}

{block script}
     <script src="{$basePath}/js/bootstrap-lightbox.min.js"></script>
     <script src="{$basePath}/js/holder.js"></script>
     
         {if $user->isInRole('admin')}
    <script>
        $(document).ready(function() {
    
          $('.nav-tabs').button();
          $('.upl').click(function() { 
                $('.upl').button('toggle');
                $('.upl').button('loading') });
          $('#addPhotoButton').toggle(function(){
              $('#addPhoto').modal('show');
             //  $('#addIco').attr('class', 'icon-large icon-minus');
            },
            function() {
                $('#addPhoto').modal('hide');
              //  $('#addIco').attr('class', 'icon-large icon-camera-retro');
            });
         
    });

    </script>
    {/if}
{/block}