{block pageheader}
 <div class="page-header">
     <h1 n:block="title">{$product->ProductName} <small><i class="icon-trophy"></i> <i class="icon-thumbs-up"></i></small></h1>
            {if $user->isLoggedIn()}
            <div class="row">
                <div class="span10">
                    <a href="#" id="showNew" ><i id="addIco" class="icon-large icon-plus"></i> {_"Add Product"}</a> |
                    <a href="#"><i class="icon-large icon-bar-chart"></i> {_"Stats"}</a> |
                    <a href="#"><i class="icon-large icon-pencil"></i> {_"Edit Category"}</a>
                </div>
            </div>
            {/if}
        </div>
{/block}

{block content}
<div class="span10">
            <div class="span5">
                <img src="../../../images/1/1.png" class="img-circle" style="width: 400px;"/>
            </div>
            <div class="span4">
                <div class="tabbable span4">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#info" data-toggle="tab"><i class="icon-info-sign"></i> Info</a></li>
                        <li><a href="#spec" data-toggle="tab"><i class="icon-list"></i> Spec</a></li>
                        <li><a href="#other" data-toggle="tab">Other</a></li>
                        <li><a href="#ask" data-toggle="tab"><i class="icon-comment"></i> Ask &AMP; share</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="info">
                            <p>{$product->ProductDescription}</p>

                        </div>
                        <div class="tab-pane" id="spec">
                            <ul class="icons">
                                <li><i class="icon-ok"></i>Width:</li>
                                <li><i class="icon-ok"></i>Height:</li>
                                <li><i class="icon-ok"></i>Weight:</li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="other">
                            <p>Other infos</p>
                        </div>
                        <div class="tab-pane" id="ask">
                            <p>ASK ABOUT!</p>
                        </div>
                    </div>
                </div>

                <div class=".span4 alert alert-info">
                    <h2 class="text-info span2">{$product->FinalPrice},-</h2>
                    <a href="{plink Order:cart $product->ProductID, "1"}" class="span2 btn btn-primary">
                            <i class="icon-shopping-cart"></i> Buy</a>


                    <div class="span2 clearfix">
                    <p class="">{_"In stock"}:
                    {if $product->PiecesAvailable >= 5}
                    <span class="badge badge-info">
                    {elseif $product->PiecesAvailable < 5 && $product->PiecesAvailable > 0}
                    <span class="badge badge-warning">
                    {elseif $product->PiecesAvailable = 0 }
                    <span class="badge">
                        {/if}
                    {$product->PiecesAvailable}</span></p>
                    </div>
                </div>
            </div>
        </div> <!-- class="span10" -->
{/block}

{block sidebar}
<div class="span2">
    {if $user->isLoggedIn()}
        {control menu:admin}
    {/if}
        

        <ul class="nav nav-list">
            <li class="nav-header">Menu</li>
            <li class="active"><a href="#"><i class="icon-home"></i>Domů</a></li>
            <li><a href="#"><i class="icon-book"></i>Jak nakupovat</a></li>
            <li><a href="#"><i class="icon-heart"></i>Jak prodávat</a></li>
            <li><a href="#"><i class="icon-comment"></i>Jak cokoliv</a></li>
            <li class="divider"></li>
        </ul>

        <i class="icon-camera-retro icon-2x"></i><strong>Google Nexus</strong>
        <p>See source code of <a href="#template">this page template</a>, <a href="#layout">layout template</a> and
            <a href="#presenter">corresponding presenter</a>. And feel free to modify them!</p>
</div>
{/block}