{block bread}
{snippet bread}
{control menu:bread $category->CategoryID}
{/snippet}
{/block}

{block pageheader}
{if $user->isInRole('admin')}
<div class="col-md-12" n:snippet="controlPanel">
        
     <div class="alert alert-error"><i class="icon-info-sign"></i> {_'You are logged in as admin. You can simply edit this category by clicking on Title, Description or panel bellow etc. More info?'}</div>

     <button class="btn btn-default" type="button" data-toggle="modal" data-target="#addProduct"><i class="icon-large icon-plus"></i> {_"Add Product"}</button>
                <div class="btn-group">
                    <a href="#" class="btn btn-default"><i class="icon-large icon-bar-chart"></i> {_"Stats"}</a>
                        {if $category->CategoryPhoto == NULL}
                    
                        {/if}
						{*<a href="#addCategoryPhoto" class="btn btn-default" data-toggel="modal" data-target="#addCategoryPhoto" id="addCategoryPhotoButton"><i class="icon-large icon-camera-retro"></i> {_"Add Category Photo"}</a>*}

                </div>

                <div class="btn-group" n:snippet="categoryStatus">
                            {if $category->CategoryStatus == 0}
                    <a class="btn btn-default ajax btn-success" href="{plink setCategoryStatus! $category->CategoryID, 1}" ><i class="icon-large icon-eye-open"></i> {_'Publish category'}</a>
                           {elseif $category->CategoryStatus >= 1}
                    <a class="btn btn-default ajax" href="{plink setCategoryStatus! $category->CategoryID, 0}" ><i class="icon-large icon-eye-close"></i> {_'Unpublish category'}</a>
                   {/if}
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        {if $category->CategoryStatus == 2}
                        <li><a href="{plink setCategoryStatus! $category->CategoryID, 1}" class="ajax">
                        <i class="icon-ok-sign"></i>{_'Feature category!'}</a></li>
                        {else}
                        <li><a href="{plink setCategoryStatus! $category->CategoryID, 2}" class="ajax">
                        {_'Feature category!'}</a></li>
                        {/if}
                        <li><a href="#deleteCategory" data-toggel="modal" data-target="#deleteCategory" id="deleteCategoryButton"><i class="icon-large icon-trash"></i> {_"Delete Category"}</a>
                        </li>
                    </ul>
                </div>
                
                <div class="btn-group">
                    <a class="btn btn-default"><i class="icon-sitemap"></i> {_'Parent Category'}</a>
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" n:snippet="parentCategory">
                        <li class="parentcat"><a href="{plink setParentCategory!  $category->CategoryID, NULL }" class="ajax">
                        {if $category->HigherCategoryID == NULL}<i class="icon-ok-sign"></i>{/if}
                        {_'--No parent--'}</a></li> 
                        
                        {foreach $categories as $catID => $cat}
                        {if $category->CategoryID != $catID & $cat->CategoryStatus != 3}
                        <li class="parentcat"><a href="{plink setParentCategory!  $category->CategoryID, $catID }" class="ajax">
                        {if $category->HigherCategoryID == $catID}<i class="icon-ok-sign"></i>{/if}
                        {$cat->CategoryName}</a></li> 
                        {/if}
                        {/foreach}
                   
                    </ul>
                </div>
                                
   </div>
   {/if}

<div class="col-md-12">
<div class="panel panel-default">
  <div class="panel-heading">
    <h1 n:block="title" class="CatTitle" n:snippet="CatTitle">{$category->CategoryName}</h1>

</div>
  <div class="panel-body">
    <small class="shortDesc muted">
    <span n:block="metadesc">
        <span class="CatDescription" n:snippet="CatDescription">{!$category->CategoryDescription}</span>
       
    </span> 
</small>

    {if $subcategories}
    <div class="col-md-11">
        <ul class="nav nav-pills">
        {foreach $subcategories as $catID => $cat}
            <li><a href="{plink product:products $catID, $cat->CategoryName}"><i class="icon-chevron-sign-right"></i>  {$cat->CategoryName}</a></li>
        {/foreach}
      </ul>
    </div>  
    {/if}
      </div> </div>
</div>
{/block}

{block sidebar}
<div>   
    
    <ul class="nav nav-list">
        <li class="nav-header">Menu</li>

                        {control menu:$menuSide}
        <li class="divider"></li>
    </ul>

   
</div>
{/block}

{block content}
<div class="col-md-12" n:snippet="products">    
   <div class="col-md-12 btn-toolbar margin5">
    <div class="btn-group">
        <a n:href="setFilter! 'price', 'ASC'" class="btn btn-default ajax">{_'Price'}</a>
        <a n:href="setFilter! 'price', 'ASC'" class="btn btn-default ajax"><i class="icon-sort-by-order"></i></a>
        <a n:href="setFilter! 'price', 'DESC'" class="btn btn-default ajax"><i class="icon-sort-by-order-alt"></i></a>
    </div>
    
    <div class="btn-group">
        <a n:href="setFilter! 'product', 'ASC'" class="btn btn-default ajax">{_'Name'}</a>
        <a n:href="setFilter! 'product', 'ASC'" class="btn btn-default ajax"><i class="icon-sort-by-alphabet"></i></a>
        <a n:href="setFilter! 'product', 'DESC'" class="btn btn-default ajax"><i class="icon-sort-by-alphabet-alt"></i></a>
        
    </div>
    
    <div class="btn-group">
        <a n:href="setFilter! 'sale', 'DESC'" class="btn btn-default ajax">{_'Sale'}</a>
        <a n:href="setFilter! 'sale', 'ASC'" class="btn btn-default ajax"><i class="icon-sort-up"></i></a>
        <a n:href="setFilter! 'sale', 'DESC'" class="btn btn-default ajax"><i class="icon-sort-down"></i></a>
    </div>
    
    <div class="btn-group">
        <a n:href="setFilter! 'pieces', 'DESC'" class="btn btn-default ajax">{_'In Stock'}</a>
        <a n:href="setFilter! 'pieces', 'ASC'" class="btn btn-default ajax"><i class="icon-sort-up"></i></a>
        <a n:href="setFilter! 'pieces', 'DESC'" class="btn btn-default ajax"><i class="icon-sort-down"></i></a>
    </div>
       </div>
<div class="row">
 
            {foreach $products as $id => $product}
        <div class="col-xs-12 col-sm-4 col-md-4">
                {control product:ProductMini $product}
            </div>
            {/foreach}
</div>
</div>    
{/block}

{block script}
    {if $user->isInRole('admin')}
<script>
    $(document).ready(function() {
        var amount = 1;

    $('#plusAmount').click(function() {
            var i = $('input[name=amount]').val();
            amount = parseInt(i) + 1;
        $('#frm-addProductForm-amount').val(amount);

        });

     $('#minusAmount').click(function() {
            var i = $('input[name=amount]').val();

            amount = parseInt(i);

            if(amount <= 0) {
                $('#frm-addProductForm-amount').val(0);
            }
            else {
                amount = amount -1;
                $('#frm-addProductForm-amount').val(amount);
            }
        });   

      
            
                  
        $('#addProductButton').toggle(function(){
          $('#snippet--newproduct').fadeIn();
          $('#addProductButton').text('Hide Product');
        },
        function() {
             $('#snippet--newproduct').fadeOut();
             $('#addProductButton').text('Add Product');
        });
        
        $('#addProductButtonHide').click(function(){
          $('#snippet--newproduct').fadeOut();
        });
            
         $('#addCategoryPhotoButton').toggle(function(){
          $('#addCategoryPhoto').modal('show');
        },
        function() {
            $('#addCategoryPhoto').modal('hide');
        });
            
            
        $('#deleteCategoryButton').toggle(function(){
          $('#deleteCategory').modal('show');
        },
        function() {
            $('#deleteCategory').modal('hide');
        });
        
        $('.CatTitle').editable( {link editCatTitle! $category->CategoryID }, { 
         type      : 'text',
         cancel    : {_'Cancel'},
         submit    : 'OK',
         indicator : '<i class="icon-spinner icon-spin"></i>',
         tooltip   : 'Click to edit ...',
         callback : function(value, settings) {
            var json = $.parseJSON(value);
            $('.CatTitle').text(json.edit);
        }
        });
        
        $('.CatDescription').editable( {link editCatDescription! $category->CategoryID }, {
         type      : 'wysiwyg',
         onblur    : 'ignore',
         cancel    : {_'Cancel'},
         submit    : 'OK',
         colls     : '15',
         rows      : '10',
         indicator : '<i class="icon-spinner icon-spin"></i>',
         tooltip   : '{_'Click to edit'} ...',
         wysiwyg   : { controls : { separator04         : { visible : true },
                               insertOrderedList   : { visible : true },
                               insertUnorderedList : { visible : true }
                }
         }, 
        callback : function(value, settings) {
            var json = $.parseJSON(value);
            $('.CatDescription').html(json.edit);
        }
        });
             
         $('li.parentcat').click(function() { 
            $(this).hide(); });
   });  
</script>
    {/if}
{/block}

    {block modal}

    {if $user->isInRole('admin')}

<div id="addCategoryPhoto" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel"><i class="icon-plus"></i> {_'Add category photo'}</h3>
    </div>
    <div class="modal-body">
        <p>{_'Please fill in these information'}</p>
                        {control addCategoryPhotoForm}
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{_'Close without adding'}</button>
    </div>
</div>


<div id="deleteCategory" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel"><i class="icon-pencil"></i> {_'Delete'} {$category->CategoryName} {_'Category'}?</h3>
    </div>
    <div class="modal-body">
        <p>{_'Are you sure to delete this category?'}</p>
        <p>{_'If so, choose where to move products!'}</p>

    </div>
    <div class="modal-footer">
                 {control deleteCategoryForm}
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{_'Close without adding'}</button>
    </div>
</div>
</div>
</div>
    <div id="addCategory" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel"><i class="icon-pencil"></i> {_'Add Category'}</h3>
    </div>
    <div class="modal-body">
                <p>{_'Please fill in these information'}</p>
    {control addCategoryForm}
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{_'Close without adding'}</button>
    </div>
</div>



<div id="addProduct" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addProduct" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add Product</h4>
      </div>
 <div class="modal-body" n:snippet="newproduct">

     {form addProductForm role => 'form'}
<ul class="errors" n:if="$form->hasErrors()">
        <li n:foreach="$form->errors as $error">{$error}</li>
</ul> 
<div class="form-group">
    {label name /}
    {input name}
</div><div class="form-group">
    {label price /}
    <div class="input-group">
    <span class="input-group-addon">$</span>
    {input price}
    </div> 
    </div><div class="form-group">
    {label amount /}
    {input amount}
    </div><div class="form-group">
    {label image /}
    {input image}
        <p class="help-block"><i class="icon-info-sign"></i> Max size is 2MB ~ 1 Megapixel photos</p>
    </div><div class="form-group">
    {input add}
    </div>
    
{/form}
  <span class="help-block"><i class="icon-info-sign"></i> {_'Enter this basic info. All other can be added later.'}</span>  

</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close without adding</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    
{/if}
{/block}
