{block pageheader}
<div class="page-header">
    <h1 n:block="title">{$product->ProductName} <small><i class="icon-trophy"></i> <i class="icon-thumbs-up"></i></small></h1>
            {if $user->isInRole('admin')}
<div class="row">
    <div class="span10">
        <a href="#addPhoto" data-toggel="modal" data-target="#addPhoto" id="addPhotoButton" ><i class="icon-large icon-camera-retro"></i> {_"Add Photo"}</a> |
        <a href="#editDesc" data-toggel="modal" data-target="#editDesc" id="editDescButton" ><i class="icon-large icon-pencil"></i> {_"Edit Description"}</a> |
        <a href="#editPrice" data-toggel="modal" data-target="#editPrice" id="editPriceButton" ><i class="icon-large icon-money"></i> {_"Edit Price"}</a> |
        <a href="#editPieces" data-toggel="modal" data-target="#editPieces" id="editPiecesButton"><i class="icon-large icon-truck"></i> {_"Edit Pieces"}</a> |
        <a href="#"><i class="icon-large icon-bar-chart"></i> {_"Stats"}</a> 
        
    </div>
</div>
            {/if}
    {if $user->isInRole('admin')}

    
    <div id="addPhoto" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel"><i class="icon-camera-retro"></i> Add new photo</h3>
            </div>
            <div class="modal-body">
                <p>{_'Select photo and click Add photo'}</p>
              <p>{control addPhotoForm}</p>
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
    </div>
    
    <div id="editDesc" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel"><i class="icon-camera-retro"></i> Edit description</h3>
            </div>
            <div class="modal-body">
                <p>{_'Edit your description and click Save desccription.'}</p>
              <p>{control editDescForm}</p>
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Close without saving</button>
            </div>
    </div>

    <div id="editPrice" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel"><i class="icon-camera-retro"></i> Edit price</h3>
            </div>
            <div class="modal-body">
                <p>{_'Edit your description and click Save desccription.'}</p>
              <p>{control editPriceForm}</p>
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Close without saving</button>
            </div>
    </div>
    
    <div id="editPieces" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel"><i class="icon-camera-retro"></i> Edit pieces in stock</h3>
            </div>
            <div class="modal-body">
                <p>{_'Edit your description and click Save desccription.'}</p>
              <p>{control editPiecesForm}</p>
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Close without saving</button>
            </div>
    </div>
    
    {*control editControl:parameters $product->ProductID*}
    <div id="editParam" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel"><i class="icon-camera-retro"></i> Edit price</h3>
            </div>
            <div class="modal-body tabbable">
                
            <ul class="nav nav-tabs">
                <li class="active"><a href="#editParams" data-toggle="tab"><i class="icon-pencil"></i> Edit Params</a></li>
                <li><a href="#addParam" data-toggle="tab"><i class="icon-plus"></i> Add Param</a>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="editParams">
                    {control editParamForm}

                </div>
                <div class="tab-pane" id="addParam">

                </div>
            </div>
                  
             </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Close without saving</button>
            </div>
    </div>
    {/if}
    

</div>
{/block}

{block content}
<div class="span10">
    <div class="span5">
        <img src="{$basePath}/images/{$product->PhotoAlbumID}/{$product->PhotoURL}" style="width: 400px;"/>
    </div>
    <div class="span4">
        <div class="tabbable span4">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#info" data-toggle="tab"><i class="icon-info-sign"></i> Info</a></li>
                <li><a href="#spec" data-toggle="tab"><i class="icon-list"></i> Spec</a></li>
                <li><a href="#other" data-toggle="tab">Other</a></li>
                <li><a href="#ask" data-toggle="tab"><i class="icon-comment"></i> Ask &AMP; share</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="info">
                   
                    <p>{!$product->ProductDescription|striptags|truncate:180}</p>

                </div>
                <div class="tab-pane" id="spec">
                    <ul class="icons">
                        {foreach $parameter as $parameter}
                            <li>                                                                                                    
                                
                                    {$parameter->Parameter}:
                                    {$parameter->Val}
                                    {$parameter->Unit}
                                
                            </li>
                        {/foreach}                        
                    </ul>
                </div>
                <div class="tab-pane" id="other">
                    <p>Other infos</p>
                </div>
                <div class="tab-pane" id="ask">
                    <p>ASK ABOUT!</p>
                </div>
            </div>
        </div>

        <div class=".span4 alert alert-info">
            {if $product->SALE > 1}
            <p class=".span2 alert alert-warning">
                        <i class="icon-money icon-large"></i>  <span class="badge badge-important">- {$product->SALE},- / {var $procent = 100 * ($product->SALE / $product->SellingPrice)} {$procent|number}%</span>
            </p>
            {/if}
            
            <h2 class="text-info span2">{$product->FinalPrice},- {if $product->SALE > 1}<span class="muted" style="text-decoration: line-through; font-size: 50%;">{$product->SellingPrice},-</span>{/if}</h2>
            <a href="{plink Order:cart $product->ProductID, "1"}" class="span2 btn btn-primary">
                <i class="icon-shopping-cart"></i> Buy</a>


            <div class="span2 clearfix">
                <p class="">{_"In stock"}:
                    {if $product->PiecesAvailable >= 5}
                    <span class="badge badge-info">
                    {elseif $product->PiecesAvailable < 5 && $product->PiecesAvailable > 0}
                        <span class="badge badge-warning">
                    {elseif $product->PiecesAvailable = 0 }
                            <span class="badge">
                        {/if}
                    {$product->PiecesAvailable}</span>
                      </p>
                      
                            </div>
                            </div>
                            </div>

                            <div class="tabbable span9">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#allinfo" data-toggle="tab"><i class="icon-info-sign"></i> Info</a></li>
                                    <li><a href="#gal" data-toggle="tab"><i class="icon-camera-retro"></i> Gallery</a></li>
                                    <li><a href="#vid" data-toggle="tab"><i class="icon-facetime-video"></i> Video</a></li>
                                    <li><a href="#rew" data-toggle="tab"><i class="icon-check"></i> Review</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="allinfo">
                                        <p class="text-justified">{!$product->ProductDescription}</p>
                                    </div>
                                    
                                    <div class="tab-pane" id="gal">


                                        <ul class="thumbnails">
                                {foreach $album as $id => $photo}
                                            <li class="{if $photo->CoverPhoto}span3 {else} span3 {/if}">
                                                <a href="#myLightbox" class="thumbnail imgLiquid" style="height: 250px; width: 250px;">
                                                    <img style="" src="{$basePath}/images/{$product->PhotoAlbumID}/{$photo->PhotoURL}" alt="{$product->ProductName}">
                                                </a>
                                                {if $user->isInRole('admin')}
                                                    <a href="{link coverPhoto! $product->ProductID, $photo->PhotoID}"><i class="icon-star" ></i> Set as COVER image</a>
                                                    <a href="{link deletePhoto! $product->ProductID, $photo->PhotoID}"><i class="icon-trash" ></i> Delete image</a>
                                                  {/if}
                                            </li>

                                 {/foreach}
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="vid">
                                        <iframe width="853" height="480" src="http://www.youtube.com/embed/qN3EXAFRxKQ?rel=0" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>

    </div> <!-- class="span10" -->
{/block}

{block sidebar}
                            <div class="span2">
    {if $user->isInRole('admin')}
        {control menu:admin}
    {/if}


                                <ul class="nav nav-list">
                                    <li class="nav-header">Menu</li>
                                    <li class="active"><a href="#"><i class="icon-home"></i>Domů</a></li>
                                    <li><a href="#"><i class="icon-book"></i>Jak nakupovat</a></li>
                                    <li><a href="#"><i class="icon-heart"></i>Jak prodávat</a></li>
                                    <li><a href="#"><i class="icon-comment"></i>Jak cokoliv</a></li>
                                    <li class="divider"></li>
                                </ul>

                                <i class="icon-camera-retro icon-2x"></i><strong>Google Nexus</strong>
                                <p>See source code of <a href="#template">this page template</a>, <a href="#layout">layout template</a> and
                                    <a href="#presenter">corresponding presenter</a>. And feel free to modify them!</p>
                            </div>
{/block}

{block script}
     <script src="{$basePath}/js/bootstrap-lightbox.min.js"></script>

     <script>
        $(document).ready(function() {
                $(".imgLiquid").imgLiquid({
                    fill: true,
                    fadeInTime: 0,
                    delay: 0,
                    horizontalAlign: "left",
                    verticalAlign: "top"});
            });
        </script>
        
         {if $user->isInRole('admin')}
                    <script src="{$basePath}/js/droparea.js"></script>
    <script>
        $(document).ready(function() {
                 
          $('.nav-tabs').button();
          $('.upl').click(function() { 
                $('.upl').button('toggle');
                $('.upl').button('loading') });
          $('#addPhotoButton').toggle(function(){
              $('#addPhoto').modal('show');
             //  $('#addIco').attr('class', 'icon-large icon-minus');
            },
            function() {
                $('#addPhoto').modal('hide');
              //  $('#addIco').attr('class', 'icon-large icon-camera-retro');
            });
            
          $('#editDescButton').toggle(function(){
              $('#editDesc').modal('show');
             //  $('#addIco').attr('class', 'icon-large icon-minus');
            },
            function() {
                $('#editDesc').modal('hide');
              //  $('#addIco').attr('class', 'icon-large icon-camera-retro');
            });
            
          $('#editPriceButton').toggle(function(){
              $('#editPrice').modal('show');
             //  $('#addIco').attr('class', 'icon-large icon-minus');
            },
            function() {
                $('#editPrice').modal('hide');
              //  $('#addIco').attr('class', 'icon-large icon-camera-retro');
            });
        
         $('#editPiecesButton').toggle(function(){
              $('#editPieces').modal('show');
             //  $('#addIco').attr('class', 'icon-large icon-minus');
            },
            function() {
                $('#editPieces').modal('hide');
              //  $('#addIco').attr('class', 'icon-large icon-camera-retro');
            });
            
          $('#editParamButton').toggle(function(){
              $('#editParam').modal('show');
             //  $('#addIco').attr('class', 'icon-large icon-minus');
            },
            function() {
                $('#editParam').modal('hide');
              //  $('#addIco').attr('class', 'icon-large icon-camera-retro');
            });
    });

    </script>
  
    {/if}
{/block}
