{block bread}
{snippet bread}
{control menu:bread $product->CategoryID, $product->ProductID}
{/snippet}
{/block}
{block pageheader}
{if $user->isInRole('admin')}

    <div class="span12">
             <div class="alert alert-error span12"><i class="icon-info-sign"></i> {_'You are logged in as admin. You can simply edit this product by clicking on Title, Description etc. More info?'}</div>

            <div class="btn-group">
                <a class="btn"><i class="icon-sitemap"></i> {_'Choose Category'}</a>
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" n:snippet="productCategory">
                    {foreach $categories as $catID => $cat}
                     {if $cat->CategoryStatus != 4}
                    <li class="productcat"><a href="{plink setProductCategory!  $product->ProductID, $catID }" class="ajax">
                    {if $product->CategoryID == $catID}<i class="icon-ok-sign"></i>{/if}
                    {$cat->CategoryName}</a></li>
                    {/if}
                    {/foreach}

                </ul>
            </div>

            <div class="btn-group">
                <a class="btn">{_'Choose Producer'}</a>
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" n:snippet="productProducer">
                    {foreach $producers as $producerID => $prod}

                    <li class="productproducer"><a href="{plink setProductProducer!  $product->ProductID, $producerID }" class="ajax">
                    {if $product->ProducerID == $producerID}<i class="icon-ok-sign"></i>{/if}
                    {$prod->ProducerName}</a></li> 
                    {/foreach}

                </ul>
            </div>
            
            <div class="btn-group" n:snippet="productStatus">
    
              {if $product->ProductStatusID == 3} 
                <a href="{plink setProductStatus! $product->ProductID, 2}" class="btn ajax active"><i class="icon-thumbs-up"></i></a>
                   {else}
                <a href="{plink setProductStatus! $product->ProductID, 3}" class="btn ajax"><i class="icon-thumbs-up"></i></a>
                   {/if}
                  
                {if $product->ProductStatusID == 1}
<a href="{plink showProduct! $product->CategoryID, $product->ProductID}" title="{_'Publish product'}" class="ajax btn"><i id="showProduct" class="icon-large icon-eye-open"></i></a>

<a href="{plink deleteProduct! $product->ProductID, $product->CategoryID}" title="{_'Archive product'}" class="ajax btn"><i id="deleteProduct" class="icon-large icon-inbox"></i></a>

    {elseif $product->ProductStatusID == 2}
<a href="{plink hideProduct! $product->CategoryID, $product->ProductID}" title="{_'Hide product'}" class="ajax btn"><i id="hideProduct" class="icon-large icon-eye-close"></i></a>

    
    {elseif $product->ProductStatusID == 3} 
<a href="{plink hideProduct! $product->CategoryID, $product->ProductID}" title="{_'Hide product'}" class="ajax btn"><i id="hideProduct" class="icon-large icon-eye-close"></i></a>
                   
    {else}
<a href="{plink hideProduct! $product->CategoryID, $product->ProductID}" class="btn ajax"><i id="hideProduct" class="icon-large icon-eye-close"></i></a>
    {/if}

            </div>
            <div class="btn-group">
               <a href="#editParam" class="btn" data-toggel="modal" data-target="#editParam" id="editParamButton"><i class="icon-large icon-list"></i> {_"Edit Specs"}</a> |
            </div>
            <a href="#" class="btn" ><i class="icon-large icon-bar-chart"></i> {_"Stats"}</a>
        </div>
{/if}

<div class="page-header" n:snippet="page-header">
    <h1><span class="prodTitle" n:snippet="prodTitle" n:block="title">{$product->ProductName}</span>
            <small>
                    {if $product->PiecesAvailable > 5}
            <span class="badge badge-info">{$product->PiecesAvailable}</span>
                    {elseif $product->PiecesAvailable > 0}
            <span class="badge badge-warning">{$product->PiecesAvailable} {_'LAST'}</span>
                    {else}
            <span class="badge badge-inverse">{_'OUT OF STOCK'}</span>
                    
                    {/if}
            {if $product->ProductStatusID == 3}
                <span class="badge badge-inverse"><i class="icon-thumbs-up icon-large"></i> {_'HOT'}</span>
            {/if}
            {if $product->SALE > 1}
                <span class="badge badge-important"><i class="icon-money icon-large"></i> {_'SALE'}</span>
            {/if}
           
            </small></h1>
</div>
{/block}

{block content}
<div class="span12">
    <div class="span5">
         {if $albumID}
                     <img src="{$basePath}/images/{$albumID}/300-{$photo->PhotoURL}" class="img-polaroid margin5" />

                {else}
                   <img src="{$basePath}/images/no_image.jpg" class="img-circle" class="span2" style="height: 150px; width: auto;"/>
                {/if} 
    </div>
    
    <div class="span6" style="min-height: 114px;">
        <div class="tabbable span12 pull-right">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#info" data-toggle="tab"><i class="icon-info-sign"></i> {_'Info'}</a></li>
                <li><a href="#spec" data-toggle="tab"><i class="icon-list"></i> {_'Spec'}</a></li>
                <li><a href="#ask" data-toggle="tab"><i class="icon-comment"></i> {_'Ask'}</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="info">

                    <p n:block="metadesc" class="prodShort" n:snippet="prodShort">{!$product->ProductShort|striptags|truncate:180}</p>
                    
                </div>
                <div class="tab-pane" id="spec">
                    <dl class="dl-horizontal">
                        {foreach $parameter as $parameter}
                        <dt>{$parameter->AttribName}:</dt>
                        <dd>{$parameter->Val}{$parameter->UnitShort}</dd>
                        {/foreach}      
                        <dt>{_'Producer'}:</dt>
                        <dd>{$product->ProducerName}</dd>
                    </dl>
                </div>
                <div class="tab-pane" id="ask">

                  {snippet contact}       
                                {form askForm class => ajax}
                       <ul class="errors" n:if="$form->hasErrors()">
                               <li n:foreach="$form->errors as $error">{$error}</li>
                       </ul>
                    <span class="help-block"><i class="icon-info-sign"></i> {_'We will respond as soon as possible.'}</span>
                    <fieldset class="span10">
                           {label note /}
                           {input note}

                           {label email /}
                           <div class="input-prepend input-append span6">
                               <span class="add-on">@</span>
                           {input email}
                           </div>
                           {input ask}
                           
                         </fieldset>
                       {/form}
                  {/snippet}
                    
                </div>
            </div>
        </div>

    </div>
           
  
    {foreach $productVariants as $id => $prod}
    <div class="span6 pricetag margin5 ">
            
              {if $user->isInRole('admin')}
            <div class="btn-group span12 margin5">
              <button class="btn" id="editPriceOff" class="hide" style="display: none;">{_'Finish Editing Price'}</button>
              <button class="btn" id="editPrice">{_'Edit Price'}</button> 
            </div>
              {/if}
            
            
            
        
            <div n:snippet="prodPrice" class="span4 text-center">
              {if $user->isInRole('admin')}
                
               <div id="editProdPrice" class="hide span12">
                <p>{_'Discount'}:</p>
                     <div class="btn-group">

                     <a href="{plink setSale! $prod->ProductID, 5, 'percent'}" class="ajax btn discountbtn">5%</a>
                     <a href="{plink setSale! $prod->ProductID, 10, 'percent'}" class="ajax btn discountbtn">10%</a>
                     <a href="{plink setSale! $prod->ProductID, 15, 'percent'}" class="ajax btn discountbtn">15%</a>
                     <hr>   
                     </div>
                 {control editPriceForm}
                </div>
              {/if}
             <div id="prodPrice" class="span12 text-center">
                 <span class="badge badge-info span12">
                

                                 <span class="span12 text-center">{_"Price"}</span> 
                                 {if $product->SALE > 1}
                                 <span n:snippet="prodSale" class="span12">
                    <span class="badge badge-important">- {$prod->SALE},- / {var $procent = 100 * ($prod->SALE / $prod->SellingPrice)} {$procent|number}%</span>
                        <span class="span12" style="text-decoration: line-through;">{$prod->SellingPrice},-</span>
                                 </span>
                {/if}
                                 <h2 class="span12 text-center prodPrice">{$prod->FinalPrice},-</h2>

                                 </span>
            </div>
                            

            </div>
                
                
            <div class="span3 text-center">
                    {if $prod->PiecesAvailable >= 5}
                    <span class="badge badge-success span12">
                    {elseif $prod->PiecesAvailable < 5 && $prod->PiecesAvailable > 0}
                        <span class="badge badge-warning span12">
                    {elseif $prod->PiecesAvailable < 1 }
                            <span class="badge badge-inverse span12">
                        {/if}
<span class="span12 text-center">{_"In stock"}</span> <span class="prodAmount span12 text-center" n:snippet="prodAmount">{if $prod->PiecesAvailable > 0}{$prod->PiecesAvailable}{else}0{/if}</span></span>
                                                      

                            </div>
        
               <div class="span3 text-center">
                    <span class="badge badge-inverse span12">
                             <span class="span12 text-center">{_"Shipping"} {_'from'}</span> 
                             <h3 class="span12 text-center">{$shippingPrice|number},-</h3></span>                            
                            </div>
        
        <a href="{plink addToCart! $prod->ProductID, "1"}" class="span9 btn btn-primary margin5">
                <i class="icon-shopping-cart"></i> {_'Buy'}</a>
        </div>

   {/foreach}   
    
    
    
    <div class="span12">
        <h3 class="span12"><i class="icon-info-sign"></i> {_'Information about product'}</h3>
        <div class="span8">
         <div class="prodDescription span12 text-justified" n:snippet="prodDescription">{!$product->ProductDescription}</div>
         
         <div class="span12 product-gallery">
           
    <div class="span12">
            {if $user->isInRole('admin')}

                                {form addPhotoForm class => 'span9'}
                                {label image /}
                                {input image}

                                {input add}

                                {/form}
                                {/if}
         </div>
                <ul class="thumbnails span12">
                 {foreach $album as $id => $photo}
                                <li class="span10 thumbnail">
                                        <img style="" src="{$basePath}/images/{$albumID}/300-{$photo->PhotoURL}" alt="{$product->ProductName}">
                                    {if $user->isInRole('admin')}
                                       {if !$photo->CoverPhoto} <a href="{link coverPhoto! $product->ProductID, $photo->PhotoID}"><i class="icon-star" ></i> {_'Set as COVER image'}</a> {/if}
                                    <a href="{link deletePhoto! $product->ProductID, $photo->PhotoID}"><i class="icon-trash" ></i> {_'Delete image'}</a>
                                      {/if}
                                </li>

                         {/foreach}
                
                    {*foreach $album as $id => $photo}
                                <li class="span3">
                                    <a data-toggle="lightbox" href="#photo{$id}" class="thumbnail imgLiquid" style="height: 90px; width: 90px;">
                                        <img style="" src="{$basePath}/images/{$product->PhotoAlbumID}/300-{$photo->PhotoURL}" alt="{$product->ProductName}">
                                    </a>
                                    {if $user->isInRole('admin')}
                                       {if !$photo->CoverPhoto} <a href="{link coverPhoto! $product->ProductID, $photo->PhotoID}"><i class="icon-star" ></i> Set as COVER image</a> {/if}
                                    <a href="{link deletePhoto! $product->ProductID, $photo->PhotoID}"><i class="icon-trash" ></i> {_'Delete image'}</a>
                                      {/if}
                                </li>

                                {var $src = $basePath . '/images/' . $product->PhotoAlbumID .'/'.$photo->PhotoURL}
                                {control modalControl:gallery $id, $product->ProductName, $src }

                         {/foreach*}
                   </ul>
                        <div class="span12">
                            <iframe width="560" height="315" src="//www.youtube.com/embed/jwkXHG1IRZU?rel=0" frameborder="0" allowfullscreen></iframe>
                        </div>
                        </div>

        </div>
        
        <div class="span3">
            {control moduleControl:productModule 'document', $product->ProductID}
            
            {control moduleControl:productModule 'comment', $product->ProductID}
        </div>
                    </div>
    

    </div> <!-- class="span10" -->
{/block}

{block sidebar}
      
<div class="span2">
{if $user->isInRole('admin')}
    {control menu:admin}
{/if}
    <ul class="nav nav-list">
        <li class="nav-header">Menu</li>

          {control menu:side}
        
    </ul>
</div>
{/block}

{block script}

         {if $user->isInRole('admin')}           
      {snippet script}
<script>
    
    $('a.ajax').click(function(){
        $(this).html('<i class="icon-spinner icon-spin"></i>');
    });
    
</script>
{/snippet}
                            
<script>
    $(document).ready(function() {

            $('.nav-tabs').button();

            $('#editParamButton').toggle(function(){
                $('#editParam').modal('show');
              },
              function() {
                  $('#editParam').modal('hide');
              });

              {if $attr == 1}
                  $('#editParam').modal('show');
                  {/if}


              $('.prodTitle').editable( {link editProdTitle! $product->ProductID }, { 
                  type      : 'text',
                  cancel    : {_'Cancel'},
                  submit    : 'OK',
                  indicator : '<i class="icon-spinner icon-spin"></i>',
                  tooltip   : 'Click to edit ...',
                  callback : function(value, settings) {
                     var json = $.parseJSON(value);
                     $('.prodTitle').text(json.edit);
                 }
             });

             $('.prodDescription').editable( {link editProdDescription! $product->ProductID }, {
                  type      : 'wysiwyg',
                  onblur    : 'ignore',
                  cancel    : {_'Cancel'},
                  submit    : 'OK',
                  cssclass  : 'span10',
                  colls     : '15',
                  rows      : '15',
                  indicator : '<i class="icon-spinner icon-spin icon-large"></i>',
                  tooltip   : {_'Click to edit ...'},
                  wysiwyg   : { controls : { separator04         : { visible : true },
                                        insertOrderedList   : { visible : true },
                                        insertUnorderedList : { visible : true }
                         }
                  }, 
                 callback : function(value, settings) {
                     var json = $.parseJSON(value);
                     $('.prodDescription').html(json.edit);
                 }
          });

          $('.prodShort').editable( {link editProdShort! $product->ProductID }, {
                  type      : 'textarea',
                  onblur    : 'ignore',
                  cancel    : {_'Cancel'},
                  submit    : 'OK',
                  colls     : '6',
                  rows      : '7', 
                  indicator : '<i class="icon-spinner icon-spin icon-large"></i>',
                  tooltip   : {_'Click to edit ...'},
                  callback : function(value, settings) {
                     var json = $.parseJSON(value);
                     $('.prodShort').text(json.edit);
                 }
          });



          $('.prodAmount').editable( {link editProdAmount! $product->ProductID }, {
                  type      : 'text',
                  onblur    : 'ignore',
                  cancel    : {_'Cancel'},
                  submit    : 'OK', 
                  colls     : '4',
                  rows      : '3',
                  indicator : '<i class="icon-spinner icon-spin icon-large"></i>',
                  tooltip   : {_'Click to edit ...'},
                  callback : function(value, settings) {
                     var json = $.parseJSON(value);
                     $('.prodAmount').text(json.edit);
                 }
          });

          $('#editPrice').click(function(){
              $('#prodPrice').fadeOut(function(){
                $('#editProdPrice').fadeIn(); 
              $('#editPrice').hide();
              $('#editPriceOff').show();
              });

          });

          $('#editPriceOff').click(function(){
              $('#editProdPrice').fadeOut(function(){
                  $('#prodPrice').fadeIn();
                  $('#editPriceOff').hide();
              $('#editPrice').show();
              });

          })

          $('#priceSave').click(function(){
              $(this).attr('class', 'btn btn-primary disabled');
              $('#editPriceOff').hide();
              $('#editPrice').show();
          });

          $('.discountbtn').click(function(){
              $(this).attr('class', 'btn btn-primary disabled');
              $('#editPriceOff').hide();
              $('#editPrice').show();
          });
});
</script>

    {/if}
{/block}

    {block modal}
{if $user->isInRole('admin')}

                          

    {*control editControl:parameters $product->ProductID*}
                    <div id="editParam" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h3 id="myModalLabel"><i class="icon-list"></i> {_'Edit Specification'}</h3>
                                </div>
                                <div class="modal-body">
                                
                                    <div class="tabbable">

                                        <ul class="nav nav-tabs">
               {if $parameter} <li class="active"><a href="#editParams" data-toggle="tab"><i class="icon-pencil"></i> {_'Edit Specs'}</a></li> {/if}
                                            <li {if !$parameter}class="active"{/if}><a href="#addParam" data-toggle="tab"><i class="icon-plus"></i> {_'Add Spec'}</a>
               {if $parameter} <li><a href="#deleteParams" data-toggle="tab"><i class="icon-trash"></i> {_'Delete Spec'}</a></li> {/if}
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane {if $parameter}active{/if}" id="editParams">
                  {if $parameter} 
                                                <p>{_'Here you can edit all Spec assigned to this product. Edit values and then click Save Spec bellow.'}</p>
                        {control editParamForm} {/if}

                                            </div>

                                            <div class="tab-pane {if !$parameter}active{/if}" id="addParam">
                                                <p>{_'Add one of previously added Spec, or enter a new one bellow. Then click Add spec bellow.'}</p>
                          {control addParamForm}
                                            </div>
                {if $parameter}
                                            <div class="tab-pane" id="deleteParams">
                                                <p>{_'Check all specification you want to delete and then click Delete specs bellow.'}</p>
                              {control deleteParamForm}
                                            </div>
                {/if}
                                        </div>

                                    </div>
                                </div>
                                <div class="modal-footer">



                                    <button class="btn" data-dismiss="modal" aria-hidden="true">{_'Close without saving'}</button>
                                </div>

                            </div>


    {/if}


{/block}
