m:
    categories: 'Categories'
    choose-brand: 'Choose Brand'
    info: 'Info'
    blog-gal: 'Blog and Gallery'
    blog: "Blog"
    gallery: "Photo gallery"
    contact: "Contact"
    home: "Home"
    cart: 'Cart'
    track: "Track order"
    sign: "Sign In"
    brand: 'Brand'