cart:
    cart-title: 'Your cart'
    cart-info: 'Here you can complete your order. Just fill fields bellow.'
    cart-empty: 'It seems to be empty.'
    empty-one: 'Don´t worry and start'
    empty-two: 'SHOPPING NOW'
    product: 'Product'
    amount: 'Amount'
    price: 'Price'
    subtotal: 'Subtotal'
    total: 'Total'
    pcs: 'pcs'
    checkout: 'Continue checkout'
    shipping: 'Shipping'
    not-selected: 'not selected'
    grandtotal: 'Grand Total'
    choose-delivery: 'Choose your delivery option'
    shipping-sel: 'Selected shipping'
    fill-contact: 'Fill contact information'
    fill-payment: 'Select Payment method'
    fill-finish: 'Finish your order'
    terms-agreed: 'I accept Terms and condition.'
    item-price: 'Item price'
    total-price: 'Total price'
    payment: 'Payment'
done:
    order-title: 'Order summary'
    order-info: 'Complete summary order'
    status: 'Status'
    next: 'Next progress'
    paypal-info: 'Please pay your order by clicking on button Buy Now'
    thanks: 'Thank you for your order!'
    thank-message: 'We are currenty procesing your order. Here you can check order status. Link to this page has been sent to your email.'
    qa-title: 'Questions?'
    qa-button: 'Ask anything!'
    account: 'Your contact'
    orderinfo: 'Order data'
    address: 'Your address'
    qa-notes: 'Questions & notes'
info:
    name: 'Name'
    email: 'Email'
    phone: 'Phone'
    company: 'Company'
    street: 'Street'
    city: 'City'
    zip: 'ZIP'
    datecreated: 'Date created'
form:
    name: 'Jméno'
