{block bread}
{control menu:breadBlog $category->CategoryID}
{/block}

{block pageheader}
{if $user->isInRole('admin')}
<div class="row">
     
        <div class="col-md-11">
                <a href="#addPost" class="btn btn-default" data-toggel="modal" data-target="#addPostButton" id="addPostButton"><i class="icon-large icon-plus"></i> {_"Add Post"}</a>
                <div class="btn-group">
                <a href="#" class="btn btn-default"><i class="icon-large icon-bar-chart"></i> {_"Stats"}</a>
                </div>
                
                <div class="btn-group">
                    {if $category->CategoryStatus == 0}
  <a class="btn btn-default" href="{plink setCategoryStatus! $category->CategoryID, 1}"><i class="icon-large icon-eye-open"></i> {_'Publish category'}</a>
  {elseif $category->CategoryStatus == 1}
    <a class="btn btn-default" href="{plink setCategoryStatus! $category->CategoryID, 0}"><i class="icon-large icon-eye-close"></i> {_'Unpublish category'}</a></button>
     {/if}
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
      <li><a href="{plink setCategoryStatus! $category->CategoryID, 2}">{_'Feature category!'}</a></li>
      <li><a href="#deleteCategory" data-toggel="modal" data-target="#deleteCategory" id="deleteCategoryButton"><i class="icon-large icon-trash"></i> {_"Delete Category"}</a>
</li>
  </ul>
</div>
                </div>
    </div>
                {/if}
<div class="page-header">
        <h1 n:block="title">{$category->CategoryName}<small> {$category->CategoryDescription|striptags|truncate:50}</small></h1>    
</div>
  
{/block}
    
{block content}
<div class="col-md-12">    
    {include ../Blog/posts.latte}
</div>
{/block}

{block sidebar}
 <div class="col-md-3">   
    {if $user->isInRole('admin')}
        {control menu:admin}
    {/if}
    <ul class="nav nav-list">
                        <li class="nav-header">{_control.nav.menu}</li>
                        
                        {control menu:side}
                        <li class="divider"></li>
                    </ul>

            
 </div>
{/block}
            
{block script}
    {if $user->isInRole('admin')}
    <script>
        $(document).ready(function() {
            
            $('#addPostButton').toggle(function(){
              $('#addPost').modal('show');
            },
            function() {
                $('#addPost').modal('hide');
            });
            
                });
    

    </script>
    {/if}

{/block}
    
    {block modal}
    
{/block}
