{*block bread}
{control menu:breadBlog $post->CategoryID, $post->BlogID}
{/block*}
{block pageheader}
{if $user->isInRole('admin')}
<div class="row-fluid">
        <div class="span10" n:snippet="controlPanel">
            <div class="alert alert-error"><i class="icon-info-sign"></i> {_'You are logged in as admin. You can simply edit this text by clicking on Title, Content or panel bellow etc. More info?'}</div>

            <div class="btn-group" n:snippet="textStatus">
                        {if $post->StatusID != 1 }
                    <a href="{plink setStaticTextStatus! $post->StaticTextID, 1}" class="btn-primary btn ajax"><i class="icon-large icon-eye-open"></i> {_"Publish text"}</a>
                    {else}
                    <a href="{plink setStaticTextStatus! $post->StaticTextID, 2}" class="btn ajax"><i class="icon-large icon-eye-close"></i> {_"Unpublish text"}</a>
                    {/if}

                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    {if $post->StaticTextID > 3}
                    <ul class="dropdown-menu">
                         <li><a href="#deleteText" data-toggel="modal" data-target="#deleteText" id="deleteTextButton"><i class="icon-large icon-trash"></i> {_"Delete Text"}</a> </li>
                    </ul>
                    {/if}
                </div>
            
          

            <a href="#addPhoto" class="btn" data-toggel="modal" data-target="#addPhoto" id="addPhotoButton" ><i class="icon-large icon-camera-retro"></i> {_"Add Photo"}</a>
             <div class="btn-group">
            <a href="#editDesc" class="btn" data-toggel="modal" data-target="#editDesc" id="editDescButton" ><i class="icon-large icon-pencil"></i> {_"Edit Description"}</a> |

            <a href="#editDocs" class="btn" data-toggel="modal" data-target="#editDocs" id="editDocsButton"><i class="icon-large icon-download"></i> {_"Edit Documents"}</a> |
             </div>
            <a href="#" class="btn" ><i class="icon-large icon-bar-chart"></i> {_"Stats"}</a>         
        </div>
</div>
{/if}    

<div class="page-header">
    <h1 n:block="title"><span class="StaticTextName" n:snippet="StaticTextName">{$post->StaticTextName}</span> <small></small></h1>
        
</div>
{/block}

{block content}

<div class="span9">


    <div class="text-justified StaticTextContent" n:snippet="StaticTextContent">{!$post->StaticTextContent}</div>    
 {if $user->isInRole('admin')}   
    <ul class="thumbnails">
        <li class="thumbnail span8"><strong>{_'To add photos, upload them and then "Click to edit" and drag photos to editor.'}</strong></li>
{foreach $album as $id => $photo}
    
    <li class="span2">
        <span style="height: 50px; width: 50px;">
        <img  src="{$basePath}/images/static/{$albumID}/300-{$photo->PhotoURL}" alt="{$post->StaticTextName}">
        </span>
    </li>

{/foreach}
    </ul>
    {/if}
    
</div> <!-- class="span10" -->
{/block}

{block sidebar}
            <div class="span3">
{if $user->isInRole('admin')}
{control menu:admin}
{/if}


                <ul class="nav nav-list">
                    <li class="nav-header">Menu</li>
                    {control menu:side}
                    <li class="divider"></li>
                </ul>

               
            </div>
{/block}

{block script}
<script src="{$basePath}/js/bootstrap-lightbox.min.js"></script>

<script>
$(document).ready(function() {
$(".imgLiquid").imgLiquid({
    fill: true,
    fadeInTime: 0,
    delay: 0,
    horizontalAlign: "left",
    verticalAlign: "top"});
});
</script>

{if $user->isInRole('admin')}
    <script src="{$basePath}/js/droparea.js"></script>
<script>
$(document).ready(function() {

     $('#deleteTextButton').toggle(function(){
          $('#deleteText').modal('show');
        },
        function() {
            $('#deleteText').modal('hide');
        });

    $('#addPhotoButton').toggle(function(){
$('#addPhoto').modal('show');
},
function() {
$('#addPhoto').modal('hide');
});


    $('.StaticTextName').editable( {link editStaticTextName! $post->StaticTextID }, {
            type      : 'text',
            cancel    : {_'Cancel'},
            submit    : 'OK',
            indicator : '<i class="icon-spinner icon-spin"></i>',
            tooltip   : 'Click to edit...',
            callback : function(value, settings) {
               var json = $.parseJSON(value);
               $('.StaticTextName').text(json.edit);
           }
    });

    $('.StaticTextContent').editable( {link editStaticTextContent! $post->StaticTextID }, {
            type      : 'wysiwyg',
            onblur    : 'ignore',
            cancel    : {_'Cancel'},
            submit    : 'OK',
            cssclass  : 'span12',
            colls     : '15',
            rows      : '15',
            indicator : '<i class="icon-spinner icon-spin icon-large"></i>',
            tooltip   : {_'Click to edit ...'},
            wysiwyg   : { controls : { separator04         : { visible : true },
                           insertOrderedList   : { visible : true },
                           insertUnorderedList : { visible : true }
                        }
                        }, 
            callback : function(value, settings) {
                var json = $.parseJSON(value);
                $('.StaticTextContent').html(json.edit);
            }
    });
    
    
    
    
});

</script>

{/if}
{/block}

{block modal}
{if $user->isInRole('admin')}
<div id="deleteText" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel"><i class="icon-pencil"></i> {_'Delete'} {$post->StaticTextName} ?</h3>
    </div>
    <div class="modal-body">
        <p>{_'Are you sure to delete this text?'}</p>

    </div>
    <div class="modal-footer">
        <a href="{plink deleteStaticText! $post->StaticTextID}" class="btn btn-danger">{_'Delete'}</a>       
        <button class="btn" data-dismiss="modal" aria-hidden="true">{_'Close without adding'}</button>
    </div>
</div>

<div id="addPhoto" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="myModalLabel"><i class="icon-camera-retro"></i> Add new photo</h3>
</div>
<div class="modal-body">
<p>{_'Select photo and click Add photo'}</p>
<p></p>
</div>
<div class="modal-footer">
{control addPhotoStaticForm}
<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>
</div>
{/if}
{/block}