{block pageheader}
 <div class="page-header">
        <h1 n:block="title">Your cart <small>It seems to be empty.</small></h1>
        </div>
{/block}
{block content}
<div class="span12">
</div>
{/block}
