{var $robots = noindex}
{block pageheader}

        <div class="page-header">
            <h1 n:block="title"><i class="icon-shopping-cart"></i> {_'Your cart'} <small class="hidden-xs">{_'Here you can complete your order. Just fill fields bellow.'}</small></h1>
        </div>

{/block}
    
{block content}
<div class="col-md-12" n:snippet="cartTable">    
    <div class="table-responsive">
    <table class="table">
    <thead>
                <tr>
                    <th ></th>
                    <th>{_'Product'}</th>
                    <th >{_'Amount'}</th>
                    <th >{_'Price'}</th>
                    <th >{_'Subtotal'}</th>
                    <th></th>
                    
                </tr>
            </thead>
            
            <tbody >
{var $grandtotal = 0}
{foreach $cart as $id => $products}
    {foreach $products as $amnt => $product}
        {var $subtotal = $amnt * $product->FinalPrice}
                <tr>
                    <td><a n:href="removeItem! $id" class="ajax"><i class="icon-trash"></i></a></td>
                    
                    {if $product->ProductVariantName}
                    <td><a href="{plink Product:product $product->ProductVariants, $product->ProductName}">{$product->ProductName}</a> - {$product->ProductVariantName}</td>
                    {else}
                    <td><a href="{plink Product:product $product->ProductID, $product->ProductName}">{$product->ProductName}   </a></td>
                    {/if}
                    
                    <td><a href="{plink addAmount! $id}" class="ajax"><i class="icon-plus-sign"></i></a> {$amnt} {_'pcs'}
                        
                        <a href="{plink removeAmount! $id}" class="ajax"><i class="icon-minus-sign"></i></a></td>
                    <td><span>{$product->FinalPrice},-</span></td>
                    <td><span>{$subtotal},-</span></td>
                    <td></td>
                    
                </tr>
           {var $grandtotal = $grandtotal + $subtotal}
    {/foreach}
{/foreach}
               
                <tr>
                    <td></td>
                    <td><a href="#orderform" class="btn btn-danger btn-sm"><i class="icon-arrow-down"></i> {_'Continue checkout'}</a></td>
                    <td colspan="1"> <strong>{_'Shipping'}:</strong> <br>
                         <span class="shipping">{_'not selected'}</span></td>
                    <td colspan="2" class="text-left"> <strong>{_'Grand Total'}:</strong><br>
                        <span class="ordertotal">{$grandtotal},-</span></td>

                </tr>
                
            </tbody>
            
        </table>
    </div>
<div class="col-md-10">
    <div class="">
    
        
        {form cartForm role => form}
 <div class="col-md-11 margin5">           
<legend id="orderform"><span class="label label-success">1</span> {_'Choose your delivery option'}</legend>
    <div class="controls col-md-12">
       <div class="form-group col-md-5">
           {ifset $lowerShippers}
            {label shippers /}
            {/ifset}
             <div class="input-group">
           
            {input shippers}
            </div>
        </div>
        {ifset $lowerShippers}
         <div class="form-group col-md-5">
          {foreach $lowerShippers as $lower}
                {label lowerShippers$lower /}
             <div class="input-group">
                {input lowerShippers$lower}
            </div>
            {/foreach}
        
        </div>
        {/ifset}
        <div class="col-md-10 margin5"><strong>{_'Selected shipping:'} </strong><span class="shipping">{_'not selected'}</span></div>
    </div>
    </div>
 <div class="col-md-11 margin5">
<legend><span class="label label-success">2</span> {_'Fill contact information'}</legend>
            <div class="controls col-md-5">
                <div class="form-group">
                {label name /}
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-user"></i></span>
                {input name}
                </div></div>
                    <div class="form-group">
                {label phone /}
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-phone"></i></span>
                {input phone}
                </div></div>
                    <div class="form-group">
                {label email /}
                <div class="input-group">
                    <span class="input-group-addon">@</span>
                {input email}
                </div></div>
            </div>
            <div class="controls col-md-6">
                <div class="form-group">
                {label address /}
                {input address}
                </div>
                <div class="form-group">
                {label city /}
                {input city}
                </div>
                <div class="form-group">
                {label zip /}
                {input zip}
                </div>
            </div>    
 </div> 
 <div class="col-md-11 margin5">
<legend><span class="label label-success">3</span> {_'Select Payment method'}</legend>
            <div class="controls col-md-4">
                {label payment /}
                {input payment}
            </div>
 </div>
         <div class="col-md-11 margin5">
<legend><span class="label label-success">4</span> {_'Finish your order'}</legend>
            <div class="controls col-md-5">
                {input send}
                <hr>
                {input termButton}
                {_'I accept Terms and condition.'}
                
            </div>
             <div class="controls col-md-6">
                {label note /}
                {input note}
                 {input shipping}
            </div>
         </div>
        {/form}
    </div>
<div class="col-md-11 alert alert-success">   
                        <div class="col-md-2">                    
                            <i class="icon-shopping-cart icon-4x"></i></div>
                        <div class="col-md-10">
                            <h4 class="col-md-4"><strong class="col-md-12">{_'Products'}:</strong><br>
                                    <span class="col-md-12">{$grandtotal},-</span></h4>
                            <h4 class="col-md-4"><strong class="col-md-12">{_'Shipping'}:</strong> <br>
                                <span class="shipping col-md-12">{_'not selected'}</span></h4>
                            <h4 class="col-md-4"><strong class="col-md-12">{_'Total'}:</strong><br>
                                    <span class="ordertotal col-md-12">{$grandtotal},-</span></h4>
                        </div>
                    </div> 
    
    
    
      </div> 
{control modalControl:info terms, $terms->StaticTextName, $terms->StaticTextContent}
<script>

        var sp = new Array(); 
        {foreach $shippers as $id => $value}
                sp[{$id}] = {$value};
        {/foreach}
        
        
        var pm = new Array();
        {foreach $payment as $id => $value}
                pm[{$id}] = {$value};
        {/foreach}
        
       
        var shipping = 0;
        var payment = 0;

        $('select[name="shippers"]').change(function() {
            i = $('select[name="shippers"] option:selected').val();
            shipping = sp[i];
             var grandtotal = shipping + {$grandtotal} + payment;
        
        g = $('select[name="shippers"] option:selected').text();
        $('.shipping').html(g);
        $('.ordertotal').html(grandtotal + ',-'); 
        $('input[name=shipping]').val(i);
        //$('select[name="shippers"] option:selected').text().html().appendTo('#orderform');
        });
        
        
         {ifset $lowerShippers}
          {foreach $lowerShippers as $lower}
                    
        $('select[name="lowerShippers{!$lower}"]').change(function() {
            i = $('select[name="lowerShippers{!$lower}"] option:selected').val();
            shipping = sp[i];
             var grandtotal = shipping + {$grandtotal} + payment;
        $('input[name=shipping]').val(i);
        g = $('select[name="lowerShippers{!$lower}"] option:selected').text();
        $('.shipping').html(g);
        
        $('.ordertotal').html(grandtotal + ',-'); 
        });
        $('#sel0').fadeOut();
        
        $('#sel{!$lower}').fadeIn();
        
        {/foreach}
        {/ifset}
        
        
        $('select[name=payment]').change(function() {
            p = $('select[name=payment] option:selected').val();         
            payment = pm[p];

            var grandtotal = payment + {$grandtotal} + shipping;
        $('.ordertotal').html(grandtotal + ',-'); 
        });
        
            $('.ajax').click(function(){
    $(this).html('<i class="icon-spinner icon-spin"></i>');
});
</script>

</div>
{/block}

{block sidebar}
    
{/block}

    {block script}

{/block}

