
{block pageheader}
<div class="page-header">
        <h1 n:block="title">Order summary <small> Complete summary order.</small></h1>
</div>

{foreach $flashes as $flash}
            <div class="{$flash->type}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
    {$flash->message}</div>
    {/foreach}
{/block}


{block content}
<div class="span10">
       <div class="row">
            <table class="table table-hover span9">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Product Name</th>
                        <th>Amount</th>
                        <th>Item price</th>
                        <th>Total price</th>

                    </tr>
                </thead>
                <tbody>
    {var $grandtotal = 0}
    {foreach $products as $id => $product}


                    <tr>
                        <td>{if $product->PhotoAlbumID}
                     <img src="{$basePath}/images/{$product->PhotoAlbumID}/{$product->PhotoURL}" class="img-circle" style="width: 38px;"/>

                {else}
                   <img src="{$basePath}/images/no_image.jpg" class="img-circle" class="span2" style="width: 38px;"/>
                {/if}
                             {$product->ProductNumber}</td>
                        <td><a href="{plink Product:product $product->ProductID}">{$product->ProductName}</a></td>
                        <td>{$product->Quantity}</td>
                        <td>{$product->UnitPrice},-</td>
                        <td>{$subtotal = $product->Quantity * $product->UnitPrice},-</td>

                    </tr>
       {var $grandtotal += $subtotal}

    {/foreach}

                <div class="span9 alert alert-info">   
                    <div class="span1">                    
                        <i class="icon-shopping-cart icon-4x"></i></div>
                    <div class="span7">
                        <h3 class="span2"><strong class="span1">Products:</strong>
                                <span class="span1">{$grandtotal},-</span></h3>
                        <h3 class="span2"><strong class="span1">Shipping:</strong> 
                                <span class="shipping span1">{$shipping = $order->DeliveryPrice},-</span></h3>
                        <h3 class="span2"><strong class="span1">Total:</strong>
                                <span class="ordertotal span1">{$grandtotal += $shipping},-</span></h3>
                    </div>
                </div>

                </tbody>
            </table>
        </div>
            <div class="row">
            <div class="span4 alert alert-block">

                <div class="span4">
                    <p>
                    <i class="icon-calendar icon-large left"></i><strong> Date created:</strong>&nbsp;
                {$order->DateCreated|date:'%d.%m.%Y'}
                    </p>
                </div>

                <div class="span4">
                    <p>
                    <i class="icon-truck icon-large left"></i><strong> Shipping:</strong>&nbsp;
                {$order->DeliveryName}
                    </p>
                </div>
                <br>
                <div class="span4">
                    <p>
                    <i class="icon-money icon-large left"></i><strong> Payment:</strong>&nbsp;
                {$order->PaymentName}
                    </p>
                </div>
            </div>
                <div class="row">
            <div class="span4 alert alert-block">
                <div class="span4">
                    <p>
                    <i class="icon-spinner icon-spin left icon-large"></i><strong> Status:</strong>&nbsp;
                {$order->StatusName}
                    </p>
                </div>
                <br>
                <div class="progress progress-info active span4">
                    <div class="bar" style="width: 20%"></div>
                </div>
                <div class="span4">
                <ul class="inline">
                    <li>Next progress:</li>
                    {foreach $statuses as $id => $status}
                    {if !($iterator->isFirst())}
                    <li>{$status->StatusName}
                        {if !($iterator->isLast())}<i class="icon-arrow-right"></i>{/if}{if $iterator->isLast()}<i class="icon-ok"></i>{/if}</li>
                    {/if}
                    {/foreach}
                  </ul>
            </div>
            </div>
        </div>
            <div class="span4 alert alert-block">
            <div class="span4">
            <i class="icon-user left icon-large"></i><strong> Your contact:</strong>
            <p>
                <dl>
                    <dd><strong>Name:</strong> {$order->Name}</dd>
                    <dd><strong>Email:</strong> {$order->UsersID}</dd>
                    <dd><strong>Phone:</strong> {if $order->PhoneNumber != !''}{$order->PhoneNumber}{else}not available{/if}</dd>
                </dl>
            </p>
        {if $order->CompanyName != ""}
            <dl>
                <dt>Company:</dt>
                <dd>{$order->CompanyName}</dd>
            </dl>
        {/if}
            </div>
        </div>

        <div class="span4 alert alert-block">
            <div class="span4">
                 <i class="icon-home left icon-large"></i><strong> Your address:</strong>
            <dl>
                <dt>Shipping:</dt>
                <dd>{$order->StatusID}</dd>
            </dl>
            <dl>
                <dt>Invoice:</dt>
                <dd>{$order->PaymentName}</dd>
            </dl>
            </div>
        </div>
            </div>
        </div>

{/block}

{block sidebar}
<div class="span2">
<div class="alert alert-block">
    <p><i class="icon-info-sign"></i><strong> Thank you for your order!</strong><br>
    We are currenty working on your order. On this page you can see all info about
    your order, including current progress.
    </p>

</div>
<div class="alert alert-block">
    <p><i class="icon-envelope"></i><strong> Questions?</strong>
        <a href="#" class="btn btn-info">Ask anything!</a>
    </p>
</div>
</div>
{/block}