
{block content}
<div class="container">

  
<div class="page-header">
<h1 n:block="title">Orders <small>Here you see all orders placed in your shop.</small></h1>
</div>
<div class="row">

    <div class="span12">

        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Customer</th>
                    <th>Total Payment</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {foreach $orders as $id => $order}
                
                <tr class="{if $order->StatusID == 3}success {elseif $order->StatusID == 2} info {else} warning {/if}">
                    <td>{$id}</td>
                    <td>{$order->DateCreated|date:'%d.%m.%Y'}</td>
                    <td><a href="{plink Order:orderDone $id}">{$order->FirstName} {$order->SureName}</a></td>
                    <td>{$order->TotalPrice},-</td>
                    <td>{$order->StatusName}</td>
                </tr>
                
                {/foreach}
            </tbody>
        </table>


    </div>

</div>
    {if $user->isLoggedIn()}  
    {else}
    {*include '../Sign/in.latte'*}
    {/if}
</div>
{/block}