
{block pageheader}
<div class="page-header">
        <h1 n:block="title">{_'Order summary'} <small> {_'Complete summary order'}.</small></h1>
</div>

{/block}


{block content}
<div class="span9">
       <div class="row">
            <table class="table table-hover span8">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{_'Product Name'}</th>
                        <th>{_'Amount'}</th>
                        <th>{_'Item price'}</th>
                        <th>{_'Total price'}</th>

                    </tr>
                </thead>
                <tbody>
    {var $grandtotal = 0}
    {foreach $products as $id => $product}


                    <tr>
                        <td>{if $product->PhotoAlbumID}
                     <img src="{$basePath}/images/{$product->PhotoAlbumID}/{$product->PhotoURL}" class="img-circle" style="width: 38px;"/>

                {else}
                   <img src="{$basePath}/images/no_image.jpg" class="img-circle" class="span2" style="width: 38px;"/>
                {/if}
                             {$product->ProductNumber}</td>
                        <td><a href="{plink Product:product $product->ProductID}">{$product->ProductName}</a></td>
                        <td>{$product->Quantity}</td>
                        <td>{$product->UnitPrice},-</td>
                        <td>{$subtotal = $product->Quantity * $product->UnitPrice},-</td>

                    </tr>
       {var $grandtotal += $subtotal}

    {/foreach}

                <div class="span8 alert alert-info">   
                    <div class=".span1">                    
                        <i class="icon-shopping-cart icon-4x"></i></div>
                    <div class=".span7">
                        <h3 class="span2"><strong class="span1">{_'Products'}:</strong>
                                <span class="span1">{$grandtotal},-</span></h3>
                        <h3 class="span2"><strong class="span1">{_'Shipping'}:</strong> 
                                <span class="shipping span1">{$shipping = $order->DeliveryPrice},-</span></h3>
                        <h3 class="span2"><strong class="span1">{_'Total'}:</strong>
                                <span class="ordertotal span1">{$grandtotal += $shipping},-</span></h3>
                    </div>
                </div>

                </tbody>
            </table>
        </div>
         
    <div class="row">
            <div class="span3 alert alert-block">

                <div class="span4">
                    <p>
                    <i class="icon-calendar icon-large left"></i><strong> {_'Date created'}:</strong>&nbsp;
                {$order->DateCreated|date:'%d.%m.%Y'}
                    </p>
                </div>

                <div class="span4">
                    <p>
                    <i class="icon-truck icon-large left"></i><strong> {_'Shipping'}:</strong>&nbsp;
                {$order->DeliveryName}
                    </p>
                </div>
                <br>
                <div class="span4">
                    <p>
                    <i class="icon-money icon-large left"></i><strong> {_'Payment'}:</strong>&nbsp;
                {$order->PaymentName}
                    </p>
                </div>
            </div>
        
               
            <div class="span4 alert alert-block">
                <div class="span4">
                    <p>
                    <i class="icon-spinner icon-spin left icon-large"></i><strong> {_'Status'}:</strong>&nbsp;
                {$order->StatusName}
                    </p>
                </div>
                <br>
                <div class="progress progress-info active span4">
                    <div class="bar" style="width: 20%"></div>
                </div>
                <div class="span4">
                <ul class="inline">
                    <li>{_'Next progress'}:</li>
                    {foreach $statuses as $id => $status}
                    {if !($iterator->isFirst())}
                    <li>{$status->StatusName}
                        {if !($iterator->isLast())}<i class="icon-arrow-right"></i>{/if}{if $iterator->isLast()}<i class="icon-ok"></i>{/if}</li>
                    {/if}
                    {/foreach}
                  </ul>
            </div>
            </div>
   
        
            <div class="span3 alert alert-block">
            <div class="span4">
            <i class="icon-user left icon-large"></i><strong> {_'Your contact'}:</strong>
            <p>
                <dl>
                    <dd>{_'Name'}: <strong>{$order->Name}</strong></dd>
                    <dd>{_'Email'}: <strong>{$order->UsersID}</strong></dd>
                    <dd>{_'Phone'}: <strong>{if $order->PhoneNumber != !''}{$order->PhoneNumber}{else}not available{/if}</strong></dd>
                </dl>
            </p>
        {if $order->CompanyName != ""}
            <dl>
                <dt>{_'Company'}:</dt>
                <dd>{$order->CompanyName}</dd>
            </dl>
        {/if}
            </div>
        </div>

        <div class="span4 alert alert-block">
            <div class="span4">
                 <i class="icon-home left icon-large"></i><strong> {_'Your address'}:</strong>
            <dl>
              
                <dd>{_'Street'}: <strong>{$address->Street}</strong></dd>
                    <dd>{_'City'}: <strong>{$address->City}</strong></dd>
                    <dd>{_'ZIP'}: <strong>{$address->ZIPCode}</strong></dd>
            </dl>     
                 
            </div>
        </div>
            </div>
        </div>

{/block}

{block sidebar}
<div class="span3">
<div class="alert alert-block">
    <p><i class="icon-info-sign"></i><strong> Thank you for your order!</strong><br>
    We are currenty working on your order. On this page you can see all info about
    your order, including current progress.
    </p>

</div>
<div class="alert alert-block">
    <p><i class="icon-envelope"></i><strong> Questions?</strong>
        <a href="#" class="btn btn-info">Ask anything!</a>
    </p>
</div>
</div>
{/block}