{var $mail->from = "Birne <birne@birnex.com>" }
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Zpráva k objednávce {$orderId}</title>
    <style>
    body {
       
    }
    </style>
</head>
<body>
    <p>Dobrý den,</p>

    <p>Máme pro Vás zprávu k objednávce číslo {$orderId} od zákazníka {$customer}:</p>
    <p>{$note}</p>
</body>
</html>