{var $mail->from = $shopName . ' <' . $adminMail . '>' }
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{_'New note to order'} {$orderId}</title>
    <style>
    body {
       
    }
    </style>
</head>
<body>
    <p>{_'Hello from'} BIRNE<sup>shop</sup>,</p>

    <p>{_'You have new message to'} <strong>{_'order'} {_'#'}{$orderId}</strong> {_'from customer'} {$customer}:</p>
    <p>{$note}</p>
</body>
</html>