{var $mail->from = $email }
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{_'New message'}</title>
    <style>
    body {
       
    }
    </style>
</head>
<body>
    <p>{_'Hello from'} BIRNE<sup>shop</sup>!</p>

    <p>{_'You have new message from'} {$email} {_'about'} {$product}:</p>
    <p>{$note}</p>
</body>
</html>