{var $mail->from = $shopName . ' <' . $adminMail . '>' }
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Zpráva z eshopu</title>
    <style>
    body {
       
    }
    </style>
</head>
<body>
    <p>Dobrý den,</p>

    <p>Přišel Vám nový dotaz od {$email}!</p>
    <p>{$note}</p>
</body>
</html>