{var $mail->from = "Franta <franta@example.com>" }
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Potvrzení objednávky</title>
    <style>
    body {
       
    }
    </style>
</head>
<body>
    <p>Dobrý den,</p>

    <p>Vaše objednávka číslo {$orderId} byla přijata.</p>
    <p>Váš email: {$mailOrder}</p>
    <p>Status: {$status}</p>
</body>
</html>