{var $mail->from = $shopName . ' <' . $adminMail . '>' }
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{_'New message about your order'}</title>
    <style>
    body {
       
    }
    </style>
</head>
<body>
    <p>{_'Dear Sir'},</p>

    <p>{_'You have a new message about your order'} {_'#'}{$orderId}:</p>
    <p>{$note}</p>
</body>
</html>