{var $mail->from = $shopName . ' <' . $adminMail . '>' }
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{_'Order status'}</title>
    <style>
    body {
       
    }
    </style>
</head>
<body>
    <p>{_'Dear Sir'},</p>

    <p>{_'Your order'} #{$orderId} {_'moved to new status!'}</p>
    <p>{_'Current status:'} {$status}</p>
    <p>{_'Your order status can be followed:'} <a href="{$link}">{_'Tracking order'}</a></p>
</body>
</html>