<div class="col-xs-12 col-sm-6 col-md-6">
<div class="thumbnail miniproduct" n:snippet="product">
            
           {if $user->isInRole('admin')}

 
{control adminPanelControl:ProductMini $product->ProductID, $product->ProductStatusID, $product->CategoryID}
    
        {/if}
            
            <div class="col-md-12 col-xs-12 pull-left row">
                    {if $pieces > 5}
            <span class="label label-info">{$pieces}</span>
                    {elseif $pieces > 0}
            <span class="label label-warning">{$pieces} {_'LAST'}</span>
                    {else}
            <span class="label label-default"> {_'SOLD OUT'}</span>
                    {/if}
            {if $product->ProductStatusID == 3}
                <span class="label label-danger"><i class="icon-thumbs-up icon-large"></i> {_'HOT'}</span>
            {/if}
            {if $product->SALE > 1}
                <span class="label label-warning"><i class="icon-money icon-large"></i> {_'SALE'}</span>
            {/if}
            </div>
    
            
    <div class="row">
            <a class="col-md-6 col-xs-6" href="{plink Product:product $product->ProductID, $product->ProductName}"> 
                      {if $photo}
                           <img src="{$basePath}/images/{$albumID}/150-{$photo->PhotoURL}" class="img-responsive medium" alt="{$product->ProductName}"/>
                      {else}
                           <img src="{$basePath}/images/no_image.jpg" class="img-circle" class="img-circle img-responsive medium" alt="no image"/>
                      {/if}
               </a>          
                   
            <div class="col-md-6 col-xs-6 productCaption">
              <h4><a class="text-success" href="{plink Product:product $product->ProductID, $product->ProductName}">{$product->ProductName|truncate:70}</a></h4>
            </div>
    </div>
     <div class="row productButtons">
            <div class="col-md-12 btn-group btn-group-justified">
                
                        <a href="{plink addToCart! $product->ProductID, "1"}" class="ajax btn btn-success col-md-6 addToCart"><i class="icon-shopping-cart icon-large"></i> {_"Buy"}</a>
                         <a href="{plink Product:product $product->ProductID}" class="btn btn-primary col-md-5"><i class="icon-info-sign icon-large"></i> {_"View"}</a>         
            </div> 
            
            <div class="col-md-12">
                
                <p class="text-success text-center lead">{if $product->SALE > 1}<span class="muted col-md-1" style="text-decoration: line-through; font-size: 50%;">{$product->SellingPrice},-</span>{/if} {$product->FinalPrice},-</p>
               
            </div>
          </div>
</div>
</div>