{block bread}
{snippet bread}
{control menu:bread $category->CategoryID}
{/snippet}
{/block}

{define title}{$category->CategorySeoName}{/define}
{block pageheader}
{if $user->isInRole('admin')}
{control adminPanelControl:Category $category->CategoryID, $category->HigherCategoryID, $category->CategoryStatus, $category->CategoryPhoto}

   {/if}

<div class="col-md-12">
<div class="panel panel-default">
  <div class="panel-heading">{if $category->CategoryPhoto}
     <img src="{$basePath}/images/category/s-{$category->CategoryPhoto}" class="img-responsible img-circle pull-left" alt="{$category->CategorySeoName}" >
        {/if}
    <h1 class="CatTitle" n:snippet="CatTitle">{$category->CategoryName}</h1>

</div>
  <div class="panel-body">
    <small class="shortDesc muted">
    <span n:block="metadesc">
         
        <span class="CatDescription" n:snippet="CatDescription">{!$category->CategoryDescription}</span>
       
    </span> 
</small>

    {if $subcategories}
    <div class="col-md-11">
        <ul class="nav nav-pills">
        {foreach $subcategories as $catID => $cat}
            <li><a href="{plink Catalog:default $catID, $cat->CategoryName}"><i class="icon-chevron-sign-right"></i>  {$cat->CategoryName}</a></li>
        {/foreach}
      </ul>
    </div>  
    {/if}
      </div> </div>
</div>
{/block}

{block sidebar}
<div>   
    
    <ul class="nav nav-list">
        <li class="nav-header">Menu</li>

                        {control menu:$menuSide}
        <li class="divider"></li>
    </ul>

   
</div>
{/block}

{block content}
<div class="col-md-12 shopProducts" n:snippet="products">    
   <div class="btn-toolbar sortingMenu">
    <div class="btn-group">
        <a n:href="setFilter! 'price', 'ASC'" class="btn btn-default ajax">{_'Price'}</a>
        <a n:href="setFilter! 'price', 'ASC'" class="btn btn-default ajax"><i class="icon-sort-by-order"></i></a>
        <a n:href="setFilter! 'price', 'DESC'" class="btn btn-default ajax"><i class="icon-sort-by-order-alt"></i></a>
    </div>
    
    <div class="btn-group">
        <a n:href="setFilter! 'product', 'ASC'" class="btn btn-default ajax">{_'Name'}</a>
        <a n:href="setFilter! 'product', 'ASC'" class="btn btn-default ajax"><i class="icon-sort-by-alphabet"></i></a>
        <a n:href="setFilter! 'product', 'DESC'" class="btn btn-default ajax"><i class="icon-sort-by-alphabet-alt"></i></a>
        
    </div>
    
    <div class="btn-group">
        <a n:href="setFilter! 'sale', 'DESC'" class="btn btn-default ajax">{_'Sale'}</a>
        <a n:href="setFilter! 'sale', 'ASC'" class="btn btn-default ajax"><i class="icon-sort-up"></i></a>
        <a n:href="setFilter! 'sale', 'DESC'" class="btn btn-default ajax"><i class="icon-sort-down"></i></a>
    </div>
    
    <div class="btn-group">
        <a n:href="setFilter! 'pieces', 'DESC'" class="btn btn-default ajax">{_'In Stock'}</a>
        <a n:href="setFilter! 'pieces', 'ASC'" class="btn btn-default ajax"><i class="icon-sort-up"></i></a>
        <a n:href="setFilter! 'pieces', 'DESC'" class="btn btn-default ajax"><i class="icon-sort-down"></i></a>
    </div>
       </div>
<div class="row">
 
            {foreach $products as $id => $product}

                {control product:$productMiniLayout $product}

            {/foreach}
</div>
</div>    
{/block}

{block script}
    {if $user->isInRole('admin')}
<script>
    $(document).ready(function() {
        var amount = 1;

    $('#plusAmount').click(function() {
            var i = $('input[name=amount]').val();
            amount = parseInt(i) + 1;
        $('#frm-addProductForm-amount').val(amount);

        });

     $('#minusAmount').click(function() {
            var i = $('input[name=amount]').val();

            amount = parseInt(i);

            if(amount <= 0) {
                $('#frm-addProductForm-amount').val(0);
            }
            else {
                amount = amount -1;
                $('#frm-addProductForm-amount').val(amount);
            }
        });   

      
            
                  
        $('#addProductButton').toggle(function(){
          $('#snippet--newproduct').fadeIn();
          $('#addProductButton').text('Hide Product');
        },
        function() {
             $('#snippet--newproduct').fadeOut();
             $('#addProductButton').text('Add Product');
        });
        
        $('#addProductButtonHide').click(function(){
          $('#snippet--newproduct').fadeOut();
        });
            
         $('#addCategoryPhotoButton').toggle(function(){
          $('#addCategoryPhoto').modal('show');
        },
        function() {
            $('#addCategoryPhoto').modal('hide');
        });
            
            
        $('#deleteCategoryButton').toggle(function(){
          $('#deleteCategory').modal('show');
        },
        function() {
            $('#deleteCategory').modal('hide');
        });
        
        $('.CatTitle').editable( {link editCatTitle! $category->CategoryID }, { 
         type      : 'text',
         cancel    : {_'Cancel'},
         submit    : 'OK',
         indicator : '<i class="icon-spinner icon-spin"></i>',
         tooltip   : 'Click to edit ...',
         callback : function(value, settings) {
            var json = $.parseJSON(value);
            $('.CatTitle').text(json.edit);
        }
        });
        
        $('.CatDescription').editable( {link editCatDescription! $category->CategoryID }, {
         type      : 'wysiwyg',
         onblur    : 'ignore',
         cancel    : {_'Cancel'},
         submit    : 'OK',
         colls     : '15',
         rows      : '10',
         indicator : '<i class="icon-spinner icon-spin"></i>',
         tooltip   : '{_'Click to edit'} ...',
         wysiwyg   : { controls : { separator04         : { visible : true },
                               insertOrderedList   : { visible : true },
                               insertUnorderedList : { visible : true }
                }
         }, 
        callback : function(value, settings) {
            var json = $.parseJSON(value);
            $('.CatDescription').html(json.edit);
        }
        });
             
         $('li.parentcat').click(function() { 
            $(this).hide(); });
   });  
</script>
    {/if}
{/block}

    {block modal}

    {if $user->isInRole('admin')}

    
{/if}
{/block}
