{var $mail->from = $shopName . ' <' . $adminMail . '>' }
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>New note to order {$orderId}</title>
    <style>
    body {
       
    }
    </style>
</head>
<body>
    <p>Hello from BIRNE<sup>shop</sup>,</p>

    <p>You have new message to <strong>order {$orderId}</strong> from customer {$customer}:</p>
    <p>{$note}</p>
</body>
</html>