<tr>
    <td>
        <a href="{plink Product:product $product->ProductID, $product->ProductSeoName}">
                        {$product->ProductName}
        </a>
    </td>
    <td>
                    {$product->FinalPrice}
    </td>
    <td>
        <a href="{link unarchiveProduct! $product->CategoryID, $product->ProductID}" data-action="{_'PUBLISH'}" data-confirm="{_'You are about to'} {_'PUBLISH'} - {$product->ProductName|upper}. " title="{_'Publish product'}" class="btn btn-danger btn-sm"><i id="showProduct" class="icon-large icon-eye-open"></i> {_'Unarchive'}</a>
    </td>
</tr>

