<div class="col-xs-12 col-sm-12 col-md-12">
<div class="thumbnail miniproduct" n:snippet="product">
            
           {if $user->isInRole('admin')}

 
{control adminPanelControl:ProductMini $product->ProductID, $product->ProductStatusID, $product->CategoryID}
    
        {/if}
            
            <div class="col-md-12 col-xs-12 pull-left row">
                    {if $pieces > 5}
            <span class="label label-info">{$pieces}</span>
                    {elseif $pieces > 0}
            <span class="label label-warning">{$pieces} {_product.front.last}</span>
                    {else}
            <span class="label label-default"> {_product.front.sold-out}</span>
                    {/if}
            {if $product->ProductStatusID == 3}
                <span class="label label-danger"><i class="icon-thumbs-up icon-large"></i> {_product.front.hot}</span>
            {/if}
            {if $product->SALE > 1}
                <span class="label label-warning"><i class="icon-money icon-large"></i> {_product.front.sale}</span>
            {/if}
            </div>
    
    <div class="row">       
    <div class="col-md-8 col-sm-12 col-xs-12">
            <a class="col-md-6 col-xs-6" href="{plink Product:product $product->ProductID, $product->ProductSeoName}"> 
                      {if $photo}
                           <img src="{$basePath}/images/{$albumID}/m-{$photo->PhotoURL}" class="img-responsive medium" alt="{$product->ProductName}"/>
                      {else}
                           <img src="{$basePath}/images/no_image.jpg" class="img-circle" class="img-circle img-responsive medium" alt="no image"/>
                      {/if}
               </a>          
                   
            <div class="col-md-6 col-xs-6 productCaption">
              <h4><a class="text-success" href="{plink Product:product $product->ProductID, $product->ProductSeoName}">{$product->ProductName|truncate:70}</a></h4>
              <p>{$product->ProductShort}</p>
            </div>
    </div>
     <div class="col-md-4 col-sm-12 col-xs-12 productButtons">
              
            <div class="col-md-12 price">
                
                <h2 class="text-success text-center">{if $product->SALE > 1}<span class="muted col-md-1" style="text-decoration: line-through; font-size: 50%;">{$product->SellingPrice},-</span>{/if} {$product->FinalPrice},-</h2>
               
            </div>
         
            <div class="col-md-12 btn-group btn-group-justified">
                
                        <a href="{plink addToCart! $product->ProductID, "1"}" class="ajax btn btn-success col-md-6 addToCart"><i class="icon-shopping-cart icon-large"></i> {_control.button.buy}</a>
                         <a href="{plink Product:product $product->ProductID, $product->ProductSeoName}" class="btn btn-primary col-md-5 viewProduct"><i class="icon-info-sign icon-large"></i> {_control.button.view}</a>         
            </div> 
          
          </div>
      </div>
</div>
</div>