{if $status == 1}
<div class="panel panel-default">
    <div class="panel-heading"><strong><i class="icon-download"></i> {_'Docs'}</strong></div>
         <div class="panel-body">
            {if $docs}
                <ul class="nav">
                {foreach $docs as $id => $doc}
                <li><a href="{$basePath}/docs/{$product}/{$doc->DocumentURL}" title="{_'Download'} {$doc->DocumentName}"><i class="icon-download" ></i> {$doc->DocumentName}</a>- {$doc->DocumentDescription}
                                   {if $user->isInRole('admin')}
                        <a href="{link deleteDocument! $product, $doc->DocumentID}"><i class="icon-trash" ></i> {_'Delete document'}</a></li>
                                      {/if}
                              {/foreach}
                </ul>
                {/if}
           
            
             {if $user->isInRole('admin')}
             <div>
                 {form addDocumentationForm }
        <div class="form-group col-md-12">
            {label name /}
            <div class="input-group">
        {input name}
            </div>
        </div>
        <div class="form-group col-md-12">
            {label doc /}
            <div class="input-group">
        {input doc}
            </div>
        </div>
        <div class="form-group col-md-12">
            {label desc /}
            <div class="input-group">
        {input desc}
            </div>
        </div>
        {input add}

        {/form}
                 </div>
            <div class="col-md-12">
            <p class="muted"><i class="icon-info-sign"></i> {_'To remove this module visit'} <a href='{plink smartPanel:modules}' >{_'SmartPanel'}</a>
                </p>
                </div>
                                {/if}
            
         </div>
</div>
{elseif $user->isInRole('admin')}
<a n:href='installModule' class="btn btn-primary">{_'Add Documents module'}</a>
{/if}