 <li class="list-group-item col-md-11" n:snippet="variant">
 
  
<ul class="list-inline col-md-12">
    <li class="col-md-3">
    
    {if $productVariant->ProductVariantName}

 <h4 class="col-md-12 prodVarTitle{$productVariant->ProductID} col-md-12">{$productVariant->ProductVariantName}</h4>
    {else}
  <h4 class="col-md-12 col-md-12">{$productVariant->ProductName}</h4>
{/if}
    </li>
            <li n:snippet="prodPrice{$productVariant->ProductID}" class="col-md-3 text-center">
    {if $user->isInRole('admin')}
     <div id="editProdPrice{$productVariant->ProductID}" class="col-md-12" style="display: none;">
      <p>{_'Discount'}:</p>
           <div class="btn-group">

           <a href="{link setSale! $productVariant->ProductID, 5, 'percent'}" class="ajax btn btn-default discountbtn">5%</a>
           <a href="{link setSale! $productVariant->ProductID, 10, 'percent'}" class="ajax btn btn-default discountbtn">10%</a>
           <a href="{link setSale! $productVariant->ProductID, 15, 'percent'}" class="ajax btn btn-default discountbtn">15%</a>
           <hr>   
           </div>
       {control editPriceForm }
      </div>
    {/if}
   <div id="prodPrice{$productVariant->ProductID}" class="col-md-12 text-center">
             {if $productVariant->SALE > 0.1}
                       <span n:snippet="prodSale{$productVariant->ProductID}" class="">
                           <span class="">- {$productVariant->SALE} / {var $procent = 100 * ($productVariant->SALE / $productVariant->SellingPrice)} {$procent|number}%</span>
                           <span class="" style="text-decoration: line-through;">{$productVariant->SellingPrice},-</span>
                       </span>
      {/if}
       <h4 class="prodPrice">{$productVariant->FinalPrice},-</h4>

    </div>
</li>
   
<li class="col-md-3 text-center">

                    {if $productVariant->PiecesAvailable >= 5}
                    <span class="label label-success col-md-12">
                    {elseif $productVariant->PiecesAvailable < 5 && $productVariant->PiecesAvailable > 0}
                        <span class="label label-warning col-md-12">
                    {elseif $productVariant->PiecesAvailable < 1 }
                            <span class="label label-default col-md-12">
                        {/if}
<span class="col-md-12 text-center">{_"In stock"}</span> <span class="prodAmount{$productVariant->ProductID} col-md-12 text-center" n:snippet="prodAmount{$productVariant->ProductID}">{if $productVariant->PiecesAvailable > 0}{$productVariant->PiecesAvailable}{else}0{/if}</span></span>
                            <br>
    <span class="label label-default col-md-12">
                             <span class="">{_"Shipping"} {_'from'}</span> 
                             <span class="">{$shippingPrice|number},-</span></span>                            

</li>

<li class="col-md-3 col-xs-12 text-center">
     {if $user->isInRole('admin')}
    
 
                
    <div class="btn-group"> 
            <button class="btn btn-default" id="editPrice{$productVariant->ProductID}">{_'Edit Price'}</button>
            {if $productVariant->ProductVariantName}
<a class="btn btn-default ajax pull-left" href="{plink archiveVariantProduct! $productVariant->ProductID}"><i class="icon-trash"></i></a>
            {/if}
    </div>
        {else}
             <a href="{plink addToCart! $productVariant->ProductID, "1"}" class="btn btn-success ajax addToCart">
                <i class="icon-shopping-cart"></i> {_'Buy'}</a>
        {/if}  
    
</li>
        </ul>              
 
</li>