{* This is the welcome page, you can delete it *}
{block head}<title>Homepage</title>{/block}

{block pageheader}
<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target= "#myCarousel"  data-slide-to="0" class="active"></li>
        <li data-target= "#myCarousel"  data-slide-to="1"></li>
        <li data-target= "#myCarousel"  data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner jumbotron">
        <div class="item active">
            <!--<img src="{$basePath}/images/birne.jpg" alt=""> -->
            <div class="container">
                <div class="carousel-caption">
                    <h2>{_'Představujeme BIRNE SHOP!'}</h2>
                   <!--  <p class="lead">Jedinečný a dokonalý eshop právě pro Vás!</p>-->
                    <a class="btn btn-large btn-primary" href="#">{_'Začněte již dnes'}</a>
                </div>
            </div>
        </div>
        <div class="item">
            <!--<img src="{$basePath}/images/birne.jpg" alt=""> -->
            <div class="container">
                <div class="carousel-caption">
                   <h2>{_'Nejdou obchody? BIRNE SHOP!'}</h2>
                    <!-- <p class="lead">Řešení, které prostě funguje.</p>-->
                    <a class="btn btn-large btn-primary" href="#">{_'Zjistit více'}</a>
                </div>
            </div>
        </div>
        <div class="item">
            <!--<img src="{$basePath}/images/birne.jpg" alt=""> -->
            <div class="container">
                <div class="carousel-caption">
                    <h2>{_'Radost prodávat? BIRNE SHOP!'}</h2>
                    <!--<p class="lead">Provozovat eshop na naší platformě je radost!</p>-->
                    <a class="btn btn-large btn-primary" href="#">{_'Přesvědčete se'}</a>
                </div>
            </div>
        </div>
    </div>
 <!--   <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>-->
</div>

<hr>

{/block}

{block content}
<div class="span9" n:snippet="products">
      <ul class="thumbnails">
            {foreach $products as $id => $product}
    <li class="span3 setview miniproduct" n:snippet="product-{$product->ProductID}">
        <div class="thumbnail {$product->ProductStatusID == 1 ? alert} ">
           {if $user->isInRole('admin')}
            <div class="row">
            {ifCurrent Homepage:}
            <div class="span3">
                {_"You cannot edit product here!"}
            </div>
            {else}
            <div class="span3">
                {control productEdit $product->ProductID}
                
            </div>
            {/ifCurrent}
            </div>
            <hr>
            {/if}
<div class="row">            
            <div class="span3">
                    {if $product->PiecesAvailable > 5}
            <span class="badge badge-info">{$product->PiecesAvailable}</span>
                    {else}
            <span class="badge badge-warning">{$product->PiecesAvailable}</span>
                    {/if}
            </div>

      <a class="span3 imgLiquid" style="height: 150px; width: auto;" href="{plink Product:product $product->ProductID}"> 
            
                {if $product->PhotoAlbumID}
                     <img src="{$basePath}/images/{$product->PhotoAlbumID}/300-{$product->PhotoURL}" class="img-circle" />

                {else}
                   <img src="{$basePath}/images/no_image.jpg" class="img-circle" class="span2" style="height: 150px; width: auto;"/>
                {/if} 
     
         </a>          
                   
         <div class="caption .span3 productCaption">
            <h4><a href="{plink Product:product $product->ProductID}">{$product->ProductName}</a></h4>
            
            <p class="productCaptionText">{!$product->ProductShort|striptags|truncate:60}</p>
            </div>
            <hr>
            <div class="row .span3">
                <hr>
                    <div class="pr-btn">
                        <a href="{plink addToCart! $product->ProductID, "1"}" class="btn btn-success span1"><i class="icon-shopping-cart icon-large"></i> {_"Buy"}</a>
                         <a href="{plink Product:product $product->ProductID}" class="btn btn-primary span1"><i class="icon-info-sign icon-large"></i> {_"View"}</a>         
                    </div>
                
              </div> 
            
            <div class="row .span3">
                <hr>
                    <div class="span2">
                        <p class="text-success text-center lead">{$product->FinalPrice},- {if $product->SALE > 1}<span class="muted .span1" style="text-decoration: line-through; font-size: 50%;">{$product->SellingPrice},-</span>{/if} </p>
                    </div>
               
            </div> 

        </div>
        </div> <!--primary row -->
    </li>
                {*control product $product->ProductID*}
            {/foreach}
</ul>
</div> 


{/block}

{block sidebar}
<div class="span3">
        {if $user->isLoggedIn()}
        {control menu:admin}
        {/if}
       
    <ul class="nav nav-list">
                        <li class="nav-header">{_'Categories'}</li>
                        
                        {control menu NULL}
                        
                        <li class="divider"></li>
                    </ul>
    
    
      <ul class="nav nav-list">
                        <li class="nav-header">Menu</li>
                        
                        {control menu:side}
                        <li class="divider"></li>
                    </ul>
</div>
{/block}

{block script}
<script>

$('.carousel').carousel()

</script>
{/block}
