{block bread}
{snippet bread}
{*control menu:bread*}
{/snippet}
{/block}

{block pageheader}
<div class="page-header">
    <h1 n:block="title"><i class="icon-instagram"></i> {_'Photo gallery'} <small>{_'Check our image gallery.'}</small></h1>

</div>

{/block}
        
        
{block content}

<div class="col-md-11">
<ul class="thumbnails">
    {foreach $Albums as $album}
    {dump $album}
  <li class="col-md-4 thumbnail">
    <div class="">
         <a data-toggle="lightbox" href="{plink Homepage:photo $album->ProductID}" class="thumbnail">
      <img src="{$basePath}/images/{$album->PhotoAlbumID}/l-{$album->PhotoURL}" alt="{$album->PhotoAlbumName}" width="150">
         </a>
      <h3>{$album->PhotoAlbumName}</h3>
      <a href="{plink Homepage:photo $album->ProductID}" class="btn"><i class="icon-arrow-right"></i> {_'View gallery'}</a>
    </div>
  </li>
 {/foreach}
</ul>
    
</div>

{/block}

{block script}
{/block}