{block bread}
{snippet bread}
{*control menu:bread*}
{/snippet}
{/block}

{block pageheader}
<div class="page-header">
    <h1 n:block="title"><i class="icon-instagram"></i> {$product->ProductName} <small>{_'Check our product image gallery.'}</small></h1>
    <a href="{plink Homepage:photos}" class="btn"><i class="icon-arrow-left"></i> {_'Back to gallery'}</a>
    <a href="{plink Product:product $product->ProductID}" class="btn btn-primary"><i class="icon-arrow-right"></i> {_'Shop it NOW'}</a>
</div>

{/block}
        
        
{block content}

<div class="span10">
<ul class="thumbnails">
    {foreach $Albums as $id => $photo}
<li class="span3">
        <a data-toggle="lightbox" href="#photo{$id}" class="thumbnail imgLiquid" style="height: 250px; width: 250px;">
            <img style="" src="{$basePath}/images/{$photo->PhotoAlbumID}/300-{$photo->PhotoURL}" alt="{$photo->PhotoAlbumName}">
        </a>
    </li>

 {/foreach}
</ul>
    
</div>

{/block}

{block script}
<div n:snippet="script">
<script>
    
    $('a.ajax').click(function(){
        $(this).html('<i class="icon-spinner icon-spin"></i>');
    });
    
</script>
</div>

{/block}