{block bread}
{snippet bread}
{*control menu:bread*}
{/snippet}
{/block}

{block pageheader}
<div class="page-header">
    <h1 n:block="title"><i class="icon-search"></i> {_'Search'} <small>{_'Search and discover our eshop.'}</small></h1>

</div>

{/block}
        
        
{block content}
<div class="col-md-12">
    {if $query}
    
    <div class="col-md-10">
        <h4>{_'You are looking for'} <i>{$query}</i>? {_'We have found these results:'}</h4>
    </div>
    
    

    {if $categories}
    <div class="col-md-10">
        <h4>{_'Categories'}</h4>
  <table class="table">
              <tbody>        
{foreach $categories as $catid => $category}

        <tr> 
                  <td><a href="{plink Product:products $category->CategoryID, $category->CategoryName}">{$category->CategoryName}</a></td>
                  <td>{$category->CategoryDescription|striptags|truncate:50, '...'}</td>
                  
                </tr> 
        {/foreach}
                 </tbody>
            </table>
    </div>
    {/if}
    
    
    {if $products}
    <div class="col-md-10">
        <h4>{_'Products'}</h4>
        <div class="row homepageProductsList" n:snippet="products">
      
            {foreach $products as $id => $product}
               <div class="col-xs-12 col-sm-6 col-md-4">  
                 {control product:productMini $product}
               </div>
            {/foreach}

</div> 
    </div>
    {/if}
    
        
    {if $posts}
    <div class="col-md-10">
        <h4>{_'Posts'}</h4>
         <table class="table">
              <tbody>
        {foreach $posts as $postid => $post}
 <tr> 
                  <td><a href="{plink Blog:post $post->BlogID, $post->BlogName}">{$post->BlogName}</a></td>
                  <td>{$post->BlogContent|striptags|truncate:50, '...'}</td>
                  
                </tr>  

{/foreach}
         </tbody>
            </table>
    </div>
    {/if}
    
    {else}
    
    {control searchControl}
    <div class="col-md-12 margin5">
    {_'Cannot find what are you looking for?'} <a href="{plink Homepage:contact}" class="btn btn-primary"><i class="icon-phone"></i> {_'Contact us'}</a>
    </div>
    {/if}

</div>

{/block}


{block sidebar}
<div class="col-md-3">
    <ul class="nav nav-list">
        <li class="nav-header"><i class="icon-group icon-large"></i> {_'Company info'}</a></li>
        <li class="divider"></li>
        <li><strong>{$companyName}</strong></li>
        {if $companyPhone}
        <li><i class="icon-phone"></i> {$companyPhone}</li>
        {/if}
        <li><i class="icon-envelope"></i> {$companyMail}</li>
        <li class="divider"></li>
        <li><i class="icon-home"></i> <strong>{_'Address'}</strong></li>
        <li>{$companyAddress}</li>
    </ul>


</div>
{/block}


{block script}

{/block}