<div class="col-md-5 col-sm-6 col-xs-12">
{form searchForm class => form-inline}
   <div class="form-group">
       <div class="input-group col-md-12">
        <span class="input-group-addon"><i class="icon-search"></i></span>
        {input search}
         <span class="input-group-btn">
        {input srch}
         </span>
         </div>
      
    </div>
{/form}
</div>
