<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{block #title|striptags|trim|strip} {/block} {$shopName}</title>
        <meta name="description" content="{block #metadesc|striptags|strip|trim} {$shopDescription} {/block}">
        <meta name="robots" content="{$robots}" n:ifset="$robots">
        <link rel="shortcut icon" href="{$basePath}/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {control css}

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
        
       
        {ifCurrent Order:cart}
                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
        {/ifCurrent}

	{block head}{/block}
    </head>
   
<body>
    <script> document.body.className+=' js' </script>

    <nav class="navbar navbar-default navbar-static-top" role="navigation">
           <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="menuButton">{_'Menu'} <i class="icon-reorder icon-large"></i></span>
                 </button>
                    <a href="{plink Homepage:default}" class="nav-brand"><img src="{$basePath}/images/logo/{$shopLogo}" alt="{$shopName}" title="{$shopName}" class=""></a>
           </div>
               <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav nav-pills navbar-nav" n:snippet="menu">
                        {ifCurrent Product:products}
                            {control menu:$menuTop 1, $category->HigherCategoryID}
                        {else}
                           {ifCurrent Product:product}
                            {control menu:$menuTop 1, $product->CategoryID}
                           {else}
                               {control menu:$menuTop 1}
                            {/ifCurrent}
                        {/ifCurrent}
                   </ul>
                   {control searchControl:menu}

                   </div>
               </nav>
    
    <div class="shopMessages" n:snippet="flashMessages">
        {foreach $flashes as $flash}
           <div class="{$flash->type} text-center">
               <button type="button" class="close" data-dismiss="alert">&times;</button>
         {$flash->message}</div>
         {/foreach}
    </div>

    <div class="shopHead">
    <div class="container supercontainer shopLanguageBar margin5">
{include './components/languageBar.latte'}
    </div>

{if $user->isInRole('admin')}
    <div class="container supercontainer margin5">
    {include './components/layoutAdminInfo.latte'}
    </div>
{/if}
    </div>
    {block #slider}
<div class="shopSlider">   
 <div class="container supercontainer">
     {include './components/layoutSlider.latte'}
 </div></div>
    {/block}
    
<div class="shopContent">   
<div class="container supercontainer">
   {block #bread}{/block}

 <div id="content" class="row"> 
     

  {block #sidebars}

    <div class="col-md-2 shopSidebar col-sm-12 col-xs-12">  
        <div class="hidden-xs hidden-sm">        
                    <ul class="nav nav-pills nav-stacked">
                         {control menu:$menuSide}
                    </ul>
            {*block #sidebar}
            {/block*}
                <div>
        {if $bannerone->BannerLink == NULL}
                
            <img n:tag-if="$bannerone->BannerValue != FALSE" src="{$basePath}/images/banner/{$bannerone->BannerValue}" alt="{$shopName}" class="img-responsive">
            {else}
                <a href="{$bannerone->BannerLink}">
                    <img n:tag-if="$bannerone->BannerValue != FALSE" src="{$basePath}/images/banner/{$bannerone->BannerValue}" alt="{$shopName}" class="img-responsive">
                </a>
        {/if}

            </div>
       </div>
    </div>
  {/block}
        
        
  {block contents}
    <div class="col-md-10 shopInnerContent" n:snippet="content">

    {block #pageheader}
    {/block}
            
    {block #content}
    {/block}

    </div>     
  {/block}
      
    </div>
  </div>
</div>
        <div class="shopFooter">   
 <div class="container">

    <div class="footer">         
        <div class="col-md-9 margin5">
           <ul class="nav nav-pills"> 
           {control menu:$menuFooter}
           </ul>
            <p>{_'Cookies help us deliver our services. By using our services, you agree to our use of cookies.'}</p>
        </div>

        <div class="col-md-3">     
            <div class="col-md-6 text-left">
            &COPY; 2013 {$shopName} 
            </div>
            <div class="col-md-6 text-right">
                Powered by <a href="http://birnex.com">BIRNE<sup>shop</sup></a>
            </div>
        </div>
    </div>
                
{block modals}
  
    {include './components/layoutModals.latte'}
                
    {block #modal}
    {/block}

{/block}  
   </div>
</div>
	
                
{block scripts}
    {include './components/layoutScripts.latte'}
    {snippet script}
     {include './components/layoutScriptsAjax.latte'}
    {/snippet}
    
    {block #script}
    {/block}

{/block}   
        
        
    </body> 
</html>